@model SAT.HR.Models.UserCertificateViewModel

<button class="btn btn-primary btn-sm pull-right add-certificate" data-toggle="modal"> เพิ่มรายการ </button>
<div class="material-datatables">
    <table class="table table-certificate">
        <thead class="text-primary">
            <tr>
                <th style="width:5%">#</th>
                <th style="width:85%">ใบประกอบวิชาชีพ</th>
                <th style="width:10%">วันที่ได้รับ</th>
                <th style="width:10%" class="text-right">ปฏิบัติการ</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-certificate" tabindex="-1" role="dialog" aria-labelledby="modalCertificateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ใบประกอบวิชาชีพ</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="detail-certificate"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-certificate" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary save-certificate">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<script>

    var dataTable = {
        table: null,
        initializeDataTable: function () {
            var id = $("#UserID").val();

            $table = $('.table-certificate');
            dataTable.table = $table.DataTable({
                "proccessing": true,
                "serverSide": true,
                paging: false,
                bFilter: false,
                ordering: false,
                searching: true,
                language: { zeroRecords: "ไม่พบข้อมูล" },
                dom: 't',
                ajax: {
                    url: '@Url.Action("Certificate", "Employee")/' + id,
                    type: "POST",
                },
                "columns": [
                    { "data": "RowNumber", "orderable": false, "searchable": false },
                    { "data": "CerName", "orderable": true },
                    { "data": "UcRecDateText", "orderable": true }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            var inner = '<div class="td-actions pull-right">' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit" data-id="' + row.UcID + '"><i class="material-icons">edit</i></button>&nbsp;&nbsp;' +
                                            '<button title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.UcID + '"><i class="material-icons">close</i></button>' +
                                        '</div>';
                            return inner;
                        }, "targets": 3
                    },
                ]
            });

            dataTable.table.on('click', '.edit', function () {
                var userid = $("#UserID").val();
                var id = $(this).data("id");
                var url = '@Url.Action("CertificateDetail", "Employee")';
                $.post(url, { userid: userid, id: id }, function (data) {
                    $(".detail-certificate").html(data);
                    $('.modal-certificate').modal('show');
                });
            });

            dataTable.table.on('click', '.delete', function () {
                var id = $(this).data("id");
                swal({
                    title: '',
                    text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ConfirmDelete)",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteCertificate", "Employee")/' + id,
                        success: function (res) {
                            if (res.MessageCode == null) {
                                swal({
                                    title: "",
                                    text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.DeleteSucceed)",
                                    type: "success",
                                    confirmButtonClass: "btn btn-primary",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                    buttonsStyling: false
                                }).then(function () {
                                    dataTable.getData();
                                });
                            }
                            else {
                                swal({
                                    title: '',
                                    text: res.MessageText,
                                    type: 'error',
                                    confirmButtonClass: "btn btn-primary",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                                    buttonsStyling: false
                                }).catch(swal.noop);
                            }
                        }
                    });
                }).catch(swal.noop)
            });
        },
        getData: function () {
            if (dataTable.table == null)
                dataTable.initializeDataTable();
            else
                dataTable.table.ajax.reload();
        }
    }

    dataTable.getData();


    $(".add-certificate").click(function () {
        var userid = $("#UserID").val();
        var url = '@Url.Action("CertificateDetail", "Employee")';
        $.post(url, { userid: userid, id: 0 }, function (data) {
            $(".detail-certificate").html(data);
            $('.modal-certificate').modal('show');
        });
    });

    $(".save-certificate").click(function () {
        var $valid = $('.form-certificate').valid();
        if (!$valid) {
            if ($("#CerId").val() == '') {
                $('#CerId-error').text(''); //กรุณาระบุใบประกอบวิชาชีพ
            }
            return false;
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveCertificate", "Employee")',
                data: $(".form-certificate").serialize(),
                success: function (res) {
                    if (res.MessageCode == null) {
                        swal({
                            title: "",
                            text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                            type: "success",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                        }).then(function () {
                            $('.modal-certificate').modal('hide');
                            dataTable.getData();
                        });
                    }
                    else {
                        swal({
                            title: '',
                            text: res.MessageText,
                            type: 'error',
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                            buttonsStyling: false
                        }).catch(swal.noop)
                    }
                }
            });
        }
    });

</script>