@model SAT.HR.Models.UserCertificateViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-certificate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(m => m.UserID)
        @Html.HiddenFor(m => m.UcID)

        <div class="row occupation">
            @Html.Label("ใบประกอบวิชาชีพ: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9 m-t-10">
                @Html.DropDownListFor(n => n.CerId, new SelectList((IEnumerable<SelectListItem>)ViewBag.Certificate, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition selectpicker", data_show_subtext = "true", data_live_search = "true", required = "true" })
            </div>
        </div>
        <div class="row">
            @Html.Label("วันทีได้รับ: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UcRecDateText, new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
    </div>
}
<script>
    $('.selectpicker').selectpicker();


    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>