@model SAT.HR.Models.UserEducationViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-education" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(m => m.UserID)
        @Html.HiddenFor(m => m.UeID)
        @Html.HiddenFor(m => m.UeEduOfficial)
        @Html.HiddenFor(m => m.UeEduOfficialLevel)
        @Html.HiddenFor(m => m.UePartFile)
        @Html.Hidden("maxFileSize", (string)ViewBag.MaxFileSizeUpload)

        <div class="row">
            @Html.Label("ระดับการศึกษา: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10 m-t-10">
                @Html.DropDownListFor(n => n.EduID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Education, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition selectpicker", data_show_subtext = "true", data_live_search = "true", data_size = "5", required = "true" })
            </div>
        </div>
        <div class="row">
            @Html.Label("วุฒิการศึกษา: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10 m-t-10">
                @Html.DropDownListFor(n => n.DegID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Degree, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition selectpicker", data_show_subtext = "true", data_live_search = "true", data_size = "5", required = "true" })
            </div>
        </div>
        <div class="row">
            @Html.Label("สาขาวิชา: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10 m-t-10">
                @Html.DropDownListFor(n => n.MajID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Major, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition selectpicker", data_show_subtext = "true", data_live_search = "true", data_size = "5", required = "true" })
            </div>
        </div>
        <div class="row">
            @Html.Label("สถาบัน: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeInstituteName, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ประเทศ: ", null, new { @class = "col-sm-2 col-form-label m-b-10" })
            <div class="col-sm-10">
                @Html.DropDownListFor(n => n.CountryID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Country, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition selectpicker", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
            </div>
        </div>
        <div class="row m-t-10">
            @Html.Label("วันที่จบ: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UeGraduationDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
            </div>
        </div>
        <div class="row m-t-10">
            @Html.Label("เกรดเฉลี่ย: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UeGPA, new { @class = "form-control", type = "number", required = "true" })
            </div>
        </div>
        <div class="row m-t-10">
            @Html.Label("ประเภทวุฒิ: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9 m-t-10">
                <div class="col-sm-10 checkbox-radios">
                    <div class="col-sm-4 form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input UeEduOfficial" type="checkbox" aria-required="true"> วุฒิบรรจุ
                            <span class="form-check-sign"><span class="check"></span></span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input UeEduOfficialLevel" type="checkbox" aria-required="true"> วุฒิในระดับ
                            <span class="form-check-sign"><span class="check"></span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ไฟล์แนบ: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10" style="margin-top:5px;">
                <div class="input-group-prepend file-path">
                    <a style="margin-top:15px;" class="file-name" target="_blank" href=@Url.Action("DownloadEducation", "Employee", new { id = Model.UeID })>@Model.UePartFile</a>
                    <a class="btn btn-link btn-danger btn-just-icon file-delete" file-delete href="#" title="ลบ"><i class="material-icons">delete_forever</i></a>
                </div>
                <input id="fileUpload" name="fileUpload" type="file" class="form-control file-upload">
            </div>
        </div>
    </div>

}

<script>

    if ('@Model.UePartFile' != '') {
        $(".file-path").show();
        $(".file-upload").hide();
    }
    else {
        $(".file-path").hide();
        $(".file-upload").show();
    }

    if ('@Model' != null) {
        if ('@Model.UeEduOfficial' == 'True') {
            $(".UeEduOfficial").prop("checked", true);
        }

        if ('@Model.UeEduOfficialLevel' == 'True') {
            $(".UeEduOfficialLevel").prop("checked", true);
        }
    }

    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'th',
        date: moment().add(543, 'years'),
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });

    $(".UeEduOfficial").click(function () {
        var checked = $(this).is(':checked');
        if (checked) {
            $('#UeEduOfficial').val(true);
        }
        else {
            $('#UeEduOfficial').val(false);
        }
    });

    $(".UeEduOfficialLevel").click(function () {
        var checked = $(this).is(':checked');
        if (checked) {
            $('#UeEduOfficialLevel').val(true);
        }
        else {
            $('#UeEduOfficialLevel').val(false);
        }
    });

    $(".file-delete").click(function () {
        $("#UePartFile").val('');
        $(".file-upload").val('');
        $(".file-upload").show();
        $(".file-path").hide();
    });

</script>