@model SAT.HR.Models.EmployeeTransferDetailViewModel

<div class="form-horizontal">
    <div class="row">
        @Html.Label("พนักงาน: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.Hidden("EmpName")
            @Html.DropDownListFor(n => n.EmpID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Employee, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
        </div>
    </div>
    <div class="row">
        @Html.Label("ฝ่าย/กอง/งาน: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            <span class="label-text user-belong"></span>
        </div>
    </div>
    <div class="row">
        @Html.Label("ตำแหน่งปัจจุบัน: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            <span class="label-text user-po"></span>
        </div>
    </div>
    <div class="row">
        @Html.Label("ระดับ: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.Hidden("LevelOld")
            <span class="label-text user-level"></span>
        </div>
    </div>
    <div class="row">
        @Html.Label("ขั้น: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.Hidden("StepOld")
            <span class="label-text user-step"></span>
        </div>
    </div>
    <div class="row">
        @Html.Label("เงินเดือน: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.Hidden("SalaryOld")
            <span class="label-text user-salary"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
            <h5 class="card-title"><span>ระดับ/ขั้นที่ปรับ</span></h5>
        </div>
    </div>
    <div class="row">
        @Html.Label("ระดับ: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.Hidden("LevelNew")
            @Html.DropDownListFor(n => n.MlLevelNew, new SelectList((IEnumerable<SelectListItem>)ViewBag.SalaryLevel, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
        </div>
    </div>
    <div class="row">
        @Html.Label("ขั้น: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.Hidden("StepNew")
            @Html.DropDownListFor(n => n.MlStepNew, new SelectList((IEnumerable<SelectListItem>)ViewBag.SalaryStep, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
        </div>
    </div>
    <div class="row">
        @Html.Label("เงินเดือน: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.Hidden("SalaryNew")
            <span class="label-text new-salary"></span>
        </div>
    </div>
    <div class="row">
        @Html.Label("หมายเหตุ: ", null, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            <div class="form-group bmd-form-group">
                @Html.TextBoxFor(m => m.MlRemark, new { @class = "form-control", required = "true" })
            </div>
        </div>
    </div>
</div>

<script>

    $("#EmpID").change(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDetailByUser", "Master")',
            data: { userid: $('#EmpID').val() },
            dataType: 'json',
            success: function (res) {
                var belong = res.BelongTo;
                var poname = res.Position;
                var level = res.Level;
                var step = res.Step;
                var salary = res.Salary;
                $('.user-belong').text(belong);
                $('.user-po').text(poname);
                $('.user-level').text(level);
                $('.user-step').text(step);
                $('.user-salary').text(salary);
            }
        });
    });

    $("#MlLevelNew").change(function () {
        var level = $('#MlLevelNew').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SalaryByStep", "Master")',
            data: { level: level, step: 1 },
            dataType: 'json',
            success: function (res) {
                $('#MlStepNew').val('1.00');
                var salary = res.Salary;
                $('.new-salary').text(salary);
            }
        });
    });

    $("#MlStepNew").change(function () {
        var level = $('#MlLevelNew').val();
        var step = $('#MlStepNew').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SalaryByStep", "Master")',
            data: { level: level, step: step },
            dataType: 'json',
            success: function (res) {
                var salary = res.Salary;
                $('.new-salary').text(salary);
            }
        });
    });


</script>