@model SAT.HR.Models.UserFamilyViewModel

<div class="content">
    @Html.Hidden("FamilyType")

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บิดา</h5>
                    </div>
                    @if (@ViewBag.CountFather == 0)
                    {
                    <button class="btn btn-primary btn-sm pull-right add-father" data-toggle="modal" style="width:100px;"> เพิ่มบิดา </button>
                    }
                </div>
                <div class="card-body">
                    <div class="material-datatables">
                        <table class="table table-father">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width:17%">ชื่อ-สกุล</th>
                                    <th style="width:16%">เลขประจำตัวประชาชน</th>
                                    <th style="width:9%">วันเกิด</th>
                                    <th style="width:8%">อายุ</th>
                                    <th style="width:13%">สถานะการมีชีวิต</th>
                                    <th style="width:11%">สิทธิลดหย่อน</th>
                                    <th style="width:16%">เคยเป็นพนักงาน กกท.</th>
                                    <th style="width:10%" class="text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">มารดา</h5>
                    </div>
                    @if (@ViewBag.CountMother == 0)
                    {
                    <button class="btn btn-primary btn-sm pull-right add-mother" data-toggle="modal" style="width:100px;"> เพิ่มมารดา </button>
                    }
                </div>
                <div class="card-body">
                    <div class="material-datatables">
                        <table class="table table-mother">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width:17%">ชื่อ-สกุล</th>
                                    <th style="width:16%">เลขประจำตัวประชาชน</th>
                                    <th style="width:9%">วันเกิด</th>
                                    <th style="width:8%">อายุ</th>
                                    <th style="width:13%">สถานะการมีชีวิต</th>
                                    <th style="width:11%">สิทธิลดหย่อน</th>
                                    <th style="width:16%">เคยเป็นพนักงาน กกท.</th>
                                    <th style="width:10%" class="text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">คู่สมรส</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right add-spouse" data-toggle="modal" style="width:100px;"> เพิ่มคู่สมรส </button>
                </div>
                <div class="card-body">
                    <div class="material-datatables">
                        <table class="table table-spouse">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width:2%">#</th>
                                    <th style="width:15%">ชื่อ-สกุล</th>
                                    <th style="width:16%">เลขประจำตัวประชาชน</th>
                                    <th style="width:10%">วันเกิด</th>
                                    <th style="width:10%">วันที่สมรส</th>
                                    <th style="width:13%">สถานะการมีชีวิต</th>
                                    <th style="width:11%">สถานะสมรส</th>
                                    <th style="width:13%">อาชีพ</th>
                                    <th class="text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บุตร</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right add-child" data-toggle="modal" style="width:100px;"> เพิ่มบุตร </button>
                </div>
                <div class="card-body">
                    <div class="material-datatables">
                        <table class="table table-child">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width:2%">#</th>
                                    <th style="width:15%">ชื่อ-สกุล</th>
                                    <th style="width:16%">เลขประจำตัวประชาชน</th>
                                    <th style="width:10%">วันเกิด</th>
                                    <th style="width:10%">อายุ</th>
                                    <th style="width:13%">สถานะการมีชีวิต</th>
                                    <th style="width:24%">สถานะการศึกษา</th>
                                    <th class="text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-family" tabindex="-1" role="dialog" aria-labelledby="modalFamilyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ครอบครัว</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="detail-family"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-family" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary save-family">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<script>

    var dataTable = {
        tableFather: null,
        tableMother: null,
        tableSpouse: null,
        tableChild: null,
        initializeDataTableFatherMother: function (el, recid) {
            var id = $("#UserID").val();

            var table = el.DataTable({
                "proccessing": true,
                "serverSide": true,
                paging: false,
                bFilter: false,
                ordering: false,
                searching: true,
                language: { zeroRecords: "ไม่พบข้อมูล" },
                dom: 't',
                ajax: {
                    url: '@Url.Action("Family", "Employee")/' + id + "?recid=" + recid,
                    type: "POST",
                },
                "columns": [
                    { "data": "UfName", "orderable": true },
                    { "data": "UfCardID", "orderable": true },
                    { "data": "UfDOBText", "orderable": true },
                    { "data": "UfAge", "orderable": true },
                    { "data": "UfLifeStatusName", "orderable": true },
                    { "data": "TdName", "orderable": true },
                    { "data": "PoName", "orderable": true }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            var inner = '<div class="td-actions pull-right">' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit-family" data-id="' + row.UfID + '" data-rec-id="' + row.RecID +' "><i class="material-icons">edit</i></button>' +
                                        '</div>';
                            return inner;
                        }, "targets": 7
                    },
                ]
            });

            if (recid == 2) {
                dataTable.tableFather = table;
            }
            else if (recid == 3) {
                dataTable.tableMother = table;
            }
        },
        initializeDataTableSpouse: function (recid) {
            var id = $("#UserID").val();
            dataTable.tableSpouse = $('.table-spouse').DataTable({
                "proccessing": true,
                "serverSide": true,
                paging: false,
                bFilter: false,
                ordering: false,
                searching: true,
                language: { zeroRecords: "ไม่พบข้อมูล" },
                dom: 't',
                ajax: {
                    url: '@Url.Action("Family", "Employee")/' + id + "?recid=" + recid,
                    type: "POST",
                },
                "columns": [
                    { "data": "RowNumber", "orderable": false, "searchable": false },
                    { "data": "UfName", "orderable": true },
                    { "data": "UfCardID", "orderable": true },
                    { "data": "UfDOBText", "orderable": true },
                    { "data": "UfWeddingDateText", "orderable": true },
                    { "data": "UfLifeStatusName", "orderable": true },
                    { "data": "MaritalName", "orderable": true },
                    { "data": "OcName", "orderable": true }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            var inner = '<div class="td-actions pull-right">' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit-family" data-id="' + row.UfID + '" data-rec-id="' + row.RecID +' "><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-danger delete-family" data-id="' + row.UfID + '" data-rec-id="' + row.RecID +' "><i class="material-icons">close</i></button>'
                                        '</div>';
                            return inner;
                        }, "targets": 8
                    },
                ]
            });

        },
        initializeDataTableChild: function (recid) {
            var id = $("#UserID").val();
            dataTable.tableChild = $('.table-child').DataTable({
                "proccessing": true,
                "serverSide": true,
                paging: false,
                bFilter: false,
                ordering: false,
                searching: true,
                language: { zeroRecords: "ไม่พบข้อมูล" },
                dom: 't',
                ajax: {
                    url: '@Url.Action("Family", "Employee")/' + id + "?recid=" + recid,
                    type: "POST",
                },
                "columns": [
                    { "data": "RowNumber", "orderable": false, "searchable": false },
                    { "data": "UfName", "orderable": true },
                    { "data": "UfCardID", "orderable": true },
                    { "data": "UfDOBText", "orderable": true },
                    { "data": "UfAge", "orderable": true },
                    { "data": "UfLifeStatusName", "orderable": true },
                    { "data": "UfStudyStatusName", "orderable": true }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            var inner = '<div class="td-actions pull-right">' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit-family" data-id="' + row.UfID + '" data-rec-id="' + row.RecID + ' "><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-danger delete-family" data-id="' + row.UfID + '" data-rec-id="' + row.RecID + ' "><i class="material-icons">close</i></button>'
                                        '</div>';
                            return inner;
                        }, "targets": 7
                    },
                ]
            });

        },

        getDataFather: function () {
            if (dataTable.tableFather == null)
                dataTable.initializeDataTableFatherMother($('.table-father'), 2);
            else
                dataTable.tableFather.ajax.reload();
        },
        getDataMother: function () {
            if (dataTable.tableMother == null)
                dataTable.initializeDataTableFatherMother($('.table-mother'), 3);
            else
                dataTable.tableMother.ajax.reload();
        },
        getDataSpouse: function () {
            if (dataTable.tableSpouse == null)
                dataTable.initializeDataTableSpouse(4);
            else
                dataTable.tableSpouse.ajax.reload();
        },
        getDataChild: function () {
            if (dataTable.tableChild == null)
                dataTable.initializeDataTableChild(5);
            else
                dataTable.tableChild.ajax.reload();
        }
    }

    dataTable.getDataFather();
    dataTable.getDataMother();
    dataTable.getDataSpouse();
    dataTable.getDataChild();


    $('.modal-family').on('hidden.bs.modal', function () {
        $('.wedding').hide();
        $('.marital').hide();
        $('.lifestatus').hide();
        $('.taxdeduc').hide();
        $('.education').hide();
        $('.occupation').hide();
        $('.isworked').hide();
    })

    function displayDetail(recid) {
        if (recid == 2) {
            $('.lifestatus').show();
            $('.taxdeduc').show();
            $('.isworked').show();
        }
        else if (recid == 3) {
            $('.lifestatus').show();
            $('.taxdeduc').show();
            $('.isworked').show();
        }
        else if (recid == 4) {
            $('.wedding').show();
            $('.marital').show();
            $('.lifestatus').show();
            $('.taxdeduc').show();
            $('.occupation').show();
        }
        else if (recid == 5) {
            $('.lifestatus').show();
            $('.education').show();
        }
    }

    $(".add-father").click(function () {
        var userid = $("#UserID").val();
        var recid = 2;
        $("#FamilyType").val(recid);

        var url = '@Url.Action("FamilyDetail", "Employee")';
        $.post(url, { userid: userid, recid: recid, ufid: 0 }, function (data) {
            $(".detail-family").html(data);
            displayDetail(recid);
            $('.modal-family').modal('show');
        });
    });

    $(".add-mother").click(function () {
        var userid = $("#UserID").val();
        var recid = 3;
        $("#FamilyType").val(recid);

        var url = '@Url.Action("FamilyDetail", "Employee")';
        $.post(url, { userid: userid, recid: recid, ufid: 0 }, function (data) {
            $(".detail-family").html(data);
            displayDetail(recid);
            $('.modal-family').modal('show');
        });
    });

    $(".add-spouse").click(function () {
        var userid = $("#UserID").val();
        var recid = 4;
        $("#FamilyType").val(recid);

        var url = '@Url.Action("FamilyDetail", "Employee")';
        $.post(url, { userid: userid, recid: recid, ufid: 0 }, function (data) {
            $(".detail-family").html(data);
            displayDetail(recid);
            $('.modal-family').modal('show');
        });
    });

    $(".add-child").click(function () {
        var userid = $("#UserID").val();
        var recid = 5;
        $("#FamilyType").val(recid);

        var url = '@Url.Action("FamilyDetail", "Employee")';
        $.post(url, { userid: userid, recid: recid, ufid: 0 }, function (data) {
            $(".detail-family").html(data);
            displayDetail(recid);
            $('.modal-family').modal('show');
        });
    });


    $(".save-family").click(function () {
        var $valid = $('.form-family').valid();
        if (!$valid) {
            //if ($("#UfName").val() == '') {
            //    $('#UfName-error').text(''); //กรุณาระบุชื่อ-สกุล
            //}
            //if ($("#UfCardID").val() == '') {
            //    $('#UfCardID-error').text(''); //กรุณาระบุเลขประจำตัวประชาชน
            //}
            return false;
        }
        else {
            var recid = $("#FamilyType").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveFamily", "Employee")',
                data: $(".form-family").serialize(),
                success: function (res) {
                    if (res.MessageCode == null) {
                        swal({
                            title: "",
                            text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                            type: "success",
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                            buttonsStyling: false
                        }).then(function () {
                            if (recid == 2) {
                                $(".add-father").hide();
                                dataTable.getDataFather();
                            }
                            else if (recid == 3) {
                                $(".add-mother").hide();
                                dataTable.getDataMother();
                            }
                            else if (recid == 4)
                                dataTable.getDataSpouse();
                            else if (recid == 5)
                                dataTable.getDataChild();

                            $('.modal-family').modal('hide');
                        });
                    }
                    else {
                        swal({
                            title: '',
                            text: res.MessageText,
                            type: 'error',
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                            buttonsStyling: false
                        }).catch(swal.noop)
                    }
                }
            });
        }
    });

    function EditFamily(ufid, recid) {
        $("#FamilyType").val(recid);
        var userid = $("#UserID").val();
        var url = '@Url.Action("FamilyDetail", "Employee")/'+ userid + "?recid=" + recid;
        $.post(url, { userid: userid, recid: recid, ufid: ufid }, function (data) {
            $(".detail-family").html(data);
            displayDetail(recid);
            $('.modal-family').modal('show');
        });
    }

    function DeleteFamily(ufid, recid) {
        swal({
            title: '',
            text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ConfirmDelete)",
            type: 'question',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
            cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
            buttonsStyling: false
        }).then(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteFamily", "Employee")/' + ufid,
                success: function (res) {
                    if (res.MessageCode == null) {
                        swal({
                            title: "",
                            text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.DeleteSucceed)",
                            type: "success",
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                            buttonsStyling: false
                        }).then(function () {
                            if (recid == 2)
                                dataTable.getDataFather();
                            else if (recid == 3)
                                dataTable.getDataMother();
                            else if (recid == 4)
                                dataTable.getDataSpouse();
                            else if (recid == 5)
                                dataTable.getDataChild();
                        });
                    }
                    else {
                        swal({
                            title: '',
                            text: res.MessageText,
                            type: 'error',
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                            buttonsStyling: false
                        }).catch(swal.noop);
                    }
                }
            });
        }).catch(swal.noop)
    }


    dataTable.tableFather.on('click', '.edit-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        EditFamily(ufid, recid);
    });
    dataTable.tableFather.on('click', '.delete-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        DeleteFamily(ufid, recid);
    });

    dataTable.tableMother.on('click', '.edit-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        EditFamily(ufid, recid);
    });
    dataTable.tableMother.on('click', '.delete-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        DeleteFamily(ufid, recid);
    });

    dataTable.tableSpouse.on('click', '.edit-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        EditFamily(ufid, recid);
    });
    dataTable.tableSpouse.on('click', '.delete-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        DeleteFamily(ufid, recid);
    });

    dataTable.tableChild.on('click', '.edit-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        EditFamily(ufid, recid);
    });
    dataTable.tableChild.on('click', '.delete-family', function () {
        var ufid = $(this).data("id");
        var recid = $(this).data("rec-id");
        DeleteFamily(ufid, recid);
    });

</script>