
<style>
    .table thead tr th {
        font-size: 15px;
    }

    .card [class*=card-header-] .card-text {
        border-radius: 3px;
        background-color: #999;
        padding: 5px;
        margin-top: -20px;
        margin-right: 8px;
        float: left;
        font-size: 5px;
    }

    .w-title {
        width: 60px;
        margin-left: 10px;
    }

    .bmd-label-Selected {
        color: #AAA;
        top: -1rem;
        font-size: .6875rem;
    }

    .bmd-form-group .bmd-label-fixed {
        top: -1rem;
        font-size: .6875rem;
    }

    .m-t-10 {
        margin-top:10px;
    }

</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บิดา</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd" style="width:100px;"> เพิ่มบิดา </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สิทธิลดหย่อน</th>
                                    <th>เคยเป็นพนักงาน กกท.</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">มารดา</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd" style="width:100px;"> เพิ่มมารดา </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สิทธิลดหย่อน</th>
                                    <th>เคยเป็นพนักงาน กกท.</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">คู่สมรส</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd" style="width:100px;"> เพิ่มคู่สมรส </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>วันที่สมรส</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>อาชีพ</th>
                                    <th>สถานะสมรส</th>
                                    <th>วันที่หย่าร้าง</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บุตร</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd" style="width:100px;"> เพิ่มบุตร </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สถานะการศึกษา</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Classic Modal -->
<div class="modal fade modal-large" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ประเภทการเคลื่อนไหว</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="container-fluid">
                        <div class="card-body">
                            <div class="row m-t-10">
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ชื่อ-สกุล", null, new { @class = "bmd-label-floating bmd-label-fixed" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("เลขประจำตัวประชาชน", null, new { @class = "bmd-label-floating bmd-label-fixed" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("วันเกิด", null, new { @class = "bmd-label-floating bmd-label-fixed" })
                                        <input type="text" class="form-control datepicker">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("อายุ", null, new { @class = "bmd-label-floating bmd-label-fixed" })
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.Label("สถานะการมีชีวิต", null, new { @class = "label-select" })
                                        <select class="form-control custom-select" tabindex="-98" data-style="select-with-transition">
                                            <option>-- กรุณาเลือก --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.Label("สิทธิลดหย่อน", null, new { @class = "label-select" })
                                        <select class="form-control custom-select" tabindex="-98" data-style="select-with-transition">
                                            <option>-- กรุณาเลือก --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-check mr-auto">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" required="" aria-required="true"> เคยเป็นพนักงาน กกท.
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary" id="btnSave">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->
