@model SAT.HR.Models.UserFamilyViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-family" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(m => m.UserID)
        @Html.HiddenFor(m => m.RecID)
        @Html.HiddenFor(m => m.UfID)

        <div class="row">
            @Html.Label("ชื่อ-สกุล: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UfName, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("เลขประจำตัวประชาชน: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UfCardID, new { @class = "form-control", type = "number", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันเกิด: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UfDOB, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row wedding">
            @Html.Label("วันที่สมรส: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UfWeddingDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row marital">
            @Html.Label("สถานะสมรส: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-3">
                @Html.DropDownListFor(n => n.MaritalStatusID, new SelectList((IEnumerable<SelectListItem>)ViewBag.MaritalStatus, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition ufMaritalStatusID", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
            </div>
            @Html.Label("วันที่หย่าร้าง: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.DivorceDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row lifestatus">
            @Html.Label("สถานะการมีชีวิต: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9 m-t-5">
                <div class="col-sm-10 checkbox-radios">
                    <div class="col-sm-4 form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.UfLifeStatus, true, new { @class = "form-check-input" }) มีชีวิตอยู่
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.UfLifeStatus, false, new { @class = "form-check-input" }) เสียชีวิต
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row taxdeduc">
            @Html.Label("สิทธิลดหย่อน: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9 m-t-10">
                <div class="col-sm-10 checkbox-radios">
                    <div class="col-sm-4 form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.TdStatus, true, new { @class = "form-check-input" }) ใช้สิทธิ
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.TdStatus, false, new { @class = "form-check-input" }) ไม่ใช้สิทธิ
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row education">
            @Html.Label("สถานะศึกษา: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9 m-t-20">
                <div class="col-sm-10 checkbox-radios">
                    <div class="col-sm-4 form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.UfStudyStatus, true, new { @class = "form-check-input" }) ศึกษาอยู่
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.UfStudyStatus, false, new { @class = "form-check-input" }) ไม่ได้ศึกษา
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row occupation">
            @Html.Label("อาชีพ: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9 m-t-10">
                @Html.DropDownListFor(n => n.OcID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Occupation, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
            </div>
        </div>
        <div class="row isworked">
            <div class="col-sm-3 m-t-20"><label class="form-check">เคยเป็นพนักงาน กกท.</label></div>
            <div class="col-sm-1 m-t-10">
                <div class="form-check mr-auto">
                    <label class="form-check-label">
                        <input class="form-check-input ufIsworked" type="checkbox" aria-required="true">
                        <span class="form-check-sign"><span class="check"></span></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-8 m-t-20">
                @Html.DropDownListFor(n => n.PoID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Position, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker ufPosition", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
            </div>  
        </div>
        <div class="row">            
                <div class="col-sm-4 m-t-20">
                    <span>เลือกฝ่าย กอง งาน</span>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.Label("ฝ่าย", null, new { @class = "bmd-label-fixed" })
                        @Html.DropDownListFor(n => n.DivID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Division, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
                    </div>
                    <div class="form-group">
                        @Html.Label("กอง", null, new { @class = "bmd-label-fixed" })
                        @Html.DropDownListFor(n => n.DepID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Department, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
                    </div>
                    <div class="form-group">
                        @Html.Label("งาน", null, new { @class = "bmd-label-fixed" })
                        @Html.DropDownListFor(n => n.SecID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Section, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
                    </div>
                </div>               
          </div>
    </div>
}

<script>

    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });


    $('.wedding').hide();
    $('.marital').hide();
    $('.lifestatus').hide();
    $('.taxdeduc').hide();
    $('.education').hide();
    $('.occupation').hide();
    $('.isworked').hide();


    $('input[name="rdoLifestatus"]:radio').change(function () {
        var life = $("input[name='rdoLifestatus']:checked").val();
        var value = (life == '1') ? true : false;
        $("#UfLifeStatus").val(value);
    });

    $('input[name="rdoTaxdeduc"]:radio').change(function () {
        var tax = $("input[name='rdoTaxdeduc']:checked").val();
        $("#TdID").val(tax)
    });

    $('input[name="rdoEducation"]:radio').change(function () {
        var edu = $("input[name='rdoEducation']:checked").val();
        var value = (edu == '1') ? true : false;
        $("#UfStudyStatus").val(value)
    });

    $(".ufIsworked").click(function () {
        var checked = $(this).is(':checked');
        if (checked) {
            $(".ufPosition").prop("disabled", false);
        }
        else {
            $(".ufPosition").val('');
            $(".ufPosition").prop("disabled", true);
        }
    });

        $('select[name=DivID]').change(function () {
        var type = $("#UserType").val();
        var divid = $('select[name=DivID]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDepartment", "Master")',
            data: { divid: divid, type: type },
            dataType: 'json',
            success: function (res) {
                $('select[name=DepID]').empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                $.each(res, function (key, entry) {
                    $('select[name=DepID]').append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                });
                $('select[name=DepID]').selectpicker('refresh');

                $('select[name=SecID]').empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                $('select[name=SecID]').selectpicker('refresh');
                $('select[name=PoID]').empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                $('select[name=PoID]').selectpicker('refresh');
            }
        });
    });

    $('select[name=DepID]').change(function () {
        var type = $("#UserType").val();
        var divid = $('select[name=DivID]').val();
        var depid = $('select[name=DepID]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSection", "Master")',
            data: { divid: divid, depid: depid, type: type },
            dataType: 'json',
            success: function (res) {
                $('select[name=SecID]').empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                $.each(res, function (key, entry) {
                    $('select[name=SecID]').append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                });
                $('select[name=SecID]').selectpicker('refresh');

                $('select[name=PoID]').empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                $('select[name=PoID]').selectpicker('refresh');
            }
        });
    });

    $('select[name=SecID]').change(function () {
        var type = $("#UserType").val();
        var divid = $('select[name=DivID]').val();
        var depid = $('select[name=DepID]').val();
        var secid = $('select[name=SecID]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetPosition", "Master")',
            data: { divid: divid, depid: depid, secid: secid, type: type },
            dataType: 'json',
            success: function (res) {
                $('select[name=PoID]').empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                $.each(res, function (key, entry) {
                    $('select[name=PoID]').append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                });
                $('select[name=PoID]').selectpicker('refresh');
            }
        });
    });

</script>