@model SAT.HR.Models.UserFamilyViewModel


<div class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บิดา</h5>
                    </div>
                    @if (Model.ListFather.Count == 0)
                    {
                        <button class="btn btn-primary btn-sm pull-right add-father" data-toggle="modal" style="width:100px;"> เพิ่มบิดา </button>
                    }
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สิทธิลดหย่อน</th>
                                    <th>เคยเป็นพนักงาน กกท.</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListFather)
                                {
                                <tr>
                                    <td>@item.UfName</td>
                                    <td>@item.UfCardID</td>
                                    <td>@item.UfDOB</td>
                                    <td>@item.UfAge</td>
                                    <td>@item.UfLifeStatusName</td>
                                    <td>@item.TdName</td>
                                    <td>@item.PoName</td>
                                    <td><button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit-family" data-id="' +  @item.UfID + '"><i class="material-icons">edit</i></button></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">มารดา</h5>
                    </div>
                    @if (Model.ListMother.Count == 0)
                    {
                    <button class="btn btn-primary btn-sm pull-right add-mother" data-toggle="modal" style="width:100px;"> เพิ่มมารดา </button>
                    }
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สิทธิลดหย่อน</th>
                                    <th>เคยเป็นพนักงาน กกท.</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListMother)
                                {
                                <tr>
                                    <td>@item.UfName</td>
                                    <td>@item.UfCardID</td>
                                    <td>@item.UfDOB</td>
                                    <td>@item.UfAge</td>
                                    <td>@item.UfLifeStatusName</td>
                                    <td>@item.TdName</td>
                                    <td>@item.PoName</td>
                                    <td><button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit-family" data-id="' +  @item.UfID + '"><i class="material-icons">edit</i></button></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">คู่สมรส</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right add-spouse" data-toggle="modal" style="width:100px;"> เพิ่มคู่สมรส </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>วันที่สมรส</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>อาชีพ</th>
                                    <th>สถานะสมรส</th>
                                    <th>วันที่หย่าร้าง</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1;}
                                @foreach (var item in Model.ListSpouse)
                                {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.UfName</td>
                                    <td>@item.UfCardID</td>
                                    <td>@item.UfDOB</td>
                                    <td>@item.UfWeddingDate</td>
                                    <td>@item.UfLifeStatusName</td>
                                    <td>@item.OcName</td>
                                    <td>@item.MaritalName</td>
                                    <td>@item.DivorceDate</td>
                                    <td><button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit-family" data-id="' +  @item.UfID + '"><i class="material-icons">edit</i></button></td>
                                </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h5 class="card-title w-title">บุตร</h5>
                    </div>
                    <button class="btn btn-primary btn-sm pull-right add-child" data-toggle="modal" style="width:100px;"> เพิ่มบุตร </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อ-สกุล</th>
                                    <th>เลขประจำตัวประชาชน</th>
                                    <th>วันเกิด</th>
                                    <th>อายุ</th>
                                    <th>สถานะการมีชีวิต</th>
                                    <th>สถานะการศึกษา</th>
                                    <th>ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 1;}
                                @foreach (var item in Model.ListChild)
                                {
                                <tr>
                                    <td>@index</td>
                                    <td>@item.UfName</td>
                                    <td>@item.UfCardID</td>
                                    <td>@item.UfDOB</td>
                                    <td>@item.UfAge</td>
                                    <td>@item.UfLifeStatusName</td>
                                    <td>@item.UfStudyStatusName</td>
                                    <td><button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit-family" data-id="' +  @item.UfID + '"><i class="material-icons">edit</i></button></td>
                                </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.TextBox("RecID")


</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-family" tabindex="-1" role="dialog" aria-labelledby="modalFamilyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ครอบครัว</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div id="detail-family"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary save-family">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->


<script>

    hideRow();

    function hideRow() {
        $('.wedding').hide();
        $('.marital').hide();
        $('.divorce').hide();
        $('.lifestatus').hide();
        $('.taxdeduc').hide();
        $('.education').hide();
        $('.occupation').hide();
        $('.isworked').hide();
    }

    $('.modal-family').on('hidden.bs.modal', function () {
        hideRow();
    })

    $(".add-father").click(function () {
        $('.lifestatus').show();
        $('.taxdeduc').show();
        $('.isworked').show();
        $('.modal-family').modal('show');
    });

    $(".add-mother").click(function () {
        $('.lifestatus').show();
        $('.taxdeduc').show();
        $('.isworked').show();
        $('.modal-family').modal('show');
    });

    $(".add-spouse").click(function () {
        $('.wedding').show();
        $('.marital').show();
        $('.divorce').show();
        $('.lifestatus').show();
        $('.taxdeduc').show();
        $('.occupation').show();
        $('.modal-family').modal('show');
    });

    $(".add-child").click(function () {
        $('.lifestatus').show();
        $('.education').show();
        $('.modal-family').modal('show');
    });

    $(".edit-family").click(function () {
        debugger;
        var faid = $(this).data("id");
        var url = '@Url.Action("FamilyDetail", "Master")/'+id;
        $.post(url, function (data) {
            $("#detail-family").html(data);
            $('#modal-family').modal('show');
        });
    });


    $(".save-family").click(function () {
        var userid = $("#UserID").val()
        var type = $("#RecID").val()

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveFamily", "Employee")',
            data: $(".form-family").serialize(),
            success: function (res) {
                if (res.MessageCode == null) {
                    showSwal.saveMessage();
                }
                else {
                    showSwal.failureMessage(res.MessageText);
                }
            }
        });
    });

    

</script>