@model SAT.HR.Models.UserHistoryViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-history" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(m => m.UserID)
        @Html.HiddenFor(m => m.UhID)

        <div class="row">
            @Html.Label("ปรับปรุงข้อมูลนี้เป็นปัจจุบัน: ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8">
                <div class="form-check mr-auto">
                    <label class="form-check-label">
                        <input class="form-check-input ufIsworked" type="checkbox" aria-required="true">
                        <span class="form-check-sign"><span class="check"></span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่แก้ไข: ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UhEditDateText, new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row occupation">
            @Html.Label("คำนำหน้า: ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8 m-t-10">
                @Html.DropDownListFor(n => n.TiID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Title, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
            </div>
        </div>
        <div class="row  m-t-10">
            @Html.Label("ชื่อ(ไทย): ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.FullNameTH, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("นามสกุล(ไทย): ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UhLastNameTH, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ชื่อ (อังกฤษ): ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UhFirstNameEN, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("นามสกุล (อังกฤษ): ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UhLastNameEN, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("หมายเหตุ: ", null, new { @class = "col-sm-4 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UhLastNameEN, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
    </div>
}


