@model SAT.HR.Models.UserInsigniaViewModel

<style>
    .bootstrap-select .dropdown-toggle[title="-- กรุณาเลือก --"] .filter-option-inner-inner {
        color: red;
    }

</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-insignia" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.UiID)
    @Html.HiddenFor(m => m.UiPartFile)
    @Html.Hidden("maxFileSize", (string)ViewBag.MaxFileSizeUpload)

    <div class="form-horizontal">
        <div class="row">
            <label class="col-sm-3 col-form-label" for="NewLastNameTh">ปีที่ได้รับ:<span class="text-danger"> *</span> </label>
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UiYear, new { @class = "form-control", required = "true", type = "number" })
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label" for="NewLastNameTh">เครื่องราชฯ/วิริยะ:<span class="text-danger"> *</span> </label>
            <div class="col-sm-9 m-t-5">
                @Html.DropDownListFor(n => n.InsID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Insignia, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5", required = "true" })
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label" for="NewLastNameTh">เล่ม:<span class="text-danger"> *</span> </label>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UiBook, new { @class = "form-control", required = "true" })
                </div>
            </div>
            <label class="col-sm-1 col-form-label" for="NewLastNameTh">ตอน:<span class="text-danger"> *</span> </label>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UiPart, new { @class = "form-control", required = "true" })
                </div>
            </div>
            <label class="col-sm-1 col-form-label" for="NewLastNameTh">หน้า:<span class="text-danger"> *</span> </label>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UiPage, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่รับ: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UiRecDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                </div>
            </div>
            @Html.Label("วันที่ส่งคืน: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UiRetDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("คำสั่ง: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UiCmd, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ไฟล์แนบ: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9" style="margin-top:5px;">
                <div class="input-group-prepend file-path">
                    <a style="margin-top:15px;" class="file-name" target="_blank" href="@Url.Action("DownloadInsignia", "Employee", new { id = Model.UiID })">@Model.UiPartFile</a>
                    <a class="btn btn-link btn-danger btn-just-icon file-delete" file-delete href="#" title="ลบ"><i class="material-icons">delete_forever</i></a>
                </div>
                <input id="fileUpload" name="fileUpload" type="file" class="form-control file-upload">
            </div>
        </div>
    </div>
}

<script>
    //$(".form-insignia").validate({
    //    errorPlacement: $.noop
    //});

    if ('@Model.UiPartFile' != '') {
        $(".file-path").show();
        $(".file-upload").hide();
    }
    else {
        $(".file-path").hide();
        $(".file-upload").show();
    }

    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });

    $(".file-delete").click(function () {
        $("#UiPartFile").val('');
        $(".file-upload").val('');
        $(".file-upload").show();
        $(".file-path").hide();
    });

    $(".file-upload").change(function () {
        var name = "";
        $("#MopPathFile").val(name);
    });


</script>
