@model SAT.HR.Models.UserInsigniaViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-insignia" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.UiID)

    <div>
        <div class="row occupation">
            @Html.Label("xxxx: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9 m-t-10">
                @Html.DropDownListFor(n => n.InsID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Insignia, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
            </div>
        </div>
        <div class="row">
            @Html.Label("ปีที่ได้รับ: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGPA, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("เล่ม: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-2">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGPA, new { @class = "form-control", required = "true" })
                </div>
            </div>
            @Html.Label("ตอน: ", null, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-2">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGPA, new { @class = "form-control", required = "true" })
                </div>
            </div>
            @Html.Label("หน้า: ", null, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-2">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGPA, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่รับ: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGraduationDate, new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่ส่งคืน: ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGraduationDate, new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("คำสั่ง: ", null, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGPA, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ไฟล์แนบ: ", null, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UeGPA, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
    </div>
}



