@model SAT.HR.Models.UserInsigniaViewModel

@Html.HiddenFor(m => m.UserID)

<button class="btn btn-primary btn-sm pull-right add-insignia" data-toggle="modal"> เพิ่มรายการ </button>
<div class="material-datatables">
    <table class="table table-insignia">
        <thead class=" text-primary">
            <tr>
                <th style="width:5%">#</th>
                <th style="width:5%">ปีที่รับ</th>
                <th style="width:20%">เครื่องราชฯ/วิริยะ</th>
                <th style="width:10%">เล่มที่</th>
                <th style="width:10%">ตอนที่</th>
                <th style="width:10%">หน้าที่</th>
                <th style="width:10%">วันที่ได้รับ</th>
                <th style="width:10%">วันที่ส่งคืน</th>
                <th style="width:10%">คำสั่ง</th>
                <th style="width:10%">ปฏิบัติการ</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-insignia" tabindex="-1" role="dialog" aria-labelledby="modalInsigniaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>เครื่องราชฯ/วิริยะ</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="detail-insignia"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default close-insignia" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary save-insignia">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<script>
    var dataTable = {
        table: null,
        initializeDataTable: function () {
            var id = $("#UserID").val();
            $table = $('.table-insignia');

            dataTable.table = $table.DataTable({
                "proccessing": true,
                "serverSide": true,
                paging: false,
                bFilter: false,
                ordering: false,
                searching: true,
                language: { zeroRecords: "ไม่พบข้อมูล" },
                dom: 't',
                ajax: {
                    url: '@Url.Action("Insignia", "Employee")/' + id,
                    type: "POST",
                },
                "columns": [
                    { "data": "RowNumber", "orderable": false, "searchable": false },
                    { "data": "UiYear", "orderable": true },
                    { "data": "InsFullName", "orderable": true },
                    { "data": "UiBook", "orderable": true },
                    { "data": "UiPart", "orderable": true },
                    { "data": "UiPage", "orderable": true },
                    { "data": "UiRecDateText", "orderable": true },
                    { "data": "UiRetDateText", "orderable": true },
                    { "data": "UiCmd", "orderable": true }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            var inner = '<div class="td-actions text-right">' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit" data-id="' + row.UiID + '"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;' +
                                            '<button title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.UiID + '"><i class="material-icons">close</i></button>' +
                                        '</div>';
                            return inner;
                        }, "targets": 9
                    },
                ]
            });
        },
        getData: function () {
            if (dataTable.table == null)
                dataTable.initializeDataTable();
            else
                dataTable.table.ajax.reload();
        }
    }

    dataTable.getData();

    $(".add-insignia").click(function () {
        var url = '@Url.Action("InsigniaDetail", "Employee")';
        $.post(url, { id: 0 }, function (data) {
            $(".detail-insignia").html(data);
            $('.modal-insignia').modal('show');
        });
    });

    $(".edit-insignia").click(function () {
        var id = $(this).data("id");
        var url = '@Url.Action("InsigniaDetail", "Employee")';
        $.post(url, { id: id }, function (data) {
            $(".detail-insignia").html(data);
            $('.modal-insignia').modal('show');
        });
    });

    $(".save-insignia").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveInsignia", "Employee")',
            data: $(".form-insignia").serialize(),
            success: function (res) {
                if (res.MessageCode == null) {
                    swal({
                        title: "",
                        text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                        type: "success",
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                    }).catch(swal.noop)

                    $('.modal-insignia').modal('hide');
                }
                else {
                    swal({
                        title: '',
                        text: msg,
                        type: 'error',
                        confirmButtonClass: "btn btn-info",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                        buttonsStyling: false
                    }).catch(swal.noop)
                }
            }
        });
    });

</script>