@model SAT.HR.Models.PositionRateViewModel

<div class="m-t-10"></div>
<div class="row">
    @Html.Label("ฝ่าย: ", null, new { @class = "col-sm-3 col-form-label" })
    <div class="col-sm-9">
        @Html.DropDownListFor(n => n.DivID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Division, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
    </div>
</div>
<div class="row">
    @Html.Label("กอง: ", null, new { @class = "col-sm-3 col-form-label" })
    <div class="col-sm-9">
        @Html.DropDownListFor(n => n.DepID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Department, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
    </div>
</div>
<div class="row">
    @Html.Label("งาน: ", null, new { @class = "col-sm-3 col-form-label" })
    <div class="col-sm-9">
        @Html.DropDownListFor(n => n.SecID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Section, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
    </div>
</div>
<div class="row">
    @Html.Label("ระดับสายงาน: ", null, new { @class = "col-sm-3 col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.MpMan, new { @class = "form-control", required = "true" })
    </div>
</div>
<div class="row">
    @Html.Label("อัตรากำลัง: ", null, new { @class = "col-sm-3 col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.MpCode, new { @class = "form-control", required = "true" })
    </div>
</div>
<div class="row">
    @Html.Label("ผู้ดำรงตำแหน่ง: ", null, new { @class = "col-sm-3 col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.FullNameTh, new { @class = "form-control", required = "true" })
    </div>
</div>
<div class="row">
    @Html.Label("ระดับการศึกษา: ", null, new { @class = "col-sm-3 col-form-label" })
    <div class="col-sm-9">
        @Html.DropDownListFor(n => n.EduID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Education, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
    </div>
</div>
<div class="card-footer pull-right">
    <button type="button" class="btn btn-primary btn-save">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
</div>