@model SAT.HR.Models.UserTrainningViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-trainning" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.UtID)

    <div>
        <div class="row m-t-10">
            <label class="col-sm-2 col-form-label" for="NewLastNameTh">หลักสูตร:<span class="text-danger"> *</span> </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.UtCourse, new { @class = "form-control", required = "true" })
            </div>
        </div>
        <div class="row m-t-10">
            @Html.Label("ประเภท: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(n => n.TtID, new SelectList((IEnumerable<SelectListItem>)ViewBag.TrainingType, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
            </div>
        </div>
        <div class="row m-t-10">
            @Html.Label("ประเทศ: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.DropDownListFor(n => n.CountryID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Country, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true", data_size = "5" })
            </div>
        </div>
        <div class="row m-t-10">
            @Html.Label("วันที่เริ่ม: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.UtStartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
            </div>
            @Html.Label("วันที่สิ้นสุด: ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.UtEndDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
            </div>
        </div>
    </div>
}

<script>

    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'th',
        date: moment().add(543, 'years'),
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>


