@model SAT.HR.Models.UserTrainningViewModel

@Html.HiddenFor(m => m.UserID)

<button class="btn btn-primary btn-sm pull-right add-trainning" data-toggle="modal"> เพิ่มรายการ </button>
<div class="table-responsive">
    <table class="table">
        <thead class="text-primary">
            <tr>
                <th style="width:5%">#</th>
                <th>หลักสูตร</th>
                <th>วันที่เริ่ม</th>
                <th>วันที่สิ้นสุด</th>
                <th>ประเทศ</th>
                <th>ประเภท</th>
                <th>ปฏิบัติการ</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-trainning" tabindex="-1" role="dialog" aria-labelledby="modalTrainningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ข้อมูลการ ฝึกอบรม/ดูงาน/สัมนา</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="detail-trainning"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default close-trainning" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary save-trainning">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<script>
    var dataTable = {
        table: null,
        initializeDataTable: function () {
            var id = $("#UserID").val();
            $table = $('.table-trainning');

            dataTable.table = $table.DataTable({
                "proccessing": true,
                "serverSide": true,
                paging: false,
                bFilter: false,
                ordering: false,
                searching: true,
                language: { zeroRecords: "ไม่พบข้อมูล" },
                dom: 't',
                ajax: {
                    url: '@Url.Action("Trainning", "Employee")/' + id,
                    type: "POST",
                },
                "columns": [
                    { "data": "RowNumber", "orderable": false, "searchable": false },
                    { "data": "UtID", "orderable": false, "searchable": false },
                    { "data": "UtCourse", "orderable": true },
                    { "data": "UtStartDateText", "orderable": true },
                    { "data": "UtEndDateText", "orderable": true },
                    { "data": "CountryName", "orderable": true },
                    { "data": "TtName", "orderable": true }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            var inner = '<div class="td-actions text-right">' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit" data-id="' + row.UtID + '"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;' +
                                            '<button title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.UtID + '"><i class="material-icons">close</i></button>' +
                                        '</div>';
                            return inner;
                        }, "targets": 7
                    },
                ]
            });
        },
        getData: function () {
            if (dataTable.table == null)
                dataTable.initializeDataTable();
            else
                dataTable.table.ajax.reload();
        }
    }

    dataTable.getData();

    $(".add-trainning").click(function () {
        var url = '@Url.Action("TrainningDetail", "Employee")';
        $.post(url, { id: 0 }, function (data) {
            $(".detail-trainning").html(data);
            $('.modal-trainning').modal('show');
        });
    });

    $(".edit-trainning").click(function () {
        var id = $(this).data("id");
        var url = '@Url.Action("TrainningDetail", "Employee")';
        $.post(url, { id: id }, function (data) {
            $(".detail-trainning").html(data);
            $('.modal-trainning').modal('show');
        });
    });

    $(".save-trainning").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveTrainning", "Employee")',
            data: $(".form-trainning").serialize(),
            success: function (res) {
                if (res.MessageCode == null) {
                    swal({
                        title: "",
                        text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                        type: "success",
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                    }).catch(swal.noop)

                    $('.modal-trainning').modal('hide');
                }
                else {
                    swal({
                        title: '',
                        text: msg,
                        type: 'error',
                        confirmButtonClass: "btn btn-info",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                        buttonsStyling: false
                    }).catch(swal.noop)
                }
            }
        });
    });

</script>