
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-b-20 {
        margin-bottom: 20px;
    }
    .fileinput .thumbnail {
        max-width: 250px;
        max-height: 250px;
    }
    .card-contact {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        <span>ข้อมูลพื้นฐาน / พนักงาน</span>
                        <button type="submit" class="btn btn-round pull-right">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body m-b-20">
                    <div class="row justify-content-center">
                        <div class="col-sm-3">
                            <div class="picture-container">
                                <div class="picture">
                                    <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img alt="..." src="@Url.Content("~/Content/assets/img/image_placeholder.jpg")">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-round btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">เปลี่ยน</span>
                                                <input type="hidden" value=""><input type="file">
                                            </span>
                                            <a class="btn btn-danger btn-round fileinput-exists" href="#pablo" data-dismiss="fileinput">
                                                <i class="fa fa-times"></i> ลบ
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("คำนำหน้า (ไทย)", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ชื่อ (ไทย)", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("นามสกุล (ไทย)", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("สถานะพนักงาน", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("เลขประจำตัวประชาชน", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("รหัสประจำตัวผู้เสียภาษี", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ชื่อ (อังกฤษ)", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("นามสกุล (อังกฤษ)", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("เพศ", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ศาสนา", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("เชื้อชาติ", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("สัญชาติ", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("กรุ๊บเลือด", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("สถานะการสมรส", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ตอบแทนเกษียณ (เท่า)", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ประเภทการเข้าปฏิบัติงาน", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("วันเกิด", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("วันที่บรรจุ", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("รหัสสแกนนิ้ว", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("รหัสสแกนบัตร", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <h4 class="card-title"><span>ที่อยู่ปัจจุบัน</span></h4>
                        </div>
                        <div class="card-body  m-b-20">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ที่อยู่", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("จังหวัด", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("อำเภอ", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ตำบล", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("รหัสไปรษณีย์", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <h4 class="card-title"><span>ที่อยู่ตามทะเบียนบ้าน</span></h4>
                        </div>
                        <div class="card-body  m-b-20">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ที่อยู่", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("จังหวัด", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("อำเภอ", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ตำบล", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("รหัสไปรษณีย์", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-contact">
                <div class="card-body">
                    <div class="row  m-b-20">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("เบอร์โทรศัพท์", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("อีเมล์", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("ผู้ติดต่อกรณีฉุกเฉิน", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        @Html.Label("เบอร์โทรฉุกเฉิน", null, new { @class = "bmd-label-floating" })
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ml-auto mr-auto">
                    <button type="submit" class="btn">ย้อนกลับ</button>
                    <button type="submit" class="btn btn-danger">ลบ</button>
                    <button class="btn btn-primary" type="submit">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
</div>