@model SAT.HR.Models.EmployeeViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .fileinput .thumbnail {
        max-width: 250px;
        max-height: 250px;
    }

    .card-contact {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }

    .nav-pills .nav-item .nav-link {
        font-size: 14px;
        padding: 10px 5px;
    }

        .nav-pills .nav-item .nav-link.active {
            font-size: 14px;
        }

    form .form-group select.form-control {
        position: static;
        top: -5px;
    }

    .fileinput .thumbnail {
        max-width: 250px;
        max-height: 250px;
    }

    .card-contact {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }

    .card-employee {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }

    .label-select {
        color: #AAA;
        top: -1rem;
        font-size: .6875rem;
        position: absolute;
        pointer-events: none;
        transition: .3s ease all;
    }
    .bmd-label-Selected {
        color: #AAA;
        top: -1rem;
        font-size: .6875rem;
    }

    .bmd-form-group .bmd-label-fixed {
        top: -1rem;
        font-size: .6875rem;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: top;
    }

    .table thead tr th {
        font-size: 15px;
    }

    .card [class*=card-header-] .card-text {
        border-radius: 3px;
        background-color: #999;
        padding: 5px;
        margin-top: -20px;
        margin-right: 8px;
        float: left;
        font-size: 5px;
    }
    .w-title {
        width: 60px;
        margin-left: 10px;
    }

    /*select.form-control:focus {
        font-size: 13px;
    }*/

    /*.bmd-form-group:not(.has-success):not(.has-danger) [class^=bmd-label].bmd-label-floating {
        color: #AAA;
        top: -1rem;
        font-size: .6875rem;
    }*/

</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        @Html.HiddenFor(m => m.UserID)
                        @Html.HiddenFor(m => m.UserType, new { Value = @ViewBag.UserTypeID })

                        <span>ทะเบียนประวัติ: </span><span class="text-primary">@Model.FullNameTh (@Model.IDCard)</span>
                        <button type="button" class="btn btn-round pull-right btn-back">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body" id="tabs">
                    <ul class="nav nav-pills nav-pills-warning" role="tablist">
                        <li class="nav-item" id="employee">
                            <a class="nav-link text-link active" data-id="employee" href="#" data-toggle="tab" role="tablist"> ประวัติส่วนตัว </a>
                        </li>
                        <li class="nav-item" id="family">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> ครอบครัว </a>
                        </li>
                        <li class="nav-item" id="education">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> การศึกษา </a>
                        </li>
                        <li class="nav-item" id="position">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> การดำรงตำแหน่ง </a>
                        </li>
                        <li class="nav-item" id="trainning">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> อบรม/ดูงาน </a>
                        </li>
                        <li class="nav-item" id="insignia">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> เครื่องราชฯ/วิริยะ </a>
                        </li>
                        <li class="nav-item" id="excellent">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> พนักงานดีเด่น </a>
                        </li>
                        <li class="nav-item" id="certificate">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> ใบประกอบวิชาชีพ </a>
                        </li>
                        <li class="nav-item" id="history">
                            <a class="nav-link text-link" data-toggle="tab" role="tablist" href="#"> ประวัติแก้ไขชื่อ </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="tab-detail">
                            <div id="div-detail"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        var ref_this = $("#tabs li").find(".active");
        if (ref_this.data("id") == "employee") {
            var userid = $("#UserID").val();
            var type = $("#UserType").val();
            var url = '@Url.Action("Employee", "Employee")/' + userid;
            $.post(url, function (data) {
                $("#div-detail").html(data);
            });
        }

        $("#tabs li").click(function () {
            var userid = $("#UserID").val();
            var type = $("#UserType").val();
            if (this.id == "employee") {
                var url = '@Url.Action("Employee", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "family") {
                var url = '@Url.Action("FamilyByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "education") {
                var url = '@Url.Action("EducationByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "position") {
                var url = '@Url.Action("PositionByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "trainning") {
                var url = '@Url.Action("TrainningByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "insignia") {
                var url = '@Url.Action("InsigniaByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "excellent") {
                var url = '@Url.Action("ExcellentByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "certificate") {
                var url = '@Url.Action("CertificateByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
            else if (this.id == "history") {
                var url = '@Url.Action("HistoryByUser", "Employee")/' + userid;
                $.post(url, function (data) {
                    $("#div-detail").html(data);
                });
            }
        });

        $(".btn-back").click(function () {
            var url = '@Url.Action("Index", "Employee")';
            window.location.href = url;
        });


    });
    </script>
}