
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-b-20 {
        margin-bottom: 20px;
    }

    .fileinput .thumbnail {
        max-width: 250px;
        max-height: 250px;
    }

    .card-contact {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }

    .nav-pills .nav-item .nav-link {
        font-size: 14px;
    }

        .nav-pills .nav-item .nav-link.active {
            font-size: 14px;
        }



</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        <span>สวัสดิการพนักงาน: </span><span class="text-primary">ชนิสรา เมืองทรัพย์ (1770500003531)</span>
                        <button type="submit" class="btn btn-round pull-right">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills nav-pills-warning" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-link active" data-toggle="tab" href="#tab-employee" role="tablist"> ประวัติส่วนตัว </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-family" role="tablist"> ครอบครัว </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-education" role="tablist"> การศึกษา </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-position" role="tablist"> การดำรงตำแหน่ง </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-trainning" role="tablist"> อบรม/ดูงาน </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-insignia" role="tablist"> เครื่องราชฯ/วิริยะ </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-outstanding" role="tablist"> พนักงานดีเด่น </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-certificate" role="tablist"> ใบประกอบวิชาชีพ </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-history" role="tablist"> ประวัติแก้ไขชื่อ-สกุล </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="tab-employee">
                            @Html.Partial("_employee")
                        </div>
                        <div class="tab-pane" id="tab-family">
                            @Html.Partial("_family")
                        </div>
                        <div class="tab-pane" id="tab-education">
                            @Html.Partial("_education")
                        </div>
                        <div class="tab-pane" id="tab-position">
                            @Html.Partial("_position")
                        </div>
                        <div class="tab-pane" id="tab-trainning">
                            @Html.Partial("_trainning")
                        </div>
                        <div class="tab-pane" id="tab-insignia">
                            @Html.Partial("_insignia")
                        </div>
                        <div class="tab-pane" id="tab-outstanding">
                            @Html.Partial("_outstanding")
                        </div>
                        <div class="tab-pane" id="tab-certificate">
                            @Html.Partial("_certificate")
                        </div>
                        <div class="tab-pane" id="tab-history">
                            @Html.Partial("_history")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        alert('');
        //$('#lblDate1').addClass("bmd-label-fixed");
        //bmd-label-fixed

    });
</script>