@model SAT.HR.Models.EmployeeViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
     .datepicker {
        z-index: 99999 !important;
    }

    .m-b-20 {
        margin-bottom: 20px;
    }

    .m-t-30 {
        margin-top:30px;
    }

    .fileinput .thumbnail {
        max-width: 250px;
        max-height: 250px;
    }

    .card-contact {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }

    .nav-pills .nav-item .nav-link {
        font-size: 14px;
        padding: 10px 5px;
    }

    .nav-pills .nav-item .nav-link.active {
        font-size: 14px;
    }
    
    form .form-group select.form-control {
        position: static;
        top: -5px;
    }
</style>
<style>

    .fileinput .thumbnail {
        max-width: 250px;
        max-height: 250px;
    }

    .card-contact {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }

    .card-employee {
        border: 0;
        margin-bottom: 30px;
        margin-top: 0px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
    }

    .label-select {
        color: #AAA;
        top: -1rem;
        font-size: .6875rem;
        position: absolute;
        pointer-events: none;
        transition: .3s ease all;
    }

    /*.bmd-form-group:not(.has-success):not(.has-danger) [class^=bmd-label].bmd-label-floating {
        color: #AAA;
        top: -1rem;
        font-size: .6875rem;
    }*/


    select.form-control:focus {
        /*padding: .375rem 1.75rem .375rem .75rem;*/
        font-size: 13px;
    }
</style>
<style>
    .table thead tr th {
        font-size: 15px;
    }

    .card [class*=card-header-] .card-text {
        border-radius: 3px;
        background-color: #999;
        padding: 5px;
        margin-top: -20px;
        margin-right: 8px;
        float: left;
        font-size: 5px;
    }

    .w-title {
        width: 60px;
        margin-left: 10px;
    }

    .bmd-label-Selected {
        color: #AAA;
        top: -1rem;
        font-size: .6875rem;
    }

    .bmd-form-group .bmd-label-fixed {
        top: -1rem;
        font-size: .6875rem;
    }

    .m-t-10 {
        margin-top: 10px;
    }
</style>


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        @Html.HiddenFor(m => m.UserID)
                        <span>สวัสดิการพนักงาน: </span><span class="text-primary">@Model.FullName (@Model.IDCard)</span>
                        <button type="button" class="btn btn-round pull-right btn-back">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body" id="tabs">
                    <ul class="nav nav-pills nav-pills-warning" role="tablist">
                        <li class="nav-item" id="employee">
                            <a class="nav-link text-link active" data-toggle="tab" href="#tab-employee" role="tablist"> ประวัติส่วนตัว </a>
                        </li>
                        <li class="nav-item" id="family">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-family" role="tablist"> ครอบครัว </a>
                        </li>
                        <li class="nav-item" id="education">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-education" role="tablist"> การศึกษา </a>
                        </li>
                        <li class="nav-item" id="position">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-position" role="tablist"> การดำรงตำแหน่ง </a>
                        </li>
                        <li class="nav-item" id="trainning">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-trainning" role="tablist"> อบรม/ดูงาน </a>
                        </li>
                        <li class="nav-item" id="insignia">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-insignia" role="tablist"> เครื่องราชฯ/วิริยะ </a>
                        </li>
                        <li class="nav-item" id="excellent">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-excellent" role="tablist"> พนักงานดีเด่น </a>
                        </li>
                        <li class="nav-item" id="certificate">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-certificate" role="tablist"> ใบประกอบวิชาชีพ </a>
                        </li>
                        <li class="nav-item" id="history">
                            <a class="nav-link text-link" data-toggle="tab" href="#tab-history" role="tablist"> ประวัติแก้ไขชื่อ </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="tab-employee">
                            <div id="div-employee">
                                @Html.Partial("_Employee", Model)
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-family">
                            <div id="div-family"></div>
                        </div>
                        <div class="tab-pane" id="tab-education">
                            <div id="div-education"></div>
                        </div>
                        <div class="tab-pane" id="tab-position">
                            <div id="div-position"></div>
                        </div>
                        <div class="tab-pane" id="tab-trainning">
                            <div id="div-trainning"></div>
                        </div>
                        <div class="tab-pane" id="tab-insignia">
                            <div id="div-insignia"></div>
                        </div>
                        <div class="tab-pane" id="tab-ำxcellent">
                            <div id="div-excellent"></div>
                        </div>
                        <div class="tab-pane" id="tab-certificate">
                            <div id="div-certificate"></div>
                        </div>
                        <div class="tab-pane" id="tab-history">
                            <div id="div-history"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });


        $("#tabs li").click(function () {
            var id = $("#UserID").val();
            @*if (this.id == "employee") {
                var url = '@Url.Action("Employee", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-employee").html(data);
                });
            }*@
            if (this.id == "family") {
                var url = '@Url.Action("Family", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-family").html(data);
                });
            }
            else if (this.id == "education") {
                var url = '@Url.Action("Education", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-education").html(data);
                });
            }
            else if (this.id == "position") {
                var url = '@Url.Action("Position", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-position").html(data);
                });
            }
            else if (this.id == "trainning") {
                var url = '@Url.Action("Trainning", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-trainning").html(data);
                });
            }
            else if (this.id == "insignia") {
                var url = '@Url.Action("Insignia", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-insignia").html(data);
                });
            }
            else if (this.id == "excellent") {
                var url = '@Url.Action("Excellent", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-excellent").html(data);
                });
            }
            else if (this.id == "certificate") {
                var url = '@Url.Action("Certificate", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-certificate").html(data);
                });
            }
            else if (this.id == "history") {
                var url = '@Url.Action("History", "Employee")/'+id;
                $.post(url, function (data) {
                    $("#div-history").html(data);
                });
            }

        });

        var DropDownList = {
            getDepartment: function (el, divid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DepartmentByDiv", "Master")',
                    data: { divid: divid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getSection: function (el, divid, depid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SectionByDep", "Master")',
                    data: { divid: divid, depid: depid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getProvince: function (el, proid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Province", "Master")',
                    data: { defaultValue: proid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getDistrict: function (el, disid, proid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("District", "Master")',
                    data: { defaultValue: disid, proid: proid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getSubDistrict: function (el, subid, proid, disid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SubDistrict", "Master")',
                    data: { defaultValue: subid, proid: proid, disid: disid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getSalaryLevel: function (el, level) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SalaryStepBylevel", "Master")',
                    data: { level: level },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getSex: function (el, titleid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SexByTitle", "Master")',
                    data: { titleid: titleid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            }
        }

        $("#TitleID").change(function () {
            DropDownList.getSex($("#SexID"), $('#TitleID').val());
        });

        $("#DivID").change(function () {
            DropDownList.getDepartment($("#DepID"), $('#DivID').val());
        });

        $("#DepID").change(function () {
            DropDownList.getSection($("#SecID"), $('#DivID').val(), $('#DepID').val());
        });

        $("#EmpowerDivID").change(function () {
            DropDownList.getDepartment($("#EmpowerDepID"), $('#EmpowerDivID').val());
        });

        $("#EmpowerDepID").change(function () {
            DropDownList.getSection($("#EmpowerSecID"), $('#EmpowerDivID').val(), $('#EmpowerDepID').val());
        });

        $("#AgentDivID").change(function () {
            DropDownList.getDepartment($("#AgentDepID"), $('#AgentDivID').val());
        });

        $("#AgentDepID").change(function () {
            DropDownList.getSection($("#AgentSecID"), $('#AgentDivID').val(), $('#AgentDepID').val());
        });

        $("#HomeProvinceID").change(function () {
            DropDownList.getDistrict($("#HomeDistrictID"), null, $('#HomeProvinceID').val());
        });

        $("#HomeDistrictID").change(function () {
            DropDownList.getSubDistrict($("#HomeSubDistrictID"), null, $('#HomeProvinceID').val(), $('#HomeDistrictID').val());
        });

        $("#CurrProvinceID").change(function () {
            DropDownList.getDistrict($("#CurrDistrictID"), null, $('#CurrProvinceID').val());
        });

        $("#CurrDistrictID").change(function () {
            DropDownList.getSubDistrict($("#CurrSubDistrictID"), null, $('#CurrProvinceID').val(), $('#CurrDistrictID').val());
        });

        $("#SalaryLevel").change(function () {
            DropDownList.getSalaryLevel($("#SalaryStep"), $('#SalaryLevel').val());
        });

        $("#SalaryStep").change(function () {
            $.post('@Url.Action("SalaryByStep", "Master")', { level: $("#SalaryLevel").val(), step: $("#SalaryStep").val() }, function (res) {
                $("#Salary").val(res.Salary);
            });
        });

        $("#CopyAddress").click(function () {
            if ($(this).is(':checked')) {
                var homeAddr = $("#HomeAddr").val();
                var homeProvinceID = $("#HomeProvinceID").val();
                var homeDistrictID = $("#HomeDistrictID").val();
                var homeSubDistrictID = $("#HomeSubDistrictID").val();
                var homeZipCode = $("#HomeZipCode").val();
                if (homeProvinceID != '')
                    DropDownList.getProvince($("#CurrProvinceID"), homeProvinceID);
                if (homeDistrictID != '')
                    DropDownList.getDistrict($("#CurrDistrictID"), homeDistrictID, homeProvinceID);
                if (homeSubDistrictID != '')
                    DropDownList.getSubDistrict($("#CurrSubDistrictID"), homeSubDistrictID, homeProvinceID, homeDistrictID);
                $("#CurrAddr").val(homeAddr);
                $("#CurrZipCode").val(homeZipCode);
            }
        });

        $(".btn-back").click(function () {
            var url = '@Url.Action("Index", "Employee")';
            window.location.href = url;
        });

        $(".save-employee").click(function () {
            $("#formEmployee").submit();
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("SaveEmployee", "Employee")',
                data: $("#formEmployee").serialize(),
                success: function (res) {
                    alert('UpdateEmployeeSuccess');
                    if (res.MessageCode == null) {
                        //showSwal.saveMessage();
                    }
                    else {
                        alert(res.MessageText);
                    }
                }
            });*@
        });

        //var UpdateEmployeeSuccess = function (res) {
        //    alert('UpdateEmployeeSuccess');
        //}

    });

    function UpdateEmployeeSuccess() {
        alert('UpdateEmployeeSuccess');
    }

</script>
<script>
    

 </script>
}