@model SAT.HR.Models.EmployeeTransferViewModel

@{
    ViewBag.Title = "PositionTransferDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-b-10 {
        margin-bottom: 10px;
    }

    .modal-dialog {
        max-width: 1100px;
        margin: 1.75rem auto;
    }

    .col-form-label {
        font-size: 14px;
    }

    .label-text {
        font-size: 14px;
        line-height: 2.679;
        color: #170cdb;
        font-weight: 100;
    }

    .table > thead > tr > th {
        vertical-align: text-top;
    }

    .table thead tr th {
        font-size: 15px;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        <span>โยกย้ายระดับ </span><small class="text-primary"></small>
                        <button type="button" class="btn btn-round pull-right btn-back">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "formDetail" }))
                    {
                        @Html.HiddenFor(m => m.MlID)
                        @Html.HiddenFor(m => m.MlStatus)
                        @Html.HiddenFor(m => m.MIPathFile)
                        <div class="form-horizontal">
                            <div class="row">
                                @Html.Label("ปีบัญชี: ", null, new { @class = "col-sm-1 col-form-label" })
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(m => m.MlYear, new { @class = "form-control" })
                                </div>
                                @Html.Label("เลขที่หนังสือคำสั่ง: ", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.MlBookCmd, new { @class = "form-control" })
                                </div>
                                @Html.Label("วันที่ลงคำสั่ง: ", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.MlDateCmd, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <div class="row m-b-10">
                                @Html.Label("ผู้ลงนาม: ", null, new { @class = "col-sm-1 col-form-label" })
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.MlSignatory, new { @class = "form-control" })
                                </div>
                                @Html.Label("ไฟล์หนังสือคำสั่ง: ", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-4">
                                    <input id="fileUpload" name="fileUpload" type="file" class="form-control file">
                                    @*@Html.TextBoxFor(m => m.MIPathFile, new { @class = "form-control", @type = "file" })*@
                                </div>
                            </div>
                        </div>
                        <div class="toolbar pull-right">
                            <button type="button" class="btn btn-primary btn-sm btn-new" data-toggle="modal"><i class="material-icons">add</i> เพิ่มรายการ</button>
                        </div>
                        <div class="position-transfer">
                            <table id="tb-detail" data-url="@Url.Content("~/Employee/EmployeeTransferDetailPage")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                <thead class="text-primary">
                                    <tr>
                                        <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                        <th style="width:15%">ชื่อ-นามสกุล</th>
                                        <th style="width:10%">ระดับเก่า</th>
                                        <th style="width:10%">ขั้นเก่า</th>
                                        <th style="width:10%">เงินเดือนเก่า</th>
                                        <th style="width:10%">ระดับใหม่</th>
                                        <th style="width:10%">ขั้นใหม่</th>
                                        <th style="width:10%">เงินเดือนใหม่</th>
                                        <th style="width:10%">หมายเหตุ</th>
                                        <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                   }
                </div>
                <div class="row m-b-10">
                    <div class="ml-auto mr-auto">
                        <button type="button" class="btn btn-round btn-back">ย้อนกลับ</button>
                        <button type="button" class="btn btn-round btn-primary btn-save">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Classic Modal -->
<div class="modal fade modal-large modal-transfer" role="dialog" aria-labelledby="modalTransferLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>โยกย้ายระดับ</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="detail-transfer"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-roundbtn-default btn-close" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-add">เพิ่มลงรายการ</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

@section Scripts {
    <script>
    $(document).ready(function () {

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        @*var dataTable = {
            table: null,
            initializeDataTable: function () {
                var id = $("#MlID").val();

                $table = $('#tb-detail');
                dataTable.table = $table.DataTable({
                    "proccessing": true,
                    "serverSide": true,
                    paging: false,
                    bFilter: false,
                    ordering: false,
                    searching: true,
                    dom: 't',
                    language: { zeroRecords: "ไม่พบข้อมูล" },
                    ajax: {
                        url: '@Url.Action("EmployeeTransferDetailPage", "Employee")/' + id,
                        type: "POST",
                    },
                    "columns": [
                        { "data": "RowNumber", "orderable": false, "searchable": false },
                        { "data": "FullName", "orderable": true },
                        { "data": "MlLevelOld", "orderable": true },
                        { "data": "MlStepOld", "orderable": true },
                        { "data": "MlSalaryOld", "orderable": true },
                        { "data": "MlLevelNew", "orderable": true },
                        { "data": "MlStepNew", "orderable": true },
                        { "data": "MlSalaryNew", "orderable": true },
                        { "data": "MlRemark", "orderable": true },
                    ],
                    "columnDefs": [
                        {
                            "render": function (data, type, row) {
                                var inner = '<div class="td-actions text-right">' +
                                                '<button title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.UserID + '"><i class="material-icons">close</i></button>' +
                                            '</div>';
                                return inner;
                            }, "targets": 9
                        },
                    ]
                });
            },
            getData: function () {
                if (dataTable.table == null)
                    dataTable.initializeDataTable();
                else
                    dataTable.table.ajax.reload();
            }
        }*@

        //dataTable.getData();


        $(".btn-back").click(function () {
            var url = '@Url.Action("EmployeeTransfer", "Employee")';
            window.location.href = url;
        });

        $(".btn-new").click(function () {
            var type = $("#UserTID").val()
            var url = '@Url.Action("EmployeeTransferDetailByID", "Employee")';
            $.post(url, { id: 0, type: type }, function (data) {
                $(".detail-transfer").html(data);
                $('.modal-transfer').modal('show');
            });
        });

        $(".btn-add").click(function () {
            debugger;
            var empid = $("#EmpID").val();
            var empname = $("#EmpID option:selected").text();
            var oldlevel = $('.user-level').text();
            var oldstep = $('.user-step').text();
            var oldsalary = $('.user-salary').text();
            var newlevel = $('#MlLevelNew').val();
            var newstep = $('#MlStepNew').val();
            var newsalary = $('.new-salary').text();
            var remark = $("#MlRemark").val();

            //dataTables_empty
            //$("#tb-detail tbody").find('tr').each(function (i, el) {
            //    $(this).find("td").eq(0).find('className:dataTables_empty').remove();

            var data = "<tr data-empid='" + empid + "' data-oldlevel='" + oldlevel + "' data-oldstep='" + oldstep + "' data-oldsalary= '" + oldsalary + "' data-newlevel='" + newlevel + "' data-newstep='" + newstep + "' data-newsalary='" + newsalary + "' data-remark='" + remark+"'>" +
                            "<td></td>" +
                            "<td>" + empname + "</td>" +
                            "<td>" + oldlevel + "</td>" +
                            "<td>" + oldstep + "</td>" +
                            "<td>" + oldsalary + "</td>" +
                            "<td>" + newlevel + "</td> " +
                            "<td>" + newstep + "</td> " +
                            "<td>" + newsalary + "</td> " +
                            "<td>" + remark + "</td>" +
                            "<td><div class='td-actions text-right'><button title='ลบ' type='button' rel='tooltip' class='btn btn-round btn-danger btn-delete' data-id='" + empid+"'><i class='material-icons'>close</i></button></td></div>" +
                        "</tr>";
            $("#tb-detail tbody").append(data);
            $('.modal-transfer').modal('hide');
        });

        $(".btn-save").click(function () {
            debugger;
            var listName = "ListDetail";
            var qtd = 0;
            $("#tb-detail tbody tr").each(function () {
                var empid = $(this).data("empid");
                var oldlevel = $(this).data("oldlevel");
                var oldstep = $(this).data("oldstep");
                var newlevel = $(this).data("newlevel");
                var newstep = $(this).data("newstep");
                var oldlevel = $(this).data("oldlevel");
                var remark = $(this).data("remark");
                $(".formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].EmpID' value= '" + empid + "' > ");
                $(".formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlLevelOld' value= '" + oldlevel + "' > ");
                $(".formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlStepOld' value= '" + oldstep + "' > ");
                $(".formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlLevelNew' value= '" + newlevel + "' > ");
                $(".formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlStepNew' value= '" + newstep + "' > ");
                $(".formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlRemark' value= '" + oldlevel + "' > ");
                //$("#formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].EmpIP' value= '" + empid + "' > ");
                //$("#formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlLevelOld' value= '" + oldlevel + "' > ");
                //$("#formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlStepOld' value= '" + oldstep + "' > ");
                //$("#formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlLevelNew' value= '" + newlevel + "' > ");
                //$("#formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlStepNew' value= '" + newstep + "' > ");
                //$("#formDetail").prepend("<input type='hidden' name= '" + listName + "[" + qtd + "].MlRemark' value= '" + oldlevel + "' > ");
                qtd += 1;
            });


            var form = $('.formDetail')[0];
            var data = new FormData(form);
            data.append(".fileUpload", fileUpload);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveEmployeeTransfer", "Employee")',
                data: $(".formDetail").serialize(),
                dataType: 'json',
                success: function (res) {
                    if (res.MessageCode == null) {
                        //$('#modalDetail').modal('hide');
                    }
                    else {
                        alert(res.MessageText);
                    }
                }
            });


        });

        $(".btn-delete").click(function () {
            debugger;
            $(this).parents.remove();


        });

    });
    </script>
}
