
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <h4 class="card-title">
                        <span>ทะเบียนประวัติ > </span><small>รายชื่อพนักงาน </small>
                        <div class="pull-right">
                            @*@Html.Label("ประเภทบุคลากร: ", null, new { @class = "col-sm-3 col-form-label" })*@
                            @Html.DropDownList("usertype", new SelectList((IEnumerable<SelectListItem>)ViewBag.UserType, "Value", "Text"), new { @class = "form-control usertype" })
                            @Html.DropDownList("userstatus", new SelectList((IEnumerable<SelectListItem>)ViewBag.UserStatus, "Value", "Text"), new { @class = "form-control userstatus" })
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="toolbar pull-right">
                        <button class="btn btn-primary btn-sm add-user" data-toggle="modal"><i class="material-icons">add</i> เพิ่มพนักงาน/ลูกจ้าง</button>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" data-url="@Url.Content("~/Employee/Index")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                    <th style="width:17%">เลขประจำตัวประชาชน</th>
                                    <th style="width:20%">ชื่อ-นามสกุล</th>
                                    <th style="width:48%">ตำแหน่ง</th>
                                    <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var dataTable = {
                table: null,
                initializeDataTable: function (usertype, userstatus) {
                    $table = $('#datatables');
                    dataTable.table = $table.DataTable({
                        "proccessing": true,
                        "serverSide": true,
                        responsive: true,
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "ค้นหา",
                            zeroRecords: "ไม่พบข้อมูล",
                            //paginate: { "first": "หน้าแรก", "last": "หน้าสุดท้าย", "next": "ถัดไป", "previous": "ก่อนหน้า" },
                            //info: "จำนวน _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ",
                            //infoFiltered: "จำนวน 0 ถึง 0 จากทั้งหมด 0 รายการ",
                            //sLengthMenu: "แสดง _MENU_ รายการต่อหน้า",
                        },
                        ajax: {
                            url: $table.data("url"),
                            data: { userType: usertype, userStatus: userstatus },
                            type: "POST",
                        },
                        "columns": [
                            { "data": "RowNumber", "orderable": false, "searchable": false },
                            { "data": "IDCard", "orderable": true },
                            { "data": "FullNameTh", "orderable": true },
                        ],
                        "columnDefs": [
                            {
                                "render": function (data, type, row) {
                                    var inner = '<div title="สังกัด" style="font-size: 12px; color: #0000ff; border-bottom: #c0c0c0 0px dotted; margin-bottom: 5px;">' +
                                                    '<i class="fa fa-home"></i> ' + row.DivName + ' / ' + row.DepName + ' / ' + row.SecName + '' +
                                                '</div>(' + row.PoCode + ') ' + row.PoName + '';
                                    return inner;
                                }, "targets": 3
                            },
                            {
                                "render": function (data, type, row) {
                                    var inner = '<div class="td-actions text-right">' +
                                                    '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit" data-id="' + row.UserID + '"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;' +
                                                    '<button title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.UserID + '"><i class="material-icons">close</i></button>' +
                                                '</div>';
                                    return inner;
                                }, "targets": 4
                            },
                        ],
                        "order": [[2, "asc"]],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "pagingType": "full_numbers",
                    });

                    dataTable.table.on('click', '.edit', function () {
                        var id = $(this).data("id");
                        var type = $('#usertype').val();
                        var url = '@Url.Action("Detail", "Employee")/' + id + '?type=' + type;
                        window.location.href = url;
                    });

                    dataTable.table.on('click', '.delete', function () {
                        var id = $(this).data("id");
                        swal({
                            title: '',
                            text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ConfirmDelete)",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonClass: 'btn btn-primary',
                            cancelButtonClass: 'btn btn-danger',
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                            cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                            buttonsStyling: false
                        }).then(function () {
                            var url = '@Url.Action("DeleteEmployee", "Employee")/' + id;
                            $.ajax({
                                type: 'POST',
                                url: url,
                                success: function (res) {
                                    if (res.MessageCode == null) {
                                        swal({
                                            title: "",
                                            text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.DeleteSucceed)",
                                            type: "success",
                                            confirmButtonClass: "btn btn-primary",
                                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                            buttonsStyling: false
                                        }).then(function () {
                                            dataTable.getData();
                                        });
                                    }
                                    else {
                                        swal({
                                            title: '',
                                            text: res.MessageText,
                                            type: 'error',
                                            confirmButtonClass: "btn btn-primary",
                                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                                            buttonsStyling: false
                                        }).catch(swal.noop);
                                    }
                                }
                            });
                        }).catch(swal.noop)
                    });
                },
                getData: function (usertype, userstatus) {
                    if (dataTable.table == null)
                        dataTable.initializeDataTable(usertype, userstatus);
                    else
                        dataTable.table.ajax.reload();
                },
                renewData: function (usertype, userstatus) {
                    $('#datatables').dataTable().fnDestroy();
                    dataTable.initializeDataTable(usertype, userstatus);
                },
            }

            dataTable.getData(1, 1);

            $('.usertype').change(function () {
                var usertype = $('.usertype').val();
                var userstatus = $('.userstatus').val();
                dataTable.renewData(usertype, userstatus);
            });

            $('.userstatus').change(function () {
                var usertype = $('.usertype').val();
                var userstatus = $('.userstatus').val();
                dataTable.renewData(usertype, userstatus);
            });

            $(".add-user").click(function () {
                var type = $('#usertype').val();
                var url = '@Url.Action("Add", "Employee")/0' + '?type=' + type;
                window.location.href = url;
            });

        });

    </script>
}
