@model SAT.HR.Models.PositionRateViewModel

@{
    ViewBag.Title = "PositionRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tree {
        font-size: 13px;
        border-right: 1px solid silver;
        overflow: auto;
        padding: 10px;
    }

    .tree2 {
        font-size: 13px;
        border-right: 1px solid silver;
        overflow: auto;
        padding: 10px;
        box-shadow: 0 0 5px #ccc;
        border-radius: 5px;
    }
</style>

<link href="@Url.Content("~/Content/assets/js/jstree/themes/default/style.css")" rel="stylesheet" />
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <h4 class="card-title"><span> อัตรากำลังพล  :  พนักงาน</span></h4>
                </div>

                <div class="card-body">
                    <div class="toolbar pull-right">
                        @*<select class="selectpicker" data-size="10" data-style="select-with-transition" title="ประเภทอัตรากำลังพล" tabindex="-98">
                                <option value="1" selected="selected"> พนักงาน </option>
                                <option value="2"> ลูกจ้าง </option>
                            </select>*@
                        <button class="btn btn-primary btn-sm pull-right add-position" data-toggle="modal" id="btnAdd"><i class="material-icons">add</i> เพิ่มอัตรากำลังพล</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 tree">
                            @*<div>
                                <input type="search" class="search-tree" />
                                <button type="button" class="btn-search">Search</button>
                            </div>*@
                            <div id="organization"></div>
                        </div>
                        <div class="col-sm-5">
                            <span id="event_result"></span>

                        </div>
                    </div>
                </div>

                @*<div class="card-body">
                        <div class="material-datatables">
                            <table id="datatables" data-url="@Url.Content("~/Employee/Index")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                        <th style="width:10%">รหัส</th>
                                        <th style="width:75%">ตำแหน่ง</th>
                                        <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>100</td>
                                        <td>
                                            <div title="สังกัด" style="font-size: 11px; color: #0000ff; border-bottom: #c0c0c0 1px dotted; margin-bottom: 5px; cursor: pointer">
                                                <i class="fa fa-home"></i>
                                                การกีฬาแห่งประเทศไทย / การกีฬาแห่งประเทศไทย / การกีฬาแห่งประเทศไทย
                                            </div>
                                            <span>ผู้ว่าการ</span>
                                            <div class="" style="font-size: 11px; border-top: #c0c0c0 1px dotted; padding-top: 2px;">
                                                <a target="javascript:void(0)" href="/Employee/Detail/">(001) นายสกล วรรณพงษ์ </a>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script src="@Url.Content("~/Content/assets/js/jstree/jstree.js")"></script>
    <script>

    $(document).ready(function () {

        var DropDownList = {
            getDepartment: function (el, divid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DepartmentByDiv", "Master")',
                    data: { divid: divid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getSection: function (el, divid, depid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SectionByDep", "Master")',
                    data: { divid: divid, depid: depid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            }
            @*getPosition: function (el, divid, depid, secid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PositionBySec", "Master")',
                    data: { divid: divid, depid: depid, secid: secid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },*@
        }

        $("#DivID").change(function () {
            DropDownList.getDepartment($("#DepID"), $('#DivID').val());
        });

        $("#DepID").change(function () {
            DropDownList.getSection($("#SecID"), $('#DivID').val(), $('#DepID').val());
        });

        //$("#SecID").change(function () {
        //    DropDownList.getPosition($("#PoID"), $('#DivID').val(), $('#DepID').val(), $('#SecID').val());
        //});

        $(".add-position").click(function () {
            $('#modalDetail').modal('show');

            @*var url = '@Url.Action("EmployeeTransferDetail", "Employee")';
            $.post(url, function (data) {
                $("#detail").html(data);
                $('#modalDetail').modal('show');
            });*@
        });

        $('#organization').jstree({
            'core': {
                'data': {
                    'url': function (node) {
                        return node.id === '#' ? '/Employee/GetRoot' : '/Employee/GetChildren/' + node.id + '?type=' + node.original.node_type;
                    },
                    'data': function (node) {
                        debugger;
                        return { 'id': node.id };
                    }
                }
            },
            'plugins': ['search', 'wholerow'],
            'types': {
                'default': {
                    'icon': '//jstree.com/tree.png'
                },
                'user': {
                    'icon': 'glyphicon glyphicon-flash'
                }
            },

        });

        $('#organization').on('changed.jstree', function (e, data) {
            $('#event_result').html("selected: " + data.node.id + " - " + data.node.text);
        });

        $(".btn-search").click(function (e) {
            e.preventDefault();
            $("#organization").jstree(true).search($(".search-tree").val());
        });


    });

    </script>



    <script>


        $('#organization3').jstree({
            core: {
                data: [
                    {
                        id: 3,
                        text: 'ฝ่าย: กองส่งเสริม',
                        state: { opened: true, selected: true, disabled: true },
                        children: [
                            {
                                id: 31, text: 'กอง: สำนักงาน กกท. สาขาจังหวัดร้อยเอ็ด (1)', state: { opened: true, disabled: true },
                                children: [
                                    {
                                        id: 311, text: 'งาน: งาน กกท.สาขา (5)', state: { opened: true, disabled: true },
                                        children: [
                                            {
                                                id: 3111, text: 'ตำแหน่ง: รองผู้ว่าการฝ่ายส่งเสริมกีฬา (1)', state: { opened: true, disabled: true },
                                                children: [{ id: 31111, text: '(001) นายณัฐวุฒิ เรืองเวส', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 3112, text: 'ตำแหน่ง: รองผู้ว่าการฝ่ายกีฬาอาชีพและสิทธิประโยชน์ (1)', state: { opened: true, disabled: true },
                                                children: [{ id: 31112, text: '(002) นายรุจ แสงอุดม', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 3113, text: 'ตำแหน่ง: รองผู้ว่าการฝ่ายกีฬาเป็นเลิศและวิทยาศาสตร์การกีฬา (1)', state: { opened: true, disabled: true },
                                                children: [{ id: 31113, text: '(003) นายราเชลล์ ได้ผลธัญญา', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 3114, text: 'ตำแหน่ง: ผู้ว่าการ (1)', state: { opened: true, disabled: true },
                                                children: [{ id: 31114, text: '(004) นายสกล	วรรณพงษ์', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 3115, text: 'ตำแหน่ง: รองผู้ว่าการฝ่ายบริหาร (1)', state: { opened: true, disabled: true },
                                                children: [{ id: 31115, text: '(005) นายสังเวียน บุญโต', icon: '//jstree.com/tree.png' }]
                                            },
                                        ]
                                    },
                                ]
                            },
                        ]
                    },
                    {
                        id: 2,
                        text: 'กองส่งเสริม',
                        state: { opened: true, selected: true, disabled: true },
                        children: [
                            {
                                id: 21, text: 'สำนักงาน กกท. สาขาจังหวัดร้อยเอ็ด (1)', state: { opened: true, disabled: true },
                                children: [
                                    {
                                        id: 211, text: 'งาน กกท.สาขา (5)', state: { opened: true, disabled: true },
                                        children: [
                                            {
                                                id: 2111, text: 'รองผู้ว่าการฝ่ายส่งเสริมกีฬา (1)', state: { disabled: true },
                                                children: [{ id: 21111, text: '(001) นายณัฐวุฒิ เรืองเวส', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 2112, text: 'รองผู้ว่าการฝ่ายกีฬาอาชีพและสิทธิประโยชน์ (1)', state: { disabled: true },
                                                children: [{ id: 21112, text: '(002) นายรุจ แสงอุดม', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 2113, text: 'รองผู้ว่าการฝ่ายกีฬาเป็นเลิศและวิทยาศาสตร์การกีฬา (1)', state: { disabled: true },
                                                children: [{ id: 21113, text: '(003) นายราเชลล์ ได้ผลธัญญา', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 2114, text: 'ผู้ว่าการ (1)', state: { disabled: true },
                                                children: [{ id: 21114, text: '(004) นายสกล	วรรณพงษ์', icon: '//jstree.com/tree.png' }]
                                            },
                                            {
                                                id: 2115, text: 'รองผู้ว่าการฝ่ายบริหาร (1)', state: { disabled: true },
                                                children: [{ id: 21115, text: '(005) นายสังเวียน บุญโต', icon: '//jstree.com/tree.png' }]
                                            },
                                        ]
                                    },
                                ]
                            },

                        ]
                    }
                ]
            },
            "plugins": ["search", "wholerow", "state", "types"]
        });


     //$('#organization2').jstree({
     //    "core": {
     //        "animation": 0,
     //        "check_callback": true,
     //        "themes": { "stripes": true },
     //        'data': {
     //            'url': function (node) {
     //                return node.id === '#' ?
     //                    ajax_demo_roots : ajax_demo_children;
     //            },
     //            'data': function (node) {
     //                return { 'id': node.id };
     //            }
     //        }
     //    },
     //    "types": {
     //        "#": {
     //            "max_children": 1,
     //            "max_depth": 4,
     //            "valid_children": ["root"]
     //        },
     //        "root": {
     //            "icon": "/static/3.3.6/assets/images/tree_icon.png",
     //            "valid_children": ["default"]
     //        },
     //        "default": {
     //            "valid_children": ["default", "file"]
     //        },
     //        "file": {
     //            "icon": "glyphicon glyphicon-file",
     //            "valid_children": []
     //        }
     //    },
     //    "plugins": [ "contextmenu", "dnd", "search", "state", "types", "wholerow" ]
     //});



     //$('#organization').jstree({
     //    "json_data": {
     //        "ajax": {
     //            "url": "/Employee/GetTreeData",
     //            "type": "POST",
     //            "dataType": "json",
     //            "contentType": "application/json charset=utf-8"
     //        }
     //    },
     //    "themes": {
     //        "theme": "default",
     //        "dots": false,
     //        "icons": true,
     //        "url": "/content/themes/default/style.css"
     //    },
     //    "plugins": ["themes", "json_data", "dnd", "contextmenu", "ui", "crrm"]
     //});


     //$('#organization').on('changed.jstree', function (e, data) {
     //    var i, j, r = [];
     //    for (i = 0, j = data.selected.length; i < j; i++) {
     //        var id = data.instance.get_node(data.selected[i]).id;
     //        var name = data.instance.get_node(data.selected[i]).text;
     //        r.push(id + name);
     //    }
     //    $('#event_result').html('Selected: ' + r.join(', '));
     //}).jstree();


    </script>

}