@model SAT.HR.Models.PositionRateViewModel

@{
    ViewBag.Title = "PositionRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-b-30 {
        margin-bottom: 30px;
    }
    .m-t-10 {
        margin-top: 10px;
    }
    .title-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .tree {
        font-size: 13px;
        border-right: 1px solid silver;
        overflow: auto;
        padding: 10px;
    }

    .tree2 {
        font-size: 13px;
        border-right: 1px solid silver;
        overflow: auto;
        padding: 10px;
        box-shadow: 0 0 5px #ccc;
        border-radius: 5px;
    }
    select.form-control:focus {
        font-size: 13px;
    }
</style>

<link href="@Url.Content("~/Content/assets/js/jstree/themes/default/style.css")" rel="stylesheet" />
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <h4 class="card-title">
                        <span> อัตรากำลังพล  > </span><small>พนักงาน</small>
                        <div class="pull-right">
                            @*@Html.Label("ประเภทบุคลากร: ", null, new { @class = "col-form-label" })*@
                            @Html.DropDownList("usertype", new SelectList((IEnumerable<SelectListItem>)ViewBag.UserType, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7 tree">
                            @*<div>
                                <input type="search" class="search-tree" />
                                <button type="button" class="btn-search">Search</button>
                            </div>*@
                            <div id="organization"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="title-header">
                                <h5><span>ข้อมูลอัตรากำลังพล</span></h5>
                                @*@Html.Label("ประเภทอัตรากำลังพล: ", null, new { @class = "col-form-label" })*@
                                <button class="btn btn-primary btn-sm pull-right add-position" data-toggle="modal" id="btnAdd"><i class="material-icons">add</i> เพิ่มอัตรากำลังพล</button>
                            </div>
                            <div id="detail">
                                @*@{ Html.RenderPartial("_PositionRateDetail"); }*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Content/assets/js/jstree/jstree.js")"></script>
    <script>

    $(document).ready(function () {

        var windowHeight = window.innerHeight;
        var treeHeight = 'height:' + (windowHeight - 230) + 'px';
        $('.tree').attr("style", treeHeight);

        var tree = {
            getTree: function () {

                $tree = $('#organization');

                $tree.jstree({
                    'plugins': ['search', 'wholerow', 'sort'],
                    'types': {
                        'default': {
                            'icon': '//jstree.com/tree.png'
                        },
                        'user': {
                            'icon': 'glyphicon glyphicon-flash'
                        }
                    },
                    'core': {
                        'data': {
                            'url': function (node) {
                                if (node.id === '#') {
                                    return '/Employee/GetRoot';
                                }
                                else {
                                    var divid = null; var depid = null; var secid = null; var poid = null;
                                    var parenttype = node.original.node_type;
                                    var usertype = $('#usertype').val();
                                    if (parenttype == 'div') {
                                        divid = node.id;
                                    }
                                    else if (parenttype == 'dep') {
                                        divid = (node.parents.length == 3) ? node.parents[0] : null;
                                        depid = node.id;
                                    }
                                    else if (parenttype == 'sec') {
                                        divid = (node.parents.length == 4) ? node.parents[1] : null;
                                        depid = (node.parents.length == 4) ? node.parents[0] : null;
                                        secid = node.id;
                                    }
                                    else if (parenttype == 'pos') {
                                        divid = (node.parents.length == 5) ? node.parents[2] : null;
                                        depid = (node.parents.length == 5) ? node.parents[1] : null;
                                        secid = (node.parents.length == 5) ? node.parents[0] : null;
                                        poid = node.id;
                                    }
                                    else if (parenttype == 'user') {
                                        divid = (node.parents.length == 6) ? node.parents[3] : null;
                                        depid = (node.parents.length == 6) ? node.parents[2] : null;
                                        secid = (node.parents.length == 6) ? node.parents[1] : null;
                                        poid = (node.parents.length == 6) ? node.parents[0] : null;
                                    }
                                    return '/Employee/GetChildren/' + node.id + '?parenttype=' + parenttype + '?usertype=' + usertype + '&divid=' + divid + '&depid=' + depid + '&secid=' + secid + '&poid=' + poid;
                                }
                            },
                            'data': function (node) {
                                return { 'id': node.id };
                            }
                        }
                    }
                });

                $tree.on('changed.jstree', function (e, data) {
                    if (data.node.original.node_type == 'user') {
                        var url = '@Url.Action("PositionRateDetail", "Employee")/' + data.node.original.node_mpid;
                        $.post(url, function (data) {
                            $("#detail").html(data);
                        });
                    }
                    else {
                        $("#detail").html('');
                    }
                });

            }
        }

        tree.getTree();


        $(".btn-search").click(function (e) {
            e.preventDefault();
            $("#organization").jstree(true).search($(".search-tree").val());
        });


        $(".add-position").click(function () {
            var url = '@Url.Action("PositionRateDetail", "Employee")';
            $.post(url, function (data) {
                $("#detail").html(data);
            });
        });



        });

    </script>
}