@model SAT.HR.Models.PositionRateViewModel

@{
    ViewBag.Title = "PositionRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-b-30 {
        margin-bottom: 30px;
    }
    .m-t-10 {
        margin-top: 10px;
    }
    .title-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .tree {
        font-size: 13px;
        border-right: 1px solid silver;
        overflow: auto;
        padding: 10px;
    }

    .tree2 {
        font-size: 13px;
        border-right: 1px solid silver;
        overflow: auto;
        padding: 10px;
        box-shadow: 0 0 5px #ccc;
        border-radius: 5px;
    }
</style>

<link href="@Url.Content("~/Content/assets/js/jstree/themes/default/style.css")" rel="stylesheet" />
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <h4 class="card-title">
                        <span> อัตรากำลังพล  > </span><small>พนักงาน</small>
                        <div class="pull-right">
                            @*@Html.Label("ประเภทบุคลากร: ", null, new { @class = "col-form-label" })*@
                            @Html.DropDownList("usertype", new SelectList((IEnumerable<SelectListItem>)ViewBag.UserType, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7 tree">
                            @*<div>
                                <input type="search" class="search-tree" />
                                <button type="button" class="btn-search">Search</button>
                            </div>*@
                            <div id="organization"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="title-header">
                                <h5><span>ข้อมูลอัตรากำลังพล</span></h5>
                                @*@Html.Label("ประเภทอัตรากำลังพล: ", null, new { @class = "col-form-label" })*@
                                <button class="btn btn-primary btn-sm pull-right add-position" data-toggle="modal" id="btnAdd"><i class="material-icons">add</i> เพิ่มอัตรากำลังพล</button>
                            </div>
                            @*<span id="event_result"></span>*@
                            <div id="detail"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script src="@Url.Content("~/Content/assets/js/jstree/jstree.js")"></script>
    <script>

    $(document).ready(function () {

        var DropDownList = {
            getDepartment: function (el, divid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DepartmentByDiv", "Master")',
                    data: { divid: divid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },
            getSection: function (el, divid, depid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SectionByDep", "Master")',
                    data: { divid: divid, depid: depid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            }
            @*getPosition: function (el, divid, depid, secid) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PositionBySec", "Master")',
                    data: { divid: divid, depid: depid, secid: secid },
                    dataType: 'json',
                    success: function (res) {
                        el.empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            el.append($('<option>', { value: entry.Value, text: entry.Text, selected: entry.Selected }));
                        })
                    }
                });
            },*@
        }

        $("#DivID").change(function () {
            DropDownList.getDepartment($("#DepID"), $('#DivID').val());
        });

        $("#DepID").change(function () {
            DropDownList.getSection($("#SecID"), $('#DivID').val(), $('#DepID').val());
        });

        //$("#SecID").change(function () {
        //    DropDownList.getPosition($("#PoID"), $('#DivID').val(), $('#DepID').val(), $('#SecID').val());
        //});

        $(".add-position").click(function () {
            var url = '@Url.Action("PositionRateDetail", "Employee")';
            $.post(url, function (data) {
                $("#detail").html(data);
            });
        });

        $('#organization').jstree({
            'core': {
                'data': {
                    'url': function (node) {
                        return node.id === '#' ? '/Employee/GetRoot' : '/Employee/GetChildren/' + node.id + '?type=' + node.original.node_type;
                    },
                    'data': function (node) {
                        debugger;
                        return { 'id': node.id };
                    }
                }
            },
            'plugins': ['search', 'wholerow'],
            'types': {
                'default': {
                    'icon': '//jstree.com/tree.png'
                },
                'user': {
                    'icon': 'glyphicon glyphicon-flash'
                }
            },

        });

        $('#organization').on('changed.jstree', function (e, data) {
            $("#detail").html('');
            //$('#event_result').html("selected: " + data.node.id + " - " + data.node.text);
        });

        $(".btn-search").click(function (e) {
            e.preventDefault();
            $("#organization").jstree(true).search($(".search-tree").val());
        });

        $(".btn-save").click(function (e) {

        });
        


    });

    </script>
}