@model SAT.HR.Models.PositionTransferViewModel

@{
    ViewBag.Title = "PositionTransferDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-b-10 {
        margin-bottom: 10px;
    }
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
    .col-form-label{
        font-size:14px;
    }
    .label-text {
        font-size: 14px;
        line-height: 2.679;
        color: #170cdb;
        font-weight: 100;
    }
    .table > thead > tr > th {
        vertical-align: text-top;
    }
    .table thead tr th {
        font-size: 15px;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        <span>โยกย้ายอัตรากำลังพล </span><small class="text-primary"></small>
                        <button type="button" class="btn btn-round pull-right btn-back">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body">

                    @Html.HiddenFor(m => m.MopID)
                    @Html.HiddenFor(m => m.MopStatus)
                    @Html.HiddenFor(m => m.UserTID, new { Value = @ViewBag.UserTypeID })


                    <div class="form-horizontal">
                        <div class="row m-b-10">
                            @Html.Label("ประเภทพนักงาน: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(n => n.UserTID, new SelectList((IEnumerable<SelectListItem>)ViewBag.UserType, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
                            </div>
                            @Html.Label("ประเภทการโยกย้าย: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(n => n.MtID, new SelectList((IEnumerable<SelectListItem>)ViewBag.MoveType, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "form-control custom-select select-with-transition" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("ปีบัญชี: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.MopYear, new { @class = "form-control" })
                            </div>
                            @Html.Label("เลขที่หนังสือคำสั่ง: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.MopBookCmd, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("วันที่ลงคำสั่ง: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                <div class="form-group bmd-form-group">
                                    @Html.TextBoxFor(m => m.MopDateCmd, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            @Html.Label("วันที่มีผล: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                <div class="form-group bmd-form-group">
                                    @Html.TextBoxFor(m => m.MopDateEff, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-10">
                            @Html.Label("ผู้ลงนาม: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.MopSignatory, new { @class = "form-control" })
                            </div>
                            @Html.Label("ไฟล์หนังสือคำสั่ง: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.MopPathFile, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="toolbar pull-right">
                        <button class="btn btn-primary btn-sm btn-new" data-toggle="modal"><i class="material-icons">add</i> เพิ่มรายการ</button>
                    </div>
                    <div class="position-transfer">
                        <table id="tb-detail" data-url="@Url.Content("~/Employee/PositionTransferDetail")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                    <th style="width:15%">ชื่อ-นามสกุล</th>
                                    <th style="width:18%">ตำแหน่งเก่า</th>
                                    <th style="width:18%">ตำแหน่งใหม่</th>
                                    <th style="width:24%">รักษาการแทน</th>
                                    <th style="width:10%">หมายเหตุ</th>
                                    <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row m-b-10">
                    <div class="ml-auto mr-auto">
                        <button type="button" class="btn btn-round btn-back">ย้อนกลับ</button>
                        <button type="button" class="btn btn-round btn-primary btn-save">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-transfer" tabindex="-1" role="dialog" aria-labelledby="modalTransferLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>โยกย้ายอัตรากำลังพล</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="detail-transfer"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-roundbtn-default btn-close" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-save">เพิ่มลงรายการ</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

@section Scripts {
<script>
    $(document).ready(function () {

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        var dataTable = {
            table: null,
            initializeDataTable: function () {
                var id = $("#MopID").val();

                $table = $('#tb-detail');

                dataTable.table = $table.DataTable({
                    "proccessing": true,
                    "serverSide": true,
                    paging: false,
                    bFilter: false,
                    ordering: false,
                    searching: true,
                    dom: 't',
                    language: { zeroRecords: "ไม่พบข้อมูล" },
                    ajax: {
                        url: '@Url.Action("PositionTransferDetail", "Employee")/' + id,
                        type: "POST",
                    },
                    "columns": [
                        { "data": "RowNumber", "orderable": false, "searchable": false },
                        { "data": "UserName", "orderable": true },
                        { "data": "PoNameNew", "orderable": true },
                        { "data": "PoNameOld", "orderable": true },
                        { "data": "AgentPo", "orderable": true },
                        { "data": "MovRemark", "orderable": true },
                    ],
                    "columnDefs": [
                        {
                            "render": function (data, type, row) {
                                var inner = '<div class="td-actions text-right">' +
                                                '<button title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.UserID + '"><i class="material-icons">close</i></button>' +
                                            '</div>';
                                return inner;
                            }, "targets": 6
                        },
                    ]
                });
            },
            getData: function () {
                if (dataTable.table == null)
                    dataTable.initializeDataTable();
                else
                    dataTable.table.ajax.reload();
            }
        }

        dataTable.getData();

        $(".btn-back").click(function () {
            var url = '@Url.Action("PositionTransfer", "Employee")';
            window.location.href = url;
        });

        $(".btn-new").click(function () {
            var type = $("#UserTID").val()
            var url = '@Url.Action("PositionTransferDetailByID", "Employee")';
            $.post(url, { id: 0, type: type }, function (data) {
                $(".detail-transfer").html(data);
                $('.modal-transfer').modal('show');
            });
        });

        $(".btn-add").click(function () {

        });

        $(".btn-save").click(function () {
            
        });



    });
</script>
}
