@model SAT.HR.Models.TimeAttendanceViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-detail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.TaID)
    @Html.HiddenFor(m => m.Std_TimeIn)
    @Html.HiddenFor(m => m.Std_TimeOut)

    <div class="form-horizontal">
        <div class="row">
            <label class="col-sm-2 col-form-label">ประเภท<span class="text-danger"> *</span></label>
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.DropDownListFor(m => m.TaTID, new SelectList((IEnumerable<SelectListItem>)ViewBag.AttendanceType, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker usertype", data_style = "select-with-transition" })
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">เวลาเข้า<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.Act_TimeIn, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control datetimepicker", required = "true" })
                </div>
            </div>
            <label class="col-sm-2 col-form-label">เวลาออก<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.Act_TimeOut, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control datetimepicker", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">ปรับเวลาเข้า<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.Adj_TimeIn, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control datetimepicker", required = "true" })
                </div>
            </div>
            <label class="col-sm-2 col-form-label">ปรับเวลาออก<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.Adj_TimeOut, "{0:dd-MM-yyyy HH:mm}", new { @class = "form-control datetimepicker", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label">หมายเหตุ</label>
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextAreaFor(m => m.Remark, 3, 100, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
}

<style>
    .col-form-label {
        font-size: 14px;
    }
</style>

<script>

    $('.selectpicker').selectpicker();

    $('.datetimepicker').datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
        locale: 'th',
        date: moment().add(543, 'years'),
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>
