@model SAT.HR.Models.LeaveRequestViewModel
@{
    ViewBag.Title = "LeaveRequestDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">alarm_on</i>
                    </div>
                    <h4 class="card-title">
                        <span>แบบฟอร์มการขออนุมัติลา > </span><span class="text-primary"> @Model.DocNo</span>
                        <button type="submit" class="btn btn-round pull-right btn-back">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-leave" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.FormID)
                        @Html.HiddenFor(m => m.FormHeaderID)
                        @Html.HiddenFor(m => m.TransCurrentStepID)
                        @Html.HiddenFor(m => m.StepNo)
                        @Html.HiddenFor(m => m.Accept)

                        <div class="row">
                            <label class="col-sm-2 col-form-label">ชื่อผู้ลา</label>
                            <div class="col-sm-3">
                                <div class="form-group bmd-form-group">
                                    @Html.DisplayFor(m => m.RequestName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">ประเภทการลา:</label>
                            <div class="col-sm-3">
                                <div class="form-group bmd-form-group">
                                    @Html.DisplayFor(m => m.LeaveTypeName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">ช่วงเวลา:</label>
                            <div class="col-sm-10">
                                <div class="form-group bmd-form-group">
                                    @Html.DisplayFor(m => m.DayTimeName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">วันที่เริ่ม:</label>
                            <div class="col-md-2">
                                <div class="form-group bmd-form-group">
                                    @Html.DisplayFor(m => m.StartDateText, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label">วันที่สิ้นสุด:</label>
                            <div class="col-md-2">
                                <div class="form-group bmd-form-group">
                                    @Html.DisplayFor(m => m.EndDateText, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">จำนวนวัน:</label>
                            <div class="col-md-10">
                                <div class="form-group bmd-form-group">
                                    @Html.DisplayFor(m => m.LeaveTotalDay, new { @class = "form-control" })
                                    &nbsp;<label>วัน</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">เหตุผลการลา:</label>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    @Html.DisplayFor(m => m.LeaveReason, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        if (!string.IsNullOrEmpty(Model.PathFile))
                        {
                        <div class="row">
                            <label class="col-sm-2 col-form-label">แนบไฟล์:</label>
                            <div class="col-md-6">
                                <div class="input-group-prepend file-path">
                                    <a class="m-t-10 file-name" target="_blank" href=@Url.Action("DownloadFileAttach", "WorkingTime", new { id = Model.FormID, type = 1 })>@Model.PathFile</a>
                                </div>
                            </div>
                        </div>
                        }
                        <div class="row">
                            <label class="col-sm-2 col-form-label">หมายเหตุ:</label>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    @Html.TextAreaFor(m => m.ApproverComment, 3, 100, new { @class = "form-control", required = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-40">
                            <div class="ml-auto mr-auto">
                                @*<button type="button" class="btn btn-back">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnBack)</button>*@
                                <button type="button" class="btn btn-primary btn-disapprove" value="2">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnDisapprove)</button>
                                <button type="button" class="btn btn-primary btn-approve" value="1">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnApprove)</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $(".btn-back").click(function () {
                var url = '@Url.Action("LeaveWaiting", "WorkingTime")';
                window.location.href = url;
            });

            $(".btn-approve").click(function () {
                $("#Accept").val(1);
                swal({
                    title: '',
                    text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ConfirmApprove)",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    approveLeave();
                }).catch(swal.noop)
            });

            $(".btn-disapprove").click(function () {
                $("#Accept").val(2);
                swal({
                    title: '',
                    text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ConfirmDisapprove)",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    approveLeave();
                }).catch(swal.noop)
            });

            function approveLeave() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ApproveLeave", "WorkingTime")',
                    data: $("#form-leave").serialize(),
                    success: function (res) {
                        if (res.MessageCode == null) {
                            swal({
                                title: "",
                                text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ActionSucceed)",
                                type: "success",
                                confirmButtonClass: "btn btn-primary",
                                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                buttonsStyling: false
                            }).then(function () {
                                $(".btn-approve").prop('disabled', true);
                                $(".btn-disapprove").prop('disabled', true);
                            });
                        }
                        else {
                            swal({
                                title: '',
                                text: res.MessageText,
                                type: 'error',
                                confirmButtonClass: "btn btn-primary",
                                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                                buttonsStyling: false
                            }).catch(swal.noop);
                        }
                    }
                });
            }

        });

    </script>
}
