@model SAT.HR.Models.LeaveBalanceViewModel

@{
    ViewBag.Title = "LeaveBalanceDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-leave" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">alarm_on</i>
                        </div>
                        <h4 class="card-title">
                            <span>  ปรับปรุงสิทธิการลาพนักงาน: </span>
                            @Html.HiddenFor(m => m.UserID)
                            <span class="text-primary">@Model.FullNameTh (@Model.IDCard)</span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar pull-right">
                            <div class="col-sm-2">
                                @Html.DropDownListFor(m => m.LeaveYear, new SelectList((IEnumerable<SelectListItem>)ViewBag.YearLeaveBalance, "Value", "Text"), new { @class = "selectpicker usertype", data_style = "select-with-transition" })
                            </div>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                <thead class="text-primary">
                                    <tr>
                                        <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                        <th style="width:10%">ปีบัญชี</th>
                                        <th style="width:40%">ประเภท</th>
                                        <th style="width:15%; text-align:right;">วันลามาตรฐาน</th>
                                        <th style="width:15%; text-align:right;">วันลาได้สูงสุด</th>
                                        <th style="width:15%; text-align:right;">วันลาที่ใช้ไป</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ListLeaveBalance != null)
                                    {
                                        for (int i = 0; i < Model.ListLeaveBalance.Count; i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(model => model.ListLeaveBalance[i].LevYear)
                                                @Html.HiddenFor(model => model.ListLeaveBalance[i].LevID)
                                                @Html.HiddenFor(model => model.ListLeaveBalance[i].UserID)
                                                <td>@Model.ListLeaveBalance[i].RowNumber</td>
                                                <td>@Model.ListLeaveBalance[i].LevYear</td>
                                                <td>@Model.ListLeaveBalance[i].LevName</td>
                                                <td>@Html.TextBoxFor(model => model.ListLeaveBalance[i].LevStandard, new { @class = "text-right", type = "number" })</td>
                                                <td>@Html.TextBoxFor(model => model.ListLeaveBalance[i].LevMax, new { @class = "text-right", type = "number" })</td>
                                                <td>@Html.TextBoxFor(model => model.ListLeaveBalance[i].LevUsed, new { @class = "text-right", type = "number" })</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="ml-auto mr-auto">
                                <button type="button" class="btn btn-back">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnBack)</button>
                                <button type="button" class="btn btn-primary btn-save">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: top;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 80px;
        margin-left: 13px;
        margin-top: -5px;
    }
</style>

@section Scripts {
    <script>

        $(document).ready(function () {

            $("#LeaveYear").change(function () {
                var id = $('#UserID').val();
                var year = $('#LeaveYear').val();
                var url = '/WorkingTime/LeaveBalanceDetail/' + id + '?year=' + year;
                debugger;
                window.location.href = url;
            });

            $(".btn-back").click(function () {
                var url = '@Url.Action("LeaveBalance", "WorkingTime")';
                window.location.href = url;
            });

            $(".btn-save").click(function () {
                swal({
                    title: '',
                    text: 'ยืนยันการแก้ไขข้อมูลสิทธิการลาประจำปี',
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SaveLeaveBalance", "WorkingTime")',
                        data: $("#form-leave").serialize(),
                        success: function (res) {
                            if (res.MessageCode == null) {
                                swal({
                                    title: "",
                                    text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                                    type: "success",
                                    confirmButtonClass: "btn btn-primary",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                    buttonsStyling: false,
                                }).then(function () {

                                });
                            }
                            else {
                                swal({
                                    title: '',
                                    text: res.MessageText,
                                    type: 'error',
                                    confirmButtonClass: "btn btn-primary",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                                    buttonsStyling: false
                                }).catch(swal.noop);
                            }
                        }
                    });
                }).catch(swal.noop);
            });

        });

    </script>
}