@model SAT.HR.Models.AccidentViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-detail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.ActID)

    <div class="form-horizontal">
        <div class="row">
            <label class="col-sm-3 col-form-label">วันที่เกิดอุบัติเหตุ<span class="text-danger"> *</span></label>
            <div class="col-sm-3">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.ActDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label">สถานที่เกิดเหตุ<span class="text-danger"> *</span></label>
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.ActPlace, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label">สาเหตุ<span class="text-danger"> *</span></label>
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextAreaFor(m => m.ActDesc, 3, 100, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label">จำนวนเงินที่จ่ายไป<span class="text-danger"> *</span></label>
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", type = "number", required = "true" })
                </div>
            </div>
        </div>
        
    </div>
}
<script>

    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'th',
        //date: moment().add(543, 'years'),
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>

