@model SAT.HR.Models.BenefitChildFundViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-detail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.BcfID)

    <div class="form-horizontal">
        <div class="row">
            @Html.Label("เลขบัตรประชาชน", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcfIDCard, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            @Html.Label("ชื่อ-นามสกุล", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="dropdown bootstrap-select dropup">
                    @Html.TextBoxFor(m => m.BcfName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            @Html.Label("วันเกิด", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-3">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcfBirthDate, "{0:dd-MM-yyyy}", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            @Html.Label("วันที่หมดสิทธิ	", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-5">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcfExpireDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row m-t-5">
            <label class="col-sm-2 col-form-label">จำนวนเงิน<span class="text-danger"> *</span></label>
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcfAmout, new { @class = "form-control", type = "number", required = "true" })
                </div>
            </div>
        </div>
    </div>
}
<script>
    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'th',
        //date: moment().add(543, 'years'),
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>