@model SAT.HR.Models.BenefitCremationViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-detail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.BcID)

    <div class="form-horizontal">
        <div class="row">
            @Html.Label("ปีบัญชี", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-3">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcYear, new { @class = "form-control", type = "number", required = "true" })
                </div>
            </div>
            @Html.Label("ประเภทสมาชิก", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-4">
                <div class="dropdown bootstrap-select dropup">
                    @Html.DropDownListFor(x => x.MID, new SelectList((IEnumerable<SelectListItem>)ViewBag.MemberType, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("เลขสมาชิก", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-3">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcMemberNo, new { @class = "form-control", type = "number", required = "true" })
                </div>
            </div>
            @Html.Label("วันสมัคร", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ผู้รับเงินสงเคราะห์", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcRecFullName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ผู้รับผลประโยชน์ลำดับที่ 1", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcBeneficiary1, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ผู้รับผลประโยชน์ลำดับที่ 2", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcBeneficiary2, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ผู้รับผลประโยชน์ลำดับที่ 3", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcBeneficiary3, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ผู้รับผลประโยชน์ลำดับที่ 4", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcBeneficiary4, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ผู้รับผลประโยชน์ลำดับที่ 5", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BcBeneficiary5, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
}
<script>
    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'th',
        //date: moment().add(543, 'years'),
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>
