@model SAT.HR.Models.BenefitHomeRentalViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-detail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.BhrID)

    <div class="form-horizontal">
        <div class="row">
            @Html.Label("ปีบัญชี", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BhrYear, new { @class = "form-control", type = "number" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ประเภท", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="dropdown bootstrap-select dropup">
                    @Html.DropDownListFor(x => x.RID, new SelectList((IEnumerable<SelectListItem>)ViewBag.RentType, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition" })
                </div>
            </div>
            @Html.Label("ส่วน", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="dropdown bootstrap-select dropup">
                    @Html.DropDownListFor(x => x.RID, new SelectList((IEnumerable<SelectListItem>)ViewBag.PartType, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ระดับ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="dropdown bootstrap-select dropup">
                    @Html.DropDownListFor(x => x.BhrLevel, new SelectList((IEnumerable<SelectListItem>)ViewBag.BhrLevel, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition" })
                </div>
            </div>
            @Html.Label("ขั้น", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="dropdown bootstrap-select dropup">
                    @Html.DropDownListFor(x => x.PID, new SelectList((IEnumerable<SelectListItem>)ViewBag.BhrStep, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่เริ่ม", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BhrStartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                </div>
            </div>
            @Html.Label("วันที่สิ้นสุด", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BhrEndDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("จำนวนเงิน", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BhrAmout, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("หมายเหตุ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.BhrRemark, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
}
<script>
    $('.selectpicker').selectpicker();

    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>
