@model SAT.HR.Models.BenefitProvidentFundViewModel


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <h4 class="card-title">
                            <span>กองทุน</span>
                            <button class="btn btn-primary btn-sm pull-right btn-add" data-toggle="modal"><i class="material-icons">add</i> เพิ่มรายการ</button>
                        </h4>
                    </div>
                    <div class="form-horizontal">
                        <div class="row">
                            @Html.Label("เลขสมาชิกกองทุน: ", null, new { @class = "col-sm-3 col-form-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(m => m.ProvidentFundNo, new { @class = "form-control" })
                            </div>
                            @Html.Label("วันที่เป็นสมาชิก: ", null, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(m => m.ProvidentFundDate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
                            </div>
                            <button class="btn btn-success btn-sm pull-right btn-update-providentfund" data-toggle="modal">บันทึก</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="material-datatables">
                            <table class="table table-detail">
                                <thead class="text-primary">
                                    <tr>
                                        <th style="width:5%;" class="text-center">#</th>
                                        <th style="width:7%;" class="text-left">ปีบัญชี</th>
                                        <th style="width:12%;" class="text-right">เงินสะสม %</th>
                                        <th style="width:15%;" class="text-right">เงินสมทบ %</th>
                                        <th style="width:23%;" class="text-center">วันที่เปลี่ยนแปลงเงินสะสม</th>
                                        <th style="width:28%;" class="text-left">ผู้รับผลประโยชน์</th>
                                        <th style="width:10%;" class="text-right">ปฏิบัติการ</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-detail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-provident">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>กองทุน</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="div-detail"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-save">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<style>
    .modal-dialog-provident {
        max-width: 820px;
    }
    .table thead tr th {
        font-size: 14px;
    }
</style>

<script>
    $('.datepicker').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'th',
        date: moment().add(543, 'years'),
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });

    var dataTable = {
        table: null,
        initializeDataTable: function () {
            var id = $("#UserID").val();

            $table = $('.table-detail');
            dataTable.table = $table.DataTable({
                "proccessing": true,
                "serverSide": true,
                paging: false,
                bFilter: false,
                ordering: false,
                searching: true,
                language: { zeroRecords: "ไม่พบข้อมูล" },
                dom: 't',
                ajax: {
                    url: '@Url.Action("ProvidentFund", "Benefit")/' + id,
                    type: "POST",
                },
                "columns": [
                    { "data": "RowNumber", "orderable": false, "searchable": false },
                    { "data": "BpYear", "orderable": true },
                    { "data": "BpAccumFundCuName", "orderable": true },
                    { "data": "BpAssoFundCuName", "orderable": true },
                    { "data": "BpDateChangeFundText", "orderable": true },
                    { "data": "BpBeneficiary", "orderable": true },
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return '<div class="text-right">' + data + '</div>';
                        }, "targets": [2,3]
                    },
                    {
                        "render": function (data, type, row) {
                            return '<div class="text-center">' + data + '</div>';
                        }, "targets": 4
                    },
                    {
                        "render": function (data, type, row) {
                            var inner = '<div class="td-actions pull-right">' +
                                            '<button title="แก้ไข" type="button" rel="tooltip" class="btn btn-round btn-success edit" data-id="' + row.BpID + '"><i class="material-icons">edit</i></button>&nbsp;&nbsp;' +
                                            '<button title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.BpID + '"><i class="material-icons">close</i></button>' +
                                        '</div>';
                            return inner;
                        }, "targets": 6
                    },
                ]
            });

            dataTable.table.on('click', '.edit', function () {
                var userid = $("#UserID").val();
                var id = $(this).data("id");
                var url = '@Url.Action("ProvidentFundDetail", "Benefit")';
                $.post(url, { userid: userid, id: id }, function (data) {
                    $(".div-detail").html(data);
                    $('.modal-detail').modal('show');
                });
            });

            dataTable.table.on('click', '.delete', function () {
                var id = $(this).data("id");
                swal({
                    title: '',
                    text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ConfirmDelete)",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteProvidentFund", "Benefit")/' + id,
                        success: function (res) {
                            if (res.MessageCode == null) {
                                swal({
                                    title: "",
                                    text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.DeleteSucceed)",
                                    type: "success",
                                    confirmButtonClass: "btn btn-primary",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                    buttonsStyling: false
                                }).then(function () {
                                    dataTable.getData();
                                });
                            }
                            else {
                                swal({
                                    title: '',
                                    text: res.MessageText,
                                    type: 'error',
                                    confirmButtonClass: "btn btn-primary",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                                    buttonsStyling: false
                                }).catch(swal.noop);
                            }
                        }
                    });
                }).catch(swal.noop)
            });
        },
        getData: function () {
            if (dataTable.table == null)
                dataTable.initializeDataTable();
            else
                dataTable.table.ajax.reload();
        }
    }

    dataTable.getData();


    $(".btn-add").click(function () {
        var userid = $("#UserID").val();
        var url = '@Url.Action("ProvidentFundDetail", "Benefit")';
        $.post(url, { userid: userid, id: 0 }, function (data) {
            $(".div-detail").html(data);
            $('.modal-detail').modal('show');
        });
    });

    $(".btn-save").click(function () {
        var $valid = $('.form-detail').valid();
        if (!$valid) {

            return false;
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveProvidentFund", "Benefit")',
                data: $(".form-detail").serialize(),
                success: function (res) {
                    if (res.MessageCode == null) {
                        swal({
                            title: "",
                            text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                            type: "success",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                        }).then(function () {
                            $('.modal-detail').modal('hide');
                            dataTable.getData();
                        });
                    }
                    else {
                        swal({
                            title: '',
                            text: res.MessageText,
                            type: 'error',
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                            buttonsStyling: false
                        }).catch(swal.noop)
                    }
                }
            });
        }
    });

    $(".btn-update-providentfund").click(function () {
        var userid = $("#UserID").val();
        var fundno = $("#ProvidentFundNo").val();
        var funddate = $("#ProvidentFundDate").val();
        swal({
            title: '',
            text: "ยืนยันบันทึกข้อมูล",
            type: 'question',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
            cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
            buttonsStyling: false
        }).then(function () {
            if (fundno == "") {
                $("#ProvidentFundNo").focus();
            }
            else if (fundno == "") {
                $("#ProvidentFundDate").focus();
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateProvidentFund", "Benefit")',
                    data: { userid: userid, fundno: fundno, funddate: funddate },
                    success: function (res) {
                        if (res.MessageCode == null) {
                            swal({
                                title: "",
                                text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                                type: "success",
                                confirmButtonClass: "btn btn-primary",
                                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                buttonsStyling: false
                            }).then(function () {
                            });
                        }
                        else {
                            swal({
                                title: '',
                                text: res.MessageText,
                                type: 'error',
                                confirmButtonClass: "btn btn-primary",
                                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                                buttonsStyling: false
                            }).catch(swal.noop);
                        }
                    }
                });
            }
        }).catch(swal.noop)
    });

</script>