

<style>
    .table thead tr th {
        font-size: 14px;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 245px;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment_ind</i>
                        </div>
                        <h4 class="card-title">
                            <span>เงินตอบแทนความชอบ</span>
                            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAddRemuneration"><i class="material-icons">add</i> เพิ่มรายการ</button>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:5%;" class="text-center">#</th>
                                        <th style="width:15%;" class="text-center">ปีบัญชี</th>
                                        <th style="width:35%;" class="text-left">ชื่อ-นามสกุล</th>
                                        <th style="width:10%;" class="text-right">ยอดเงิน</th>
                                        <th style="width:25%;" class="text-center">หมายเหตุ</th>
                                        <th style="width:10%;" class="text-center">ปฏิบัติการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">2560</td>
                                        <td>ชนิสรา เมืองทรัพย์</td>
                                        <td class="text-right">99,225</td>
                                        <td></td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                                                <i class="material-icons">edit</i>
                                            </button>&nbsp;
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-round" data-original-title="" title="">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="text-center">2560</td>
                                        <td>ชนิสรา เมืองทรัพย์</td>
                                        <td class="text-right">89,241</td>
                                        <td></td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                                                <i class="material-icons">edit</i>
                                            </button>&nbsp;
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-round" data-original-title="" title="">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Classic Modal -->
<div class="modal fade modal-large" id="modalRemuneration" tabindex="-1" role="dialog" aria-labelledby="modalRemunerationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>เงินตอบแทนความชอบ</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="container-fluid">
                        <div class="form-horizontal">
                            <div class="row">
                                @Html.Label("ปีบัญชี", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-5">
                                    <div class="form-group bmd-form-group">
                                        <input class="form-control" type="text" placeholder="">
                                        <span class="bmd-help text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Label("ผู้รับ", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    <div class="dropdown bootstrap-select dropup">
                                        <select tabindex="-98" title="-- กรุณาเลือก --" class="selectpicker" data-size="15" data-style="select-with-transition">
                                            <option class="bs-title-option" value=""></option>
                                        </select>
                                        <span class="bmd-help text-danger">xxxx</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                @Html.Label("จำนวนเงิน", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    <div class="form-group bmd-form-group">
                                        <input class="form-control" type="text" placeholder="">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Label("วันที่", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    <div class="form-group bmd-form-group">
                                        <input class="form-control" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @Html.Label("หมายเหตุ", null, new { @class = "col-sm-2 col-form-label" })
                                <div class="col-sm-10">
                                    <div class="form-group bmd-form-group">
                                        <input class="form-control" type="text" placeholder="">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary" id="btnRemuneration">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<script>

</script>