
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .m-t-10 {
        margin-top: 10px;
    }

    .m-b-20 {
        margin-bottom: 20px;
    }

    .nav-pills .nav-item .nav-link {
        font-size: 14px;
    }

        .nav-pills .nav-item .nav-link.active {
            font-size: 14px;
        }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">card_giftcard</i>
                    </div>
                    <h4 class="card-title">
                        <span>สวัสดิการพนักงาน: </span><span class="text-primary">ชนิสรา เมืองทรัพย์ (1770500003531)</span>
                        <button type="submit" class="btn btn-round pull-right">ย้อนกลับ</button>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row m-b-20">
                        <div class="col-md-3 m-t-10">
                            <ul class="nav nav-pills nav-pills-warning flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-left show" data-toggle="tab" href="#tab-Remuneration" role="tablist">
                                        เงินตอบแทนความชอบ
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-ProvidentFund" role="tablist">
                                        กองทุน
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-MedicalTreatment" role="tablist">
                                        รักษาพยาบาล
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-Loan" role="tablist">
                                        เงินกู้
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-HomeRental" role="tablist">
                                        ค่าเช่าบ้าน
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-ChildFund" role="tablist">
                                        เงินช่วยเหลือบุตร
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-ChildEducation" role="tablist">
                                        เงินช่วยเหลือการศึกษาบุตร
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-Cremation" role="tablist">
                                        ฌาปนกิจสงเคราะห์
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-DeathReplacement" role="tablist">
                                        เงินทดแทนกรณีเสียชีวิต
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-DeathSubsidy" role="tablist">
                                        เงินช่วยเหลือพิเศษกรณีเสียชีวิต
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left" data-toggle="tab" href="#tab-OtherWelfare" role="tablist">
                                        สวัสดิการอื่นๆ
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-Remuneration">
                                    @Html.Partial("_Remuneration")
                                </div>
                                <div class="tab-pane" id="tab-ProvidentFund">
                                    @Html.Partial("_ProvidentFund")
                                </div>
                                <div class="tab-pane" id="tab-MedicalTreatment">
                                    @Html.Partial("_MedicalTreatment")
                                </div>
                                <div class="tab-pane" id="tab-Loan">
                                    @Html.Partial("_Loan")
                                </div>
                                <div class="tab-pane" id="tab-HomeRental">
                                    @Html.Partial("_HomeRental")
                                </div>
                                <div class="tab-pane" id="tab-ChildFund">
                                    @Html.Partial("_ChildFund")
                                </div>
                                <div class="tab-pane" id="tab-ChildEducation">
                                    @Html.Partial("_ChildEducation")
                                </div>
                                <div class="tab-pane" id="tab-Cremation">
                                    @Html.Partial("_Cremation")
                                </div>
                                <div class="tab-pane" id="tab-DeathReplacement">
                                    @Html.Partial("_DeathReplacement")
                                </div>
                                <div class="tab-pane" id="tab-DeathSubsidy">
                                    @Html.Partial("_DeathSubsidy")
                                </div>
                                <div class="tab-pane" id="tab-OtherWelfare">
                                    @Html.Partial("_OtherWelfare")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>

    $(document).ready(function () {



        // Add Remuneration
        $("#btnAddRemuneration").click(function () {
            $('#modalRemuneration').modal('show');

            @*var url = '@Url.Action("OtherWelfare", "Benefit")';
            $.post(url, function (data) {
                $("#detail").html(data);
                $('#modalDetail').modal('show');
            });*@
        });




        // Save Remuneration
        $("#btnRemuneration").click(function () {

            //$(".bmd-help").text("require");
            //$(".form-group").addClass("has-danger");
            //$(".selectpicker").focus();


        });

    });
    </script>
}