
@{
    ViewBag.Title = "Evaluation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .label-detail-45 {
        width: 46px;
    }
    .label-detail-90 {
        width: 90px;
    }
    .label-detail-100 {
        width: 100px;
    }
    .label-dropdown {
        width: 100px;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">accessibility</i>
                    </div>
                    <h4 class="card-title"><span>  บันทึกข้อมูลสมรรถนะ </span></h4>
                    <div class="form-horizontal">
                        <div class="row">
                            @Html.Label("ปีบัญชี: ", null, new { @class = "label-detail-45 col-form-label text-right" })
                            <div class="col-sm-2">
                                @Html.DropDownList("year", new SelectList((IEnumerable<SelectListItem>)ViewBag.YearCapability, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition" })
                            </div>
                            @Html.Label("แบบประเมิน: ", null, new { @class = "label-detail-90 col-form-label  text-right" })
                            <div class="col-sm-5">
                                @Html.DropDownList("capability", new SelectList((IEnumerable<SelectListItem>)ViewBag.Capability, "Value", "Text"), "-- กรุณาเลือก --", new { @class = "selectpicker", data_style = "select-with-transition", data_show_subtext = "true", data_live_search = "true" })
                            </div>
                            @Html.Label("ประเภทบุคลากร: ", null, new { @class = "label-detail-100 col-form-label  text-right" })
                            <div class="col-sm-2">
                                @Html.DropDownList("usertype", new SelectList((IEnumerable<SelectListItem>)ViewBag.UserType, "Value", "Text"), new { @class = "selectpicker", data_style = "select-with-transition" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="material-datatables">
                        <table id="datatables" data-url="@Url.Content("~/HumanResource/Evaluation")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width:5%" class="disabled-sorting">ลำดับ</th>
                                    <th style="width:20%">เลขประจำตัวประชาชน</th>
                                    <th style="width:20%">ชื่อ-นามสกุล</th>
                                    <th style="width:45%">ตำแหน่ง</th>
                                    <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.selectpicker').selectpicker();

            var dataTable = {
                table: null,
                initializeDataTable: function (year, capid, usertype) {
                    $table = $('#datatables');
                    dataTable.table = $table.DataTable({
                        "proccessing": true,
                        "serverSide": true,
                        responsive: true,
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "ค้นหา",
                            zeroRecords: "ไม่พบข้อมูล",
                        },
                        ajax: {
                            url: $table.data("url"),
                            data: { usertype: usertype, capid: capid },
                            type: "POST",
                        },
                        "columns": [
                            { "data": "RowNumber", "orderable": true, "orderable": false, "searchable": false },
                            { "data": "IDCard", "orderable": true },
                            { "data": "FullNameTh", "orderable": true },
                            { "data": "PoName", "orderable": true },
                        ],
                        "columnDefs": [
                            {
                                "render": function (data, type, row) {
                                    var inner = '<div class="td-actions text-right">' +
                                                    '<button title="แสดงข้อมูล" type="button" class="btn btn-round btn-warning edit" data-id="' + row.UserID + '"><i class="material-icons">search</i></button>&nbsp;&nbsp;' +
                                                '</div>';
                                    return inner;
                                }, "targets": 4
                            },
                        ],
                        "order": [[2, "asc"]],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "pagingType": "full_numbers",
                    });

                    dataTable.table.on('click', '.edit', function () {
                        var id = $(this).data("id");
                        var capid = $('select[name=capability]').val();
                        var url = '@Url.Action("EvaluationDetail", "HumanResource")/' + id + "?capid=" + capid;
                        window.location.href = url;
                    });
                },
                getData: function (year, capid, usertype) {
                    if (dataTable.table == null)
                        dataTable.initializeDataTable(year, capid, usertype);
                    else
                        dataTable.table.ajax.reload();
                },
                renewData: function (year, capid, usertype) {
                    $('#datatables').dataTable().fnDestroy();
                    dataTable.initializeDataTable(year, capid, usertype);
                },
            }

            dataTable.getData(0, 0, 0);

            $('select[name=year]').change(function () {
                debugger;
                $('#datatables').dataTable().fnDestroy();
                dataTable.initializeDataTable(0, 0, 0);

                var year = $('select[name=year]').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCapability", "HumanResource")',
                    data: { year: year },
                    dataType: 'json',
                    success: function (res) {
                        $('select[name=capability]').empty().append('<option value=""> -- กรุณาเลือก -- </option>');
                        $.each(res, function (key, entry) {
                            $('select[name=capability]').append($('<option>', { value: entry.Value, text: entry.Text }));
                        });
                        $('select[name=capability]').selectpicker('refresh');
                    }
                });
            });


            $('select[name=capability]').change(function () {
                var year = $('select[name=year]').val();
                var capid = $('select[name=capability]').val();
                var usertype = $('select[name=usertype]').val();
                if (capid != '') {
                    dataTable.renewData(year, capid, usertype);
                }
            });

            $('select[name=usertype]').change(function () {
                var year = $('select[name=year]').val();
                var capid = $('select[name=capability]').val();
                var usertype = $('select[name=usertype]').val();
                if (capid != '') {
                    dataTable.renewData(year, capid, usertype);
                }
            });

        });

    </script>
}