@model SAT.HR.Models.ActionTypeViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ActID)

    <div class="col-md-12">
        <div class="row">
            @Html.Label("ประเภทการเคลื่อนไหว", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.ActName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ActName)
                </div>
            </div>
        </div>
    </div>
}