@model List<SAT.HR.Models.CapabilityDetailViewModel>


<style>
    .table thead tr th {
        font-size: 14px;
    }
    .table > tbody > tr > td {
        font-size: 14px;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    <div class="col-md-12">
        <div class="row">
            <div class="material-datatables">
                <button class="btn btn-primary btn-sm pull-right" id="btnAddDetail"><i class="material-icons">add</i> เพิ่มรายการ</button>
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:5%">ลำดับ</th>
                            <th style="width:16%">ชื่อสมรรถนะ</th>
                            <th style="width:7%">คะแนน(1)</th>
                            <th style="width:7%">คะแนน(2)</th>
                            <th style="width:55%">รายละเอียด</th>
                            <th style="width:10%">ปฏิบัติการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].CapDName</td>
                                <td>@Model[i].Score1</td>
                                <td>@Model[i].Score2</td>                                
                                <td>@Html.TextAreaFor(model => model[i].CapDDesc, 5, 40, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })</td>
                                <td class="td-actions text-center">
                                    <button type="button" rel="tooltip" class="btn btn-round btn-danger delete" id="btnDelDetail"><i class="material-icons">close</i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="roll-add">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {

        $("#btnAddDetail").click(function () {
            debugger;
            var htmlAddroll = '<tr>'
                                            + '<td class="text-center">' + 7 + '</td>';
                                                //+ '<td class="text-center">' + courseName + '</td>'
                                                //+ '<td class="text-center section"><input type="checkbox" id="Section" name="Section" ' + section + ' /></td>'
                                                //+ '<td class="text-center group"><input type="checkbox" id="Group" name="Group" ' + group + ' /></td>'
                                                //+ '<td class="text-center leader"><input type="checkbox" id="Leader" name="Leader" ' + leader + ' /></td>'
                                                //+ '<td class="text-center staff"><input type="checkbox" id="Staff" name="Staff" ' + staff + ' /></td>'
                                                //+ '<td class="text-center"><a class="btn btn-white text-danger deleteTbroll m-t-xs" href="javascript:void(0);" title="delete"><i class="fa fa-minus"></i></a><input value="0" class="roll-id" id="ListrollID" name="ListrollID" type="hidden"></td>'
                                                //+ '<td class="hidden" id="idOffJT">' + id + '</td>';
                +'</tr>'
                $('.roll-add').append(htmlAddroll);
            });

    });
    </script>
}
