@model SAT.HR.Models.CertificateViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.CerID)
    <div class="col-md-12">
        <div class="row">
            @Html.Label("ใบประกอบวิชาชีพ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.CerName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CerName)
                </div>
            </div>
        </div>
    </div>
}