@model SAT.HR.Models.DisciplineViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.DisID)

    <div class="col-md-12">
        <div class="row">
            @Html.Label("สายงาน", null, new { @class = "col-sm-3 col-form-label" })            
            <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">ใส่ข้อมูลสายงาน</label>
                @Html.TextBoxFor(m => m.DisName, new { @class = "form-control" , required = "true" })
                @Html.ValidationMessageFor(m => m.DisName)
            </div>
            
        </div>
    </div>
}
