@model SAT.HR.Models.DisciplineViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.DisID)

    <div class="col-md-12">
        <div class="row">
            @Html.Label("สายงาน", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group has-danger">
                    @Html.TextBoxFor(m => m.DisName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DisName)
                </div>
            </div>
        </div>
    </div>
}
