@model SAT.HR.Models.HolidayViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.HolID)

    <div class="col-md-12">
        <div class="row">
            @Html.Label("วันที่", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลวันที่</label>
                    @Html.TextBoxFor(m => m.HolDate, new { @class = "form-control datetimepicker", required = "true" })
                    @Html.ValidationMessageFor(m => m.HolDate)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันหยุด", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลวันหยุด</label>
                    @Html.TextBoxFor(m => m.HolDescription, new { @class = "form-control", required = "true" })
                    @Html.ValidationMessageFor(m => m.HolDescription)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("สถานะ", null, new { @class = "col-sm-3 col-form-label label-checkbox" })
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        @*@Html.CheckBoxFor(m => m.DivStatus.Value)
                            @Html.ValidationMessageFor(m => m.DivStatus)*@
                    </label>
                </div>
            </div>
        </div>       
    </div>


}