@model SAT.HR.Models.LeaveTypeViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.LevID)

    <div class="col-md-12">
        <div class="row">
            @Html.Label("ปี", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.LevYear, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LevYear)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ประเภทการลา", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.LevName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LevName)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่เริ่ม", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.LevStartDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LevStartDate)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่สิ้นสุด", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.LevEndDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LevEndDate)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("สิทธิลาสูงสุด", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.LevMax, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LevMax)
                </div>
            </div>
        </div>
    </div>
}