@model SAT.HR.Models.LeaveTypeViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.LevID)
    @Html.Hidden("Status")

    <div class="col-md-12">
        <div class="row">
            @Html.Label("ปี", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">YYYY</label>
                    @Html.TextBoxFor(m => m.LevYear, new { @class = "form-control", type ="number", required = "true" })
                    @Html.ValidationMessageFor(m => m.LevYear)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ประเภทการลา", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลประเภทการลา</label>
                    @Html.TextBoxFor(m => m.LevName, new { @class = "form-control", required = "true" })
                    @Html.ValidationMessageFor(m => m.LevName)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่เริ่ม", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลวันที่เริ่ม</label>
                    @Html.TextBoxFor(m => m.LevStartDate, new { @class = "form-control datetimepicker", required = "true" })
                    @Html.ValidationMessageFor(m => m.LevStartDate)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่สิ้นสุด", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลวันที่สิ้นสุด</label>
                    @Html.TextBoxFor(m => m.LevEndDate, new { @class = "form-control datetimepicker", required = "true" })                    
                    @Html.ValidationMessageFor(m => m.LevEndDate)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("สิทธิลาสูงสุด", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลสิทธิลาสูงสุด</label>
                    @Html.TextBoxFor(m => m.LevMax, new { @class = "form-control", type = "number", required = "true" })
                    @Html.ValidationMessageFor(m => m.LevMax)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("สถานะ", null, new { @class = "col-sm-3 col-form-label label-checkbox" })
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input checkbox" type="checkbox">
                        <span class="form-check-sign" style="top:0px"><span class="check"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        if ('@Model.LevStatus' == 'True') {
            $(".checkbox").prop("checked", true);
        }

        $(".checkbox").click(function () {
            var checked = $(this).is(':checked');
            if (checked) {
                $('#Status').val('1');
            }
            else {
                $('#Status').val('0');
            }
        });
    });
</script>