@model SAT.HR.Models.LeaveTypeViewModel

<style>
    .datepicker {
        z-index: 99999 !important;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.LevID)
    @Html.Hidden("Status")

    <div class="col-md-12">
        <div class="row">
            @Html.Label("ปี", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">YYYY</label>
                    @Html.TextBoxFor(m => m.LevYear, new { @class = "form-control", type ="number", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ประเภทการลา", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลประเภทการลา</label>
                    @Html.TextBoxFor(m => m.LevName, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่เริ่ม", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @*<label class="bmd-label-floating">ใส่ข้อมูลวันที่เริ่ม</label>*@
                    @Html.TextBoxFor(m => m.LevStartDateText, new { @class = "form-control datepicker", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("วันที่สิ้นสุด", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @*<label class="bmd-label-floating">ใส่ข้อมูลวันที่สิ้นสุด</label>*@
                    @Html.TextBoxFor(m => m.LevEndDateText, new { @class = "form-control datepicker", required = "true" })             
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("สิทธิลาสูงสุด", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลสิทธิลาสูงสุด</label>
                    @Html.TextBoxFor(m => m.LevMax, new { @class = "form-control", type = "number", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("เพศ", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    @Html.DropDownListFor(n => n.SexID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Sex, "Value", "Text"), "  -- กรุณาเลือก / Please choose --", new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px;">
            @Html.Label("สถานะ", null, new { @class = "col-sm-3 col-form-label label-checkbox" })
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input checkbox" type="checkbox">
                        <span class="form-check-sign" style="top:0px"><span class="check"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'th',
            //date: moment().add(543, 'years'),
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        if ('@Model.LevStatus' == 'True') {
            $(".checkbox").prop("checked", true);
        }

        $(".checkbox").click(function () {
            var checked = $(this).is(':checked');
            if (checked) {
                $('#Status').val('1');
            }
            else {
                $('#Status').val('0');
            }
        });
    });
</script>