@model List<SAT.HR.Models.RoleMenuViewModel>

<style>
    .table thead tr th {
        font-size: 14px;
    }
</style>

<table id="datatables" class="table table-hover" cellspacing="0" cellpadding="0" style="width:100%">
    <thead class="text-primary">
        <tr>
            <th style="width:10%" class="text-center td-font-size">ลำดับ</th>
            <th style="width:85%" class="text-left td-font-size">เมนู</th>
            <th style="width:5%" class="text-center td-font-size">แสดง</th>
            @*<th style="width:7%" class="text-center td-font-size">ดาวน์โหลด</th>*@
        </tr>
    </thead>
    <tbody>
        @{ int index = 1; }
        @foreach (var item in Model.Where(x => x.ParentID == 0))
        {
            <tr class="table-warning">
                <td colspan="6">@item.MenuName</td>
            </tr>

            foreach (var item2 in Model.Where(x => x.ParentID == @item.MenuID))
            {
                <tr data-menu="@item2.MenuID" data-role="@item2.RoleID">
                    <td class="text-center">@index</td>
                    <td>@item2.MenuName</td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                ++index;
            }
            index = 1;
        }
    </tbody>
</table>
<div class="card-footer text-right">
    <div class="form-check mr-auto"></div>
    <button type="button" class="btn btn-Back">ย้อนกลับ<div class="ripple-container"></div></button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary btn-save">บันทึก<div class="ripple-container"></div></button>
</div>