@model List<SAT.HR.Models.RoleMenuViewModel>

<style>
    .table thead tr th {
        font-size: 14px;
    }
</style>

<table id="tb-menu-report" class="table table-hover" cellspacing="0" cellpadding="0" style="width:100%">
    <thead class="text-primary">
        <tr class="td-font-size">
            <th style="width:10%" class="text-center">ลำดับ</th>
            <th style="width:85%" class="text-left">เมนู</th>
            <th style="width:5%" class="text-center">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input all-r-view" type="checkbox">แสดง
                        <span class="form-check-sign" style="top:0px"><span class="check"></span></span>
                    </label>
                </div>
            </th>
            @*<th style="width:5%" class="text-center">ดาวน์โหลด</th>*@
        </tr>
    </thead>
    <tbody>
        @{ int index = 1; }
        @foreach (var item in Model.Where(x => x.ParentID == 0))
        {
            <tr class="table-warning">
                <td colspan="6">@item.MenuName</td>
            </tr>

            foreach (var item2 in Model.Where(x => x.ParentID == @item.MenuID))
            {
                string _view = @item2.R_View == true ? "checked" : "";
                <tr data-type-name="R" data-menu-id="@item2.MenuID" data-role-id="@item2.RoleID" data-parent-id="@item2.ParentID">
                    <td>@index</td>
                    <td>@item2.MenuName</td>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input r-view" type="checkbox" @_view>
                                <span class="form-check-sign"><span class="check"></span></span>
                            </label>
                        </div>
                    </td>
                </tr>
                ++index;
            }
            index = 1;
        }
    </tbody>
</table>
<div class="card-footer text-right">
    <div class="form-check mr-auto"></div>
    <button type="button" class="btn btn-Back">ย้อนกลับ<div class="ripple-container"></div></button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary btn-save-report">บันทึก<div class="ripple-container"></div></button>
</div>