@model SAT.HR.Models.SectionViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SecID)
    @Html.Hidden("Status")

    <div class="col-md-12">
        <div class="row">
            @Html.Label("หน่วยงาน", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">ใส่ข้อมูลหน่วยงาน</label>
                    @Html.TextBoxFor(m => m.SecName, new { @class = "form-control", required = "true" })
                    @Html.ValidationMessageFor(m => m.SecName)
                </div>
            </div>
        </div>
        
        <div class="row">
            @Html.Label("กอง", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating"></label>
                    @Html.DropDownListFor(n => n.DepID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Department, "Value", "Text"), "-- กรุณาเลือก / Please choose --", new { @class = "form-control", required = "true" })
                    @Html.ValidationMessageFor(m => m.DepID)
                </div>
            </div>
        </div>
        
        <div class="row">
            @Html.Label("ฝ่าย", null, new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-9">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating"></label>
                    @Html.DropDownListFor(n => n.DivID, new SelectList((IEnumerable<SelectListItem>)ViewBag.Division, "Value", "Text"), "-- กรุณาเลือก / Please choose --", new { @class = "form-control", required = "true" })
                    @Html.ValidationMessageFor(m => m.DivID)
                </div>
            </div>
        </div>

        <div class="row">
            @Html.Label("สถานะ", null, new { @class = "col-sm-3 col-form-label label-checkbox" })
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input checkbox" type="checkbox">
                        <span class="form-check-sign" style="top:0px"><span class="check"></span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        if ('@Model.RoleStatus' == 'True') {
            $(".checkbox").prop("checked", true);
        }

        $(".checkbox").click(function () {
            var checked = $(this).is(':checked');
            if (checked) {
                $('#Status').val('1');
            }
            else {
                $('#Status').val('0');
            }
        });
    });
</script>
