@model SAT.HR.Models.TitleViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.TiID)

    <div class="col-md-12">
        <div class="row">
            @Html.Label("คำนำหน้าชื่อ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.TiFullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TiFullName)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ชื่อย่อ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.TiShortName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TiShortName)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("เพศ", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.SexID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SexID)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("สถานะ", null, new { @class = "col-sm-2 col-form-label label-checkbox" })
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        @*@Html.CheckBoxFor(m => m.TiStatus.Value)
                        @Html.ValidationMessageFor(m => m.TiStatus)*@
                    </label>
                </div>
            </div>
        </div>
    </div>
}
