
@{
    ViewBag.Title = "Capability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-dialog {
        /*max-width: 1000px;*/
    }
        .modal-large {
            max-width: 1100px;
        }
        .modal-mediam {
            max-width: 600px;
        }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title"><span>รายการสมรรถนะ</span></h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="btnAdd"><i class="material-icons">add</i> เพิ่มสมรรถนะ</button>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" data-url="@Url.Content("~/Master/Capability")" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:7%">ลำดับ</th>
                                    <th style="width:8%">ปี</th>
                                    <th style="width:16%">ประเภท</th>
                                    <th style="width:10%">กลุ่มหลัก</th>
                                    <th style="width:30%">กลุ่มย่อย</th>
                                    <th style="width:9%">รายละเอียด</th>
                                    <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- end content -->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade" id="modalHeader" tabindex="-1" role="dialog" aria-labelledby="modalHeaderLabel" aria-hidden="true">
    <div class="modal-dialog modal-mediam">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ข้อมูลสมรรถนะ</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div id="detail"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary" id="btnSave">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<!-- Classic Modal -->
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ข้อมูลสมรรถนะ</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div id="detailCapability"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-primary" id="btnSave">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->



@section Scripts {
    <script>
        $(document).ready(function () {

            var dataTable = {
                table: null,
                initializeDataTable: function () {
                    $table = $('#datatables');

                    dataTable.table = $table.DataTable({
                        "proccessing": true,
                        "serverSide": true,
                        responsive: true,
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.searchPlaceholder)",
                        },
                        ajax: {
                            url: $table.data("url"),
                            type: "POST",
                        },
                        "columns": [
                            { "data": "RowNumber", "orderable": false, "searchable": false },
                            { "data": "CapYear", "orderable": true },
                            { "data": "CapTName", "orderable": true },
                            { "data": "CapGName", "orderable": true },
                            { "data": "CapGTName", "orderable": true },
                            { "data": "CapID", "orderable": true }
                        ],
                        "columnDefs": [
                            {
                                "render": function (data, type, row) {
                                    var inner = '<div class="td-actions text-center">' +
                                        '<button type="button" class="btn btn-facebook btn-sm manage-user add" data-id="' + row.CapID + '">หัวข้อย่อย</button>' +
                                                '</div>';
                                    return inner;
                                }, "targets": 5
                            },
                            {
                                "render": function (data, type, row) {
                                    var inner = '<div class="td-actions text-right">' +
                                                    '<button type="button" rel="tooltip" class="btn btn-round btn-success edit" data-id="' + row.CapID + '"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;' +
                                                    '<button type="button" rel="tooltip" class="btn btn-round btn-danger delete" data-id="' + row.CapID + '"><i class="material-icons">close</i></button>' +
                                                '</div>';
                                    return inner;
                                }, "targets": 6
                            },
                        ],
                        "order": [[1, "asc"]],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "pagingType": "full_numbers",
                    });


                    dataTable.table.on('click', '.edit', function () {
                        var id = $(this)[0].dataset["id"];
                        var url = '@Url.Action("CapabilityHeader", "Master")/' + id;
                        $.post(url, function (data) {
                            $("#detail").html(data);
                            $('#modalHeader').modal('show');
                        });
                    });

                    dataTable.table.on('click', '.add', function () {
                        var id = $(this)[0].dataset["id"];
                        var url = '@Url.Action("CapabilityDetail", "Master")/' + id;
                        $.post(url, function (data) {
                            $("#detailCapability").html(data);
                            $('#modalDetail').modal('show');
                        });
                    });

                    dataTable.table.on('click', '.delete', function () {
                        var id = $(this)[0].dataset["id"];
                        showSwal.confirmDeleteMessage(id);
                    });

                },
                getData: function () {
                    if (dataTable.table == null)
                        dataTable.initializeDataTable();
                    else
                        dataTable.table.ajax.reload();
                }
            }

            var showSwal = {
                saveMessage: function () {
                    swal({
                        title: "",
                        text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.SaveSucceed)",
                        type: "success",
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                    }).catch(swal.noop)
                },
                deleteMessage: function () {
                    swal({
                        title: '',
                        text: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.DeleteSucceed)',
                        type: 'success',
                        confirmButtonClass: "btn btn-success",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                        buttonsStyling: false
                    }).catch(swal.noop)
                },
                confirmDeleteMessage: function (id) {
                    swal({
                        title: '',
                        text: "@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.ConfirmDelete)",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                        cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                        buttonsStyling: false
                    }).then(function () {
                        var url = '@Url.Action("DeleteCapability", "Master")/' + id;
                        $.ajax({
                            type: 'POST',
                            url: url,
                            success: function (res) {
                                if (res.MessageCode == null) {
                                    showSwal.deleteMessage();
                                    dataTable.getData();
                                }
                                else {
                                    alert(res.MessageText);
                                }
                            }
                        });
                    }).catch(swal.noop)
                }
            }

            // Add record
            $("#btnAdd").click(function () {
                var url = '@Url.Action("CapabilityHeader", "Master")';
                $.post(url, function (data) {
                    $("#detail").html(data);
                    $('#modalHeader').modal('show');
                });
            });

            // Save record
            $("#btnSave").click(function () {
                var status = $("#formDetail").valid();
                if (status) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SaveCapability", "Master")',
                        data: $("#formDetail").serialize(),
                        dataType: 'json',
                        success: function (res) {
                            if (res.MessageCode == null) {
                                showSwal.saveMessage();
                                dataTable.getData();
                                $('#modalHeader').modal('hide');
                            }
                            else {
                                alert(res.MessageText);
                            }
                        }
                    });
                }
            });

            dataTable.getData();



        });
    </script>
}