@model List<SAT.HR.Models.ManageUserViewModel>

@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">settings_applications</i>
                        </div>
                        <h4 class="card-title"><span>จัดการผู้ใช้งาน</span></h4>
                    </div>
                    <div class="card-body">
                        @*<div class="toolbar">
                            <button class="btn btn-primary btn-sm pull-right btn-add" data-toggle="modal"><i class="material-icons">add</i> เพิ่มผู้ใช้งาน</button>
                        </div>*@
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width:5%">ลำดับ</th>
                                        <th style="width:20%">ชื่อ-นามสกุล</th>
                                        <th style="width:20%">ตำแหน่ง</th>
                                        <th style="width:25%">ฝ่าย/กอง/งาน</th>
                                        <th style="width:20%" class="disabled-sorting text-left">ระงับการใช้งาน/ยกเลิกการระงับ</th>
                                        <th style="width:10%" class="disabled-sorting text-left">สร้างผู้ใช้งาน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@{ int index = 1; }
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.UserID">
                                            <td>@index</td>
                                            <td>@item.FullNameTh</td>
                                            <td>@item.PositionName</td>
                                            <td>@item.FullDepartment</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm active-user @((item.IsActive == true) ? "btn-success" : "btn-danger")" type="button">@((item.IsActive == true) ? "ระงับการใช้งาน" : "ยกเลิกการระงับ")</button>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-sm terminate-user @((item.IsTerminate == true) ? "btn-facebook" : "btn-danger")" type="button">@((item.IsTerminate == true) ? "ใช้งาน" : "ยกเลิกผู้ใช้งาน")</button>
                                            </td>
                                        </tr>
                                    }*@

                                    <tr id="1">
                                        <td>1</td>
                                        <td>น.ส.ชนิสรา เมืองทรัพย์</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">
                                            <button class="btn btn-success btn-sm active-user" type="button">ระงับการใช้งาน</button>
                                        </td>
                                        <td class="text-center">
                                            -
                                        </td>
                                    </tr>
                                    <tr id="2">
                                        <td>2</td>
                                        <td>น.ส.ธัญญลักษณ์ เฉลิมเกียรตินุกูล</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">
                                            <button class="btn btn-danger btn-sm active-user" type="button">ยกเลิกการระงับ</button>
                                        </td>
                                        <td class="text-center">
                                            -
                                        </td>
                                    </tr>
                                    <tr id="3">
                                        <td>3</td>
                                        <td>นายธีระศักดิ์ สายสวัสดิกุล</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">
                                            <button class="btn btn-danger btn-sm active-user" type="button">ยกเลิกการระงับ</button>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-facebook btn-sm terminate-user" type="button">สร้างผู้ใช้งาน</button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {


            // Active User
            $table.on('click', '.active-user', function () {
                var id = $(this).closest('tr').attr('id');
                var url = '@Url.Action("ActiveUser", "Master")/' + id;
                swal({
                    title: '',
                    text: "ยืนยัน",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        success: function (res) {
                            if (res.MessageCode == null) {
                                swal({
                                    title: 'OK',
                                    text: '',
                                    type: 'success',
                                    confirmButtonClass: "btn btn-success",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                    buttonsStyling: false
                                }).then(function () {

                                }).catch(swal.noop)
                            }
                            else {
                                alert();
                                swal({
                                    title: '',
                                    text: res.MessageText,
                                    type: 'success',
                                    confirmButtonClass: "btn btn-success",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                    buttonsStyling: false
                                }).then(function () {
                                }).catch(swal.noop)
                            }
                        }
                    });
                }).catch(swal.noop)
            });

             // Terminate User
            $table.on('click', '.terminate-user', function () {
                var id = $(this).closest('tr').attr('id');
                var url = '@Url.Action("TerminateActive", "Master")/' + id;
                swal({
                    title: '',
                    text: "ยืนยัน",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        success: function (res) {
                            if (res.MessageCode == null) {
                                swal({
                                    title: 'OK',
                                    text: '',
                                    type: 'success',
                                    confirmButtonClass: "btn btn-success",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                    buttonsStyling: false
                                }).then(function () {

                                }).catch(swal.noop)
                            }
                            else {
                                alert();
                                swal({
                                    title: '',
                                    text: res.MessageText,
                                    type: 'success',
                                    confirmButtonClass: "btn btn-success",
                                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                                    buttonsStyling: false
                                }).then(function () {
                                }).catch(swal.noop)
                            }
                        }
                    });
                }).catch(swal.noop)
            });

        });
</script>
}