@model SAT.HR.Models.RoleMenuViewModel

@{
    ViewBag.Title = "RoleMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <div class="form-horizontal">
                    @Html.HiddenFor(m => m.RoleID)
                    <h4 class="card-title">
                        <span>รายการกฎ > รายการผู้ใช้งาน</span>
                    </h4>
                    <button class="btn pull-right" id="btnBack">ย้อนกลับ<div class="ripple-container"></div></button>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">กฎ</label>
                        <div class="col-sm-5">
                            <div class="form-group bmd-form-group">
                                @Model.RoleName
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">รายละเอียด</label>
                        <div class="col-sm-5">
                            <div class="form-group bmd-form-group">
                                @Model.RoleDesc
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">กำหนดสิทธิ์:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active show" href="#menu-sat" data-toggle="tab">
                                        <i class="material-icons">toc</i> เมนู
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#menu-tab" data-toggle="tab">
                                        <i class="material-icons">tab</i> แท็บ
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#menu-report" data-toggle="tab">
                                        <i class="material-icons">equalizer</i> รายงาน
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="menu-sat">
                            @Html.Partial("_Menu", Model.ListRoleMenu)
                        </div>
                        <div class="tab-pane" id="menu-tab">
                            @Html.Partial("_MenuTab", Model.ListRoleMenuTab)
                        </div>
                        <div class="tab-pane" id="menu-report">
                            @Html.Partial("_MenuReport", Model.ListRoleMenuReport)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#btnBack").click(function () {
                swal({
                    title: '',
                    text: "ท่านต้องการกลับไปยังรายการก่อนหน้า?!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'ใช่',
                    cancelButtonText: 'ไม่',
                    buttonsStyling: false
                }).then(function () {
                    var url = '@Url.Action("Permission", "Master")';
                    window.location.href = url;
                }).catch(swal.noop)
            });




        });
    </script>
}
