@model SAT.HR.Models.RoleViewModel

@{
    ViewBag.Title = "RoleMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">รายการผู้ใช้งาน</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        @Html.HiddenFor(m => m.RoleID)
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Role Name</label>
                            <div class="col-sm-5">
                                <div class="form-group bmd-form-group">
                                    @Model.RoleName
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Role Description</label>
                            <div class="col-sm-5">
                                <div class="form-group bmd-form-group">
                                    @Model.RoleDesc
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toolbar">
                        @*<button class="btn btn-primary btn-sm pull-right btnAdd" data-toggle="modal"><i class="material-icons">add</i> เพิ่มผู้ใช้งาน</button>*@
                    </div>
                    <div class="material-datatables">
                        <table class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:10%">ลำดับ</th>
                                    <th style="width:10%">รหัส</th>
                                    <th style="width:10%">ชื่อ</th>
                                    <th style="width:10%">ตำแหน่ง</th>
                                    <th style="width:10%" class="disabled-sorting text-right">ปฏิบัติการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 1; }
                                @foreach (var item in Model.ListRoleMenu)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.MenuID</td>
                                        <td>@item.MenuName</td>
                                        <td>@item.MenuName</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-round btn-danger btnDelete" value="@item.MenuID"><i class="material-icons">close</i></button>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <div class="form-check mr-auto"></div>
                    <button class="btn btn-primary" type="button" id="btnBack">ย้อนกลับ<div class="ripple-container"></div></button>
                </div>
                <!-- end content -->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

             $("#btnBack").click(function () {
                swal({
                    title: '',
                    text: "ท่านต้องการกลับไปยังรายการก่อนหน้า?!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'ใช่',
                    cancelButtonText: 'ไม่',
                    buttonsStyling: false
                }).then(function () {
                    var url = '@Url.Action("Permission", "Master")';
                    window.location.href = url;
                }).catch(swal.noop)
            });

            


        });
    </script>
}
