<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>Human Resource Management System</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper ">
        <!-- Menu -->
        @Html.Action("Index", "Menu")

        <div class="main-panel">
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>
    </div>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugin")

    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="@Url.Content("~/Content/assets/js/material-dashboard.min.js?v=2.0.2")"></script>

    <script>
        $(document).ready(function () {


            //if ($('.slider').length != 0) {
            //    md.initSliders();
            //}

            $("#minimizeSidebar").click(function () {
                $body = $('body');
                if ($body.hasClass('sidebar-mini')) {
                    $body.removeClass('sidebar-mini');
                }
                else {
                    $body.addClass('sidebar-mini');
                }
            });


            //$(document).ajaxStart(function () {
            //    $.blockUI({ message: null, overlayCSS: { backgroundColor: '#ffffff00' } });
            //    // NProgress
            //    if (typeof NProgress != 'undefined') {
            //        NProgress.start();
            //    }
            //}).ajaxStop(function () {
            //    $.unblockUI();
            //    // NProgress
            //    if (typeof NProgress != 'undefined') {
            //        NProgress.done();
            //    }
            //}).ajaxSend(function (event, xhr, settings) {
            //    //$.blockUI({ message: null, overlayCSS: { backgroundColor:'#ffffff00'} });
            //}).ajaxSuccess(function (event, xhr, settings) {
            //    $.unblockUI();
            //    if (typeof NProgress != 'undefined') {
            //        NProgress.done();
            //    }
            //}).ajaxError(function (event, jqxhr, settings, thrownError) {
            //    $.unblockUI();
            //    if (typeof NProgress != 'undefined') {
            //        NProgress.done();
            //    }
            //    try {
            //        var jsonValue = jQuery.parseJSON(jqxhr.responseText);
            //        $.alert({
            //            columnClass: 'col-xs-10 col-xs-offset-1',
            //            theme: 'supervan',
            //            content: jsonValue.message + '</br>' + jsonValue.callstack,
            //            title: 'Internal Server Error', // hides the title.
            //            //cancelButton: true, // hides the cancel button.
            //            //confirmButton: true, // hides the confirm button.
            //            closeIcon: false, // hides the close icon.
            //            //content: false, // hides content block.
            //            //backgroundDismiss:true
            //        });
            //    } catch (e) {

            //    }
            //});


        });

        //$(window).load(function () {
        //    // will first fade out the loading animation
        //    $("#loader").fadeOut("slow", function () {

        //        // will fade out the whole DIV that covers the website.
        //        $("#preloader").delay(300).fadeOut("slow");

        //    });
        //})
    </script>


    @RenderSection("scripts", required: false)

</body>
</html>
