<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>Human Resource Management System</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="wrapper ">
        <!-- Menu -->
        @Html.Action("Index", "Menu")

        <div class="main-panel">
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugin")

    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="@Url.Content("~/Content/assets/js/material-dashboard.min.js?v=2.0.2")"></script>

    <script>
        $(document).ready(function () {

            md.initFormExtendedDatetimepickers();

            //if ($('.slider').length != 0) {
            //    md.initSliders();
            //}

            $("#minimizeSidebar").click(function () {
                $body = $('body');
                if ($body.hasClass('sidebar-mini')) {
                    $body.removeClass('sidebar-mini');
                }
                else {
                    $body.addClass('sidebar-mini');
                }
            });


        });
    </script>


    @RenderSection("scripts", required: false)

</body>
</html>
