<div class="user">
    <div class="photo">
        <img src="@Url.Content("~/Content/assets/img/faces/avatar.jpg")" />
    </div>
    <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
            <span>
                ชนิสรา เมืองทรัพย์
                <b class="caret"></b>
            </span>
        </a>
        <div class="collapse" id="collapseExample">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <span class="sidebar-mini"></span>
                        <span class="sidebar-normal"> เปลี่ยนรหัสผ่าน </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <span class="sidebar-mini"></span>
                        <span class="sidebar-normal"> ออกจากระบบ </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="nav">
    <li class="nav-item ">
        <a class="nav-link active" href="@Url.Action("Dashboard", "Home")">
            <i class="material-icons">home</i>
            <p> หน้าแรก </p>
        </a>
    </li>
    Menu
    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#tableEmployee">
            <i class="material-icons">group</i>
            <p>
                ระบบพนักงาน/ลูกจ้าง
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tableEmployee">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index", "Employee")">
                        <span class="sidebar-normal"> ทะเบียนประวัติ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("PositionRate", "Employee")">
                        <span class="sidebar-normal"> อัตรากำลังพล </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("EmployeeTransfer", "Employee")">
                        <span class="sidebar-normal"> โยกย้ายระดับ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("PositionTransfer", "Employee")">
                        <span class="sidebar-normal"> โยกย้ายอัตรากำลังพล </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#tableWorkingTime">
            <i class="material-icons">alarm_on</i>
            <p>
                การเข้าปฏิบัติงาน
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tableWorkingTime">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("TimeAttendance", "WorkingTime")">
                        <span class="sidebar-normal"> ปรับปรุงเวลาเข้าปฏิบัติงาน </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("LeaveRequest", "WorkingTime")">
                        <span class="sidebar-normal"> ทำรายการลา </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("LeaveBalance", "WorkingTime")">
                        <span class="sidebar-normal"> สิทธิการลาพนักงาน </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("WorkingShift", "WorkingTime")">
                        <span class="sidebar-normal"> รอบการเข้าปฏิบัติงาน </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#tablePayroll">
            <i class="material-icons">local_atm</i>
            <p>
                ระบบเงินเดือนและโบนัส
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tablePayroll">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("SalaryIncrease", "Payroll")">
                        <span class="sidebar-normal"> การเลื่อนขั้นเงินเดือน </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("BonusCalculator", "Payroll")">
                        <span class="sidebar-normal"> การคำนวณโบนัส </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#tableBenefit">
            <i class="material-icons">card_giftcard</i>
            <p>
                ระบบสวัสดิการ
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tableBenefit">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index", "Benefit")">
                        <span class="sidebar-normal"> สวัสดิการ </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#tableHumanResource">
            <i class="material-icons">accessibility</i>
            <p>
                ระบบพัฒนาบุคลากร
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tableHumanResource">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Capability", "HumanResource")">
                        <span class="sidebar-normal"> บันทึกข้อมูลสมรรถนะ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Trainning", "HumanResource")">
                        <span class="sidebar-normal"> การฝึกอบรม </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("IndividualPlan", "HumanResource")">
                        <span class="sidebar-normal"> การวางแผนพัฒนารายบุคคล </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#tableMaster">
            <i class="material-icons">settings_applications</i>
            <p>
                ข้อมูลพื้นฐาน
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="tableMaster">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Division", "Master")">
                        <span class="sidebar-normal"> ฝ่าย </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Department", "Master")">
                        <span class="sidebar-normal"> กอง </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Section", "Master")">
                        <span class="sidebar-normal"> หน่วยงาน </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Discipline", "Master")">
                        <span class="sidebar-normal"> สายงาน </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Position", "Master")">
                        <span class="sidebar-normal"> ตำแหน่ง </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Salary", "Master")">
                        <span class="sidebar-normal"> ตารางเงินเดือน </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Certificate", "Master")">
                        <span class="sidebar-normal">  ใบประกอบวิชาชีพ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Insignia", "Master")">
                        <span class="sidebar-normal">   เครื่องราชอิสริยาภรณ์ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Title", "Master")">
                        <span class="sidebar-normal">   คำนำหน้าชื่อ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Education", "Master")">
                        <span class="sidebar-normal"> ระดับการศึกษา </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Degree", "Master")">
                        <span class="sidebar-normal"> หลักสูตรปริญญา </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Major", "Master")">
                        <span class="sidebar-normal">  สาขาวิชา </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Nationality", "Master")">
                        <span class="sidebar-normal"> สัญชาติ/เชื้อชาติ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Religion", "Master")">
                        <span class="sidebar-normal"> ศาสนา </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Capability", "Master")">
                        <span class="sidebar-normal"> สมรรถนะ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("LeaveType", "Master")">
                        <span class="sidebar-normal"> ประเภทการลา </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Holiday", "Master")">
                        <span class="sidebar-normal"> วันหยุดมาตรฐานประจำปี </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("ActionType", "Master")">
                        <span class="sidebar-normal"> รหัสการเคลื่อนไหว </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("SysConfig", "Master")">
                        <span class="sidebar-normal">  ค่าคงที่ระบบ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Permission", "Master")">
                        <span class="sidebar-normal">  การจัดการผู้ใช้งาน </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#pagesReport">
            <i class="material-icons">equalizer</i>
            <p>
                รายงาน
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="pagesReport">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Resource", "Report")">
                        <span class="sidebar-normal"> ส่วนงานทรัพยากรบุคคล </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Benefit", "Report")">
                        <span class="sidebar-normal"> ส่วนงานสวัสดิการ </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Human", "Report")">
                        <span class="sidebar-normal"> ส่วนงานพัฒนาบุคลากร </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
