@model SAT.HR.Models.EmpBonusCalculatorViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formDetail" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)

    <div class="col-md-12">
        <div class="row">
            @Html.Label("ปีบัญชี", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.Year, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("ชื่อ นามสกุล", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.FullNameTh, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("อัตรา (เท่า)", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.UpStep, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Label("โบนัสที่ได้", null, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                <div class="form-group bmd-form-group">
                    @Html.TextBoxFor(m => m.Bonus, new { @class = "form-control", required = "true" })
                </div>
            </div>
        </div>
        
    </div>
}
<script>
    $(document).ready(function () {

        

    });
</script>

