@model SAT.HR.Models.SalaryIncreaseSep1ViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-step1" }))
{
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><span> ประมวลผล</span></h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6" style="margin-top:-30px">
                <div class="row">
                    <label class="col-sm-2 col-form-label m-t-20">ปีบัญชี</label>
                    <div class="col-sm-3">
                        <div class="form-group bmd-form-group">
                            @Html.TextBoxFor(m => m.Year, new { @class = "form-control text-left", type = "number" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label label-checkbox m-t-5">ระดับ</label>
                    <div class="col-sm-10 checkbox-radios">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(m => m.UpLevel, 1, new { @class = "form-check-input" }) 1 ถึง 8
                                @*<input name="salarylevel" class="form-check-input" type="radio" value="1" checked>*@
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(m => m.UpLevel, 2, new { @class = "form-check-input" }) 9 ถึง 10
                                @*<input name="salarylevel" class="form-check-input" type="radio" value="2">*@
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row m-b-20">
                    <label class="col-sm-2 col-form-label label-checkbox m-t-5">ขั้นที่ปรับขึ้น</label>
                    <div class="col-sm-10 checkbox-radios">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(m => m.UpStep, 0.5, new { @class = "form-check-input" }) 0.5 ขั้น
                                @*<input name="salarystep" class="form-check-input" type="radio" value="0.5">*@
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(m => m.UpStep, 1.0, new { @class = "form-check-input" }) 1 ขั้น
                                @*<input name="salarystep" class="form-check-input" type="radio" value="1.0" checked>*@
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}