@model SAT.HR.Models.SalaryIncreaseViewModel

<div class="">
    <div class="card-header">
        <h4 class="card-title"><span>ตรวจสอบและแก้ไข</span></h4>
        <p class="card-category"> รายงานการปรับเงินเดือน </p>
        <div class="toolbar pull-right" style="margin-top: -50px;">
            <button class="btn btn-primary btn-sm btn-export-excel" data-toggle="modal">Export</button>
        </div>
    </div>
    <div class="card-body">
        <div>
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:6%; text-align:left;" class="disabled-sorting">ลำดับ</th>
                        <th style="width:4%; text-align:left;">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input check-all" type="checkbox">
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>
                        </th>
                        <th style="width:7%; text-align:left;">ปีบัญชี</th>
                        <th style="width:6%; text-align:left;">รอบที่</th>
                        <th style="width:20%; text-align:left;">ชื่อ นามสกุล</th>
                        <th style="width:6%; text-align:left;">อัตรา</th>
                        <th style="width:5%; text-align:left;">ระดับ</th>
                        <th style="width:7%; text-align:center;">ขั้นเก่า</th>
                        <th style="width:7%; text-align:center;">ขั้นใหม่</th>
                        <th style="width:12%;text-align:right;">เงินเดือนเก่า</th>
                        <th style="width:11%;text-align:right;">เงินเดือนใหม่</th>
                        <th style="width:15%;text-align:left;" class="disabled-sorting">แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                        {
                            for (int i = 0; i < Model.Step2.Count; i++)
                            {
                        <tr id="@Model.Step2[i].UserID">
                            <td style="width:6%">@(i + 1)</td>
                            <td style="width:6%">

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input check-item" type="checkbox">
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                            </td>
                            <td style="width:7%">@Model.Step2[i].Year</td>
                            <td style="width:6%">@Model.Step2[i].Seq</td>
                            <td style="width:21%">@Model.Step2[i].FullNameTh</td>
                            <td style="width:6%">@Model.Step2[i].UpStep</td>
                            <td style="width:6%;text-align:center;">@Model.Step2[i].Old_Level</td>
                            <td style="width:7%;color:blue">@Model.Step2[i].Old_Step</td>
                            <td style="width:7%;color:red">@Model.Step2[i].New_Step</td>
                            <td style="width:11%;text-align:right;color:blue">@Model.Step2[i].Old_Salary</td>
                            <td style="width:11%;text-align:right;color:red">@Model.Step2[i].New_Salary</td>
                            <td style="width:6%;">
                                <div class="td-actions pull-right">
                                    <button data-id="@Model.Step2[i].UserID" data-level="@Model.Step2[i].Old_Level" data-step="@Model.Step2[i].New_Step" data-salary="@Model.Step2[i].New_Salary" data-year="@Model.Step2[i].Year" data-fullname="@Model.Step2[i].FullNameTh" title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-success btn-edit"><i class="material-icons">edit</i></button>
                                </div>
                            </td>
                            <td class="hidden">
                                @Html.HiddenFor(model => model.Step2[i].Selected, new { @class = "select-user" })
                                @Html.HiddenFor(model => model.Step2[i].UserID)
                                @Html.HiddenFor(model => model.Step2[i].FullNameTh)
                                @Html.HiddenFor(model => model.Step2[i].Year)
                                @Html.HiddenFor(model => model.Step2[i].Seq)
                                @Html.HiddenFor(model => model.Step2[i].UpStep)
                                @Html.HiddenFor(model => model.Step2[i].Old_Level)
                                @Html.HiddenFor(model => model.Step2[i].New_Level)
                                @Html.HiddenFor(model => model.Step2[i].Old_Step)
                                @Html.HiddenFor(model => model.Step2[i].New_Step)
                                @Html.HiddenFor(model => model.Step2[i].Old_Salary, new { @class = "new-step" })
                                @Html.HiddenFor(model => model.Step2[i].New_Salary, new { @class = "new-salary" })
                            </td>
                        </tr>
                            }
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#datatables").on('click', '.btn-edit', function () {
            var userid = $(this).data("id");
            var level = $(this).data("level");
            var step = $(this).data("step");
            var salary = $(this).data("salary");
            var year = $(this).data("year");
            var fullname = $(this).data("fullname");

            var url = '@Url.Action("SalaryIncreaseEdit", "Payroll")';
            $.post(url, { userid: userid, level: level, step: step, salary: salary, year: year, fullname: fullname }, function (data) {
                $(".div-detail").html(data);
                $('.modal-detail').modal('show');
            });

        });

        $(".btn-save-salary").click(function () {
            var id = $('#UserID').val();
            var new_step = $('#New_Step').val();
            var new_salary = $('#New_Salary').val();

            $('#' + id).find("input[class='new-step']").val(new_step);
            $('#' + id).find("input[class='new-salary']").val(new_salary.replace(/,/g, '-'));

            $('#' + id).find("td:eq(9)").html(new_step);
            $('#' + id).find("td:eq(10)").html(new_salary);

            $('.modal-detail').modal('hide');
        });

        $(".check-all").click(function () {
            var checked = $(this).is(':checked');
            if (checked) {
                $('.check-item').prop('checked', true);
                $('.select-user').val(true);
            }
            else {
                $('.check-item').prop('checked', false);
                $('.select-user').val(false);
            }
        });

        $(".check-item").click(function () {
            var checked = $(this).is(':checked');
            var tr = $(this).parent().parent().parent().parent();
            tr.find("input[class='select-user']").val(checked);

            if ($(".check-item").length == $(".check-item:checked").length) {
                $(".check-all").prop("checked", true);
            } else {
                var checkAll = $(".check-all").is(':checked');
                if (checkAll) {
                    $(".check-all").prop('checked', false);
                }
            }
        });

        $(".btn-export-excel").click(function () {
            $(".btn-export").click();
        });

    });

</script>