@model List<SAT.HR.Models.EmpSalaryIncreaseViewModel>

<div class="card">
    <div class="card-header">
        <h4 class="card-title"><span>ตรวจสอบและแก้ไข</span></h4>
        <p class="card-category"> รายงานการปรับเงินเดือน </p>
        <div class="toolbar pull-right" style="margin-top: -50px;">
            <button class="btn btn-primary btn-sm btn-export" data-toggle="modal">Export</button>
        </div>
    </div>
    <div class="card-body">
        <div class="level-transfer">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:4%" class="disabled-sorting">ลำดับ</th>
                        <th style="width:5%">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"><span class="check"></span></span>
                                </label>
                            </div>
                        </th>
                        <th style="width:7%">ปีบัญชี</th>
                        <th style="width:5%">รอบที่</th>
                        <th style="width:26%">ชื่อ นามสกุล</th>
                        <th style="width:5%">อัตรา</th>
                        <th style="width:5%">ระดับ</th>
                        <th style="width:7%">ขั้นเก่า</th>
                        <th style="width:7%">ขั้นใหม่</th>
                        <th style="width:11%;text-align:right;">เงินเดือนเก่า</th>
                        <th style="width:11%;text-align:right;">เงินเดือนใหม่</th>
                        <th style="width:5%" class="disabled-sorting text-right">แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                        <tr id="@Model[i].UserID">
                            <td>@(i + 1)</td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox">
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                            </td>
                            <td>@Model[i].Year</td>
                            <td>@Model[i].Seq</td>
                            <td>@Model[i].FullNameTh</td>
                            <td>@Model[i].UpStep</td>
                            <td>@Model[i].Old_Level</td>
                            <td style="color:blue">@Model[i].Old_Step</td>
                            <td style="color:red">@Model[i].New_Step</td>
                            <td style="text-align:right;color:blue">@Model[i].Old_Salary</td>
                            <td style="text-align:right;color:red">@Model[i].New_Salary</td>
                            <td>
                                <div class="td-actions pull-right"><button data-id="@Model[i].UserID" data-level="@Model[i].Old_Level" data-step="@Model[i].New_Step" data-salary="@Model[i].New_Salary" data-year="@Model[i].Year" data-fullname="@Model[i].FullNameTh" title="ลบ" type="button" rel="tooltip" class="btn btn-round btn-success btn-edit" ><i class="material-icons">edit</i></button></div>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#datatables").on('click', '.btn-edit', function () {
            var userid = $(this).data("id");
            var level = $(this).data("level");
            var step = $(this).data("step");
            var salary = $(this).data("salary");
            var year = $(this).data("year");
            var fullname = $(this).data("fullname");

            var url = '@Url.Action("SalaryIncreaseEdit", "Payroll")';
            $.post(url, { userid: userid, level: level, step: step, salary: salary, year: year,fullname: fullname }, function (data) {
                $(".div-detail").html(data);
                $('.modal-detail').modal('show');
            });

        });

        $(".btn-save-salary").click(function () {
            var id = $('#UserID').val();
            var new_salary = $('#New_Salary').val();
            $('#' + id).find("td:eq(10)").html(new_salary);
            $('.modal-detail').modal('hide');
        });


    });

</script>