@model SAT.HR.Models.BonusCalculatorViewModel
@{
    ViewBag.Title = "BonusCalculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_atm</i>
                    </div>
                    <h4 class="card-title"><span> การคำนวณโบนัส > </span><small>พนักงาน</small></h4>
                </div>

                <!-- Wizard container -->
                <div class="card-header text-center">
                    <h3 class="card-title">
                        <span>ประมวลผลคำนวณโบนัส</span>
                    </h3>
                </div>

                <div class="wizard-navigation" id="tabs">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item li-step1" id="li-step1">
                            <a class="nav-link active show" role="tablist" href="#step1" data-toggle="tab" data-id="tab-step1">
                                <i class="material-icons">filter_1</i> ประมวลผล
                            </a>
                        </li>
                        <li class="nav-item li-step2" id="li-step2">
                            <a class="nav-link  p-l-20 p-r-20" role="tablist" href="#step2" data-toggle="tab" data-id="tab-step2" style="padding-left: 20px;padding-right: 20px;">
                                <i class="material-icons">filter_2</i> ตรวจสอบและแก้ไข
                            </a>
                        </li>
                        <li class="nav-item li-step3" id="li-step3">
                            <a class="nav-link disabled" role="tablist" href="#step3" data-toggle="tab" data-id="tab-step3" style="padding-left: 20px;padding-right: 20px;">
                                <i class="material-icons">filter_3</i> ยืนยันการประมวลผลโบนัส
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="toolbar pull-right" style="margin-top:10px;padding-right:5px;">
                        <button class="btn btn-primary btn-sm btn-export" style="display: none;">Export</button>
                    </div>

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-step" }))
                    {
                    <div class="tab-content tab-subcategories">
                        <div class="tab-pane active div-step1" id="step1">
                            <div id="div-step1">
                                @Html.Partial("_BonusCalculatorStep1", Model)
                            </div>
                        </div>
                        <div class="tab-pane div-step2" id="step2">
                            <div id="div-step2"></div>
                        </div>
                        <div class="tab-pane div-step3" id="step3">
                            <div id="div-step3">
                                @Html.Partial("_BonusCalculatorStep3")
                            </div>
                        </div>
                    </div>
                    }
                </div>
               
                <div class="card-footer">
                    <div class="mr-auto">
                        <input name="previous" class="btn btn-previous btn-fill btn-default" style="display: none;" type="button" value="ย้อนกลับ">
                    </div>
                    <div class="ml-auto">
                        <input name="next" class="btn btn-next btn-fill btn-primary" type="button" value="ถัดไป">
                        <input name="finish" class="btn btn-finish btn-fill btn-primary" style="display: none;" type="button" value="ยืนยัน">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <button class="btn btn-primary btn-sm btn-export" data-toggle="modal" style="display:none">Export</button>

                <div class="col-md-11 col-12 mr-auto ml-auto">
                    @*<div class="wizard-container">
                            <div class="card card-wizard active" id="wizardProfile" data-color="orange">
                                <form>
                                    <div class="card-header text-center">
                                        <h3 class="card-title">
                                            <span>ประมวลผลปรับขั้นเงินเดือน</span>
                                        </h3>
                                    </div>
                                    <div class="wizard-navigation">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item" style="width: 33.33%;">
                                                <a class="nav-link active" role="tab" href="#step1" data-toggle="tab"> ประมวลผล </a>
                                            </li>
                                            <li class="nav-item" style="width: 33.33%;">
                                                <a class="nav-link" role="tab" href="#step2" data-toggle="tab"> ตรวจสอบและแก้ไข </a>
                                            </li>
                                            <li class="nav-item" style="width: 33.33%;">
                                                <a class="nav-link" role="tab" href="#step3" data-toggle="tab"> บันทึกเงินเดือนเข้าสู่ฐานจริง </a>
                                            </li>
                                        </ul>
                                        <div class="moving-tab" style="transition:transform; width: 260.19px; transform: translate3d(-8px, 0px, 0px);"> ประมวลผล </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="step1">
                                                <div class="row justify-content-center">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">ปีบัญชี</label>
                                                            <div class="col-sm-2">
                                                                <div class="form-group bmd-form-group">
                                                                    <input class="form-control" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">ระดับ</label>
                                                            <div class="col-sm-10 checkbox-radios">
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        <input name="exampleRadios" class="form-check-input" type="radio" checked="" value="1"> 1 ถึง 8
                                                                        <span class="circle">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        <input name="exampleRadios" class="form-check-input" type="radio" checked="" value="2"> 9 ถึง 10
                                                                        <span class="circle">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row m-b-20">
                                                            <label class="col-sm-2 col-form-label">ขั้นที่ปรับขึ้น</label>
                                                            <div class="col-sm-10 checkbox-radios">
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        <input name="exampleRadios" class="form-check-input" type="radio" checked="" value="0.5"> 0.5 ขั้น
                                                                        <span class="circle">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        <input name="exampleRadios" class="form-check-input" type="radio" checked="" value="1.0"> 1 ขั้น
                                                                        <span class="circle">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="step2">
                                                <h4 class="card-title"><span>ตรวจสอบและแก้ไข</span></h4>
                                                <p class="card-category"> รายงานการปรับเงินเดือน </p>
                                            </div>
                                            <div class="tab-pane" id="step3">
                                                <div class="row justify-content-center">
                                                    <div class="col-sm-12">
                                                        <h4 class="card-title"><span>บันทึกเงินเดือนเข้าสู่ฐานจริง</span></h4>
                                                        <p class="card-category text-danger">
                                                            ระบบจะทำการนำข้อมูลเงินเดือนพนักงานจากขั้นตอนที่ 2 เข้าสู่ฐานข้อมูลพนักงานจริง <br />ก่อนนำข้อมูลเข้ากรุณาตรวจสอบข้อมูลในขั้นตอนที่ 2 (ตรวจสอบจาก Exel) ให้ถูกต้องก่อนทำรายการในขั้นตอนนี้
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="mr-auto">
                                            <input name="previous" class="btn btn-previous btn-fill btn-default btn-wd disabled" type="button" value="Previous">
                                        </div>
                                        <div class="ml-auto">
                                            <input name="next" class="btn btn-next btn-fill btn-rose btn-wd" type="button" value="Next">
                                            <input name="finish" class="btn btn-finish btn-fill btn-rose btn-wd" style="display: none;" type="button" value="Finish">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>*@
                </div>
                <!-- wizard container -->

            </div>
        </div>
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-detail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>รายงานการปรับโบนัส</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="div-detail"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-save-bonus">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<style>

    .card .card-body .col-form-label, .card .card-body {
        padding-top: 0px;
    }

        .card .card-body .col-form-label.label-checkbox, .card .card-body .label-on-right.label-checkbox {
            padding-top: 5px;
        }

    .nav-pills .nav-item i {
       padding: 0 20px 0 20px;
    }

    table {
        display: block;
        table-layout: fixed;
        white-space: nowrap;
        overflow-x: auto;
        height: 428px;
    }
    /*tbody {
        display: block;
        height: 428px;
        overflow-y: scroll;
    }*/


</style>

@section Scripts {
    <script>
    $(document).ready(function () {

        $(".file-path").hide();
        $(".file-upload").show();

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });


        $("#tabs li").click(function () {
            if (this.id == "li-step1") {
                $(".btn-export").css("display", "none");
                $(".btn-previous").hide();
                $(".btn-next").show();
                $(".btn-finish").hide();
            }
            else if (this.id == "li-step2") {
                $(".btn-export").css("display", "block");
                if ($('.li-step3').find('a').hasClass('disabled')) {
                    step2();
                }

                if (!$('.li-step2').find('a').hasClass('disabled')) {
                    $(".btn-previous").show();
                    $(".btn-next").show();
                    $(".btn-finish").hide();
                }
            }
            else if (this.id == "li-step3") {
                $(".btn-export").css("display", "none");
                if (!$('.li-step3').find('a').hasClass('disabled')) {
                    $(".btn-previous").show();
                    $(".btn-next").hide();
                    $(".btn-finish").show();
                }
            }
        });

        $(".btn-previous").click(function () {
            var ref_this = $("#tabs li").find(".active");
            var id = ref_this.data("id");
            if (id == "tab-step2") {
                $(".btn-export").css("display", "block");
                $('.li-step2').find('a').removeClass('active');
                $('.div-step2').removeClass('active');

                $('.li-step1').find('a').addClass('active').removeClass('disabled');
                $('.div-step1').addClass('active');

                $(".btn-previous").hide();
                $(".btn-next").show();
            }
            else if (id == "tab-step3") {
                $(".btn-export").css("display", "none");
                $('.li-step3').find('a').removeClass('active');
                $('.div-step3').removeClass('active');

                $('.li-step2').find('a').addClass('active').removeClass('disabled');
                $('.div-step2').addClass('active');

                $(".btn-next").show();
                $(".btn-finish").hide();
            }
        });

        $(".btn-next").click(function () {
            var ref_this = $("#tabs li").find(".active");
            var id = ref_this.data("id");
            if (id == "tab-step1") {
                step2();
            }
            else if (id == "tab-step2") {
                step3();
            }
        });

        $(".btn-finish").click(function () {
            var BookCmd = $('#BookCmd').val();
            var DateCmd = $('#DateCmd').val();

            //var status = $(".form-step").valid();
            //if (!status) {
            //    return false;
            //}
            if (BookCmd == '') {
                swal({
                    title: "",
                    text: "กรุณาระบุคำสั่ง",
                    type: "warning",
                    confirmButtonClass: "btn btn-primary",
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                    buttonsStyling: false,
                }).then(function () {
                    $('#BookCmd').focus();
                });
            }
            else {
                swal({
                    title: '',
                    text: "ยืนยันการประมวลผลโบนัส",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    BonusCalculatorProcess()
                }).catch(swal.noop)
            }
        });

        function step2() {
            @*swal({
                title: '',
                text: "ยืนยันการประมวลผลโบนัส",
                type: 'question',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                buttonsStyling: false
            }).then(function () {*@
                $(".btn-export").css("display", "block");

                $('.li-step1').find('a').removeClass('active');
                $('.div-step1').removeClass('active');

                $('.li-step2').find('a').addClass('active').removeClass('disabled');
                $('.div-step2').addClass('active');

                $('.li-step3').find('a').removeClass('active').removeClass('disabled');
                $('.div-step3').removeClass('active');

                $(".btn-previous").show();

                BonusCalculatorStep2();

            //}).catch(swal.noop)
        }

        function step3() {
            $(".btn-export").css("display", "none");

            $('.li-step2').find('a').removeClass('active');
            $('.div-step2').removeClass('active');

            $('.li-step3').find('a').addClass('active').removeClass('disabled');
            $('.div-step3').addClass('active');

            $(".btn-next").hide();
            $(".btn-finish").show();

            $("#BookCmd").focus();
        }

        function BonusCalculatorStep2() {
            var year = parseInt($('#Year').val());
            var step = parseFloat($('#Rate').val());
            var url = '@Url.Action("BonusCalculatorStep2", "Payroll")?year=' + year + '&step=' + step;
            $("#div-step2").load(url);
        }

        function BonusCalculatorProcess() {
            var form = $(".form-step")[0];
            var formData = new FormData(form);
            formData.append(".FileUpload", FileUpload);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BonusCalculatorConfirm", "Payroll")',
                data: formData,
                dataType: 'json',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (res) {
                    swal({
                        title: "",
                        text: "ประมวลผลโบนัสเรียบร้อยแล้ว",
                        type: "success",
                        confirmButtonClass: "btn btn-primary",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                        buttonsStyling: false,
                    }).then(function () {
                        window.location.href = '@Url.Action("BonusCalculator", "Payroll")';
                    });
                }
            });
        }

        $(".btn-export").click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExportBonusCalculatorToExcel", "Payroll")',
                data: $(".form-step").serialize(),
                success: function (res) {
                    window.location = '/Payroll/Download?fileGuid=' + res.FileGuid + '&filename=' + res.FileName;
                }
            });
        });

    });

    </script>

    <script>
    $(document).ready(function () {

        var $validator = $('.card-wizard form').validate({
            //rules: {
            //    firstname: {
            //        required: true,
            //        minlength: 3
            //    },
            //    lastname: {
            //        required: true,
            //        minlength: 3
            //    },
            //    email: {
            //        required: true,
            //        minlength: 3,
            //    }
            //},

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
            },
            errorPlacement: function (error, element) {
                $(element).append(error);
            }
        });

        $('.card-wizard').bootstrapWizard({
            'tabClass': 'nav nav-pills',
            'nextSelector': '.btn-next',
            'previousSelector': '.btn-previous',

            onNext: function (tab, navigation, index) {
                var $valid = $('.card-wizard form').valid();
                if (!$valid) {
                    $validator.focusInvalid();
                    return false;
                }
            },

            onInit: function (tab, navigation, index) {
                //check number of tabs and fill the entire row
                var $total = navigation.find('li').length;
                var $wizard = navigation.closest('.card-wizard');

                $first_li = navigation.find('li:first-child a').html();
                $moving_div = $('<div class="moving-tab">' + $first_li + '</div>');
                $('.card-wizard .wizard-navigation').append($moving_div);

                refreshAnimation($wizard, index);

                $('.moving-tab').css('transition', 'transform 0s');
            },

            onTabClick: function (tab, navigation, index) {
                var $valid = $('.card-wizard form').valid();

                if (!$valid) {
                    return false;
                } else {
                    return true;
                }
            },

            onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index + 1;

                var $wizard = navigation.closest('.card-wizard');

                // If it's the last tab then hide the last button and show the finish instead
                if ($current >= $total) {
                    $($wizard).find('.btn-next').hide();
                    $($wizard).find('.btn-finish').show();
                } else {
                    $($wizard).find('.btn-next').show();
                    $($wizard).find('.btn-finish').hide();
                }

                button_text = navigation.find('li:nth-child(' + $current + ') a').html();

                setTimeout(function () {
                    $('.moving-tab').text(button_text);
                }, 150);

                var checkbox = $('.footer-checkbox');

                if (!index == 0) {
                    $(checkbox).css({
                        'opacity': '0',
                        'visibility': 'hidden',
                        'position': 'absolute'
                    });
                } else {
                    $(checkbox).css({
                        'opacity': '1',
                        'visibility': 'visible'
                    });
                }

                refreshAnimation($wizard, index);
            }
        });

        // Prepare the preview for profile picture
        $("#wizard-picture").change(function () {
            readURL(this);
        });

        $('[data-toggle="wizard-radio"]').click(function () {
            wizard = $(this).closest('.card-wizard');
            wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
            $(this).addClass('active');
            $(wizard).find('[type="radio"]').removeAttr('checked');
            $(this).find('[type="radio"]').attr('checked', 'true');
        });

        $('[data-toggle="wizard-checkbox"]').click(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $(this).find('[type="checkbox"]').removeAttr('checked');
            } else {
                $(this).addClass('active');
                $(this).find('[type="checkbox"]').attr('checked', 'true');
            }
        });

        $('.set-full-height').css('height', 'auto');

        //Function to show image before upload
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(window).resize(function () {
            $('.card-wizard').each(function () {
                $wizard = $(this);

                index = $wizard.bootstrapWizard('currentIndex');
                refreshAnimation($wizard, index);

                $('.moving-tab').css({
                    'transition': 'transform 0s'
                });
            });
        });

        function refreshAnimation($wizard, index) {
            $total = $wizard.find('.nav li').length;
            $li_width = 100 / $total;

            total_steps = $wizard.find('.nav li').length;
            move_distance = $wizard.width() / total_steps;
            index_temp = index;
            vertical_level = 0;

            mobile_device = $(document).width() < 600 && $total > 3;

            if (mobile_device) {
                move_distance = $wizard.width() / 2;
                index_temp = index % 2;
                $li_width = 50;
            }

            $wizard.find('.nav li').css('width', $li_width + '%');

            step_width = move_distance;
            move_distance = move_distance * index_temp;

            $current = index + 1;

            if ($current == 1 || (mobile_device == true && (index % 2 == 0))) {
                move_distance -= 8;
            } else if ($current == total_steps || (mobile_device == true && (index % 2 == 1))) {
                move_distance += 8;
            }

            if (mobile_device) {
                vertical_level = parseInt(index / 2);
                vertical_level = vertical_level * 38;
            }

            $wizard.find('.moving-tab').css('width', step_width);
            $('.moving-tab').css({
                'transform': 'translate3d(' + move_distance + 'px, ' + vertical_level + 'px, 0)',
                'transition': 'all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1)'

            });
        }

    });

    </script>
}