@model SAT.HR.Models.SalaryIncreaseViewModel

@{
    ViewBag.Title = "SalaryIncrease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_atm</i>
                    </div>
                    <h4 class="card-title"><span> การเลื่อนขั้นเงินเดือน > </span><small>พนักงาน</small></h4>
                </div>
                <div class="card-body">
                    <!-- Wizard container -->
                    <div class="card-header text-center">
                        <h3 class="card-title">
                            <span>ประมวลผลปรับขั้นเงินเดือน</span>
                        </h3>
                    </div>

                    <div class="wizard-navigation" id="tabs">
                        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item li-step1" id="li-step1">
                                <a class="nav-link active show" role="tablist" href="#step1" data-toggle="tab" data-id="tab-step1">
                                    <i class="material-icons">filter_1</i> ประมวลผล
                                </a>
                            </li>
                            <li class="nav-item li-step2" id="li-step2">
                                <a class="nav-link" role="tablist" href="#step2" data-toggle="tab" data-id="tab-step2">
                                    <i class="material-icons">filter_2</i> ตรวจสอบและแก้ไข
                                </a>
                            </li>
                            <li class="nav-item li-step3" id="li-step3">
                                <a class="nav-link disabled" role="tablist" href="#step3" data-toggle="tab" data-id="tab-step3">
                                    <i class="material-icons">filter_3</i> ยืนยันการปรับขั้นเงินเดือน
                                </a>
                            </li>
                        </ul>
                    </div>

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-step" }))
                    {
                        <div class="card-body">
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active div-step1" id="step1">
                                    <div id="div-step1">
                                        @Html.Partial("_SalaryIncreaseStep1", Model)
                                    </div>
                                </div>
                                <div class="tab-pane div-step2" id="step2">
                                    <div id="div-step2">

                                    </div>
                                </div>
                                <div class="tab-pane div-step3" id="step3">
                                    <div id="div-step3">
                                        @Html.Partial("_SalaryIncreaseStep3")
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card-footer">
                        <div class="mr-auto">
                            <input name="previous" class="btn btn-previous btn-fill btn-default" style="display: none;" type="button" value="ย้อนกลับ">
                        </div>
                        <div class="ml-auto">
                            <input name="next" class="btn btn-next btn-fill btn-primary" type="button" value="ถัดไป">
                            <input name="finish" class="btn btn-finish btn-fill btn-primary" style="display: none;" type="button" value="ยืนยัน">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade modal-large modal-detail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>รายงานการปรับเงินเดือน</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="div-detail"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-save-salary">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<style>
    .card .card-body .col-form-label, .card .card-body {
        padding-top: 0px;
    }

        .card .card-body .col-form-label.label-checkbox, .card .card-body .label-on-right.label-checkbox {
            padding-top: 0px;
        }

    .nav-pills .nav-item i {
       padding: 0 20px 0 20px;
    }
</style>

@section Scripts {
    <script>

    $(document).ready(function () {

        $(".file-path").hide();
        $(".file-upload").show();

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        $("#tabs li").click(function () {
            if (this.id == "li-step1") {
                $(".btn-previous").hide();
                $(".btn-next").show();
                $(".btn-finish").hide();
            }
            else if (this.id == "li-step2") {
                step2();

                if (!$('.li-step2').find('a').hasClass('disabled')) {
                    $(".btn-previous").show();
                    $(".btn-next").show();
                    $(".btn-finish").hide();
                }
            }
            else if (this.id == "li-step3") {
                if (!$('.li-step3').find('a').hasClass('disabled')) {
                    $(".btn-previous").show();
                    $(".btn-next").hide();
                    $(".btn-finish").show();
                }
            }
        });

        $(".btn-previous").click(function () {
            var ref_this = $("#tabs li").find(".active");
            var id = ref_this.data("id");
            if (id == "tab-step2") {
                $('.li-step2').find('a').removeClass('active');
                $('.div-step2').removeClass('active');

                $('.li-step1').find('a').addClass('active').removeClass('disabled');
                $('.div-step1').addClass('active');

                $(".btn-previous").hide();
                $(".btn-next").show();
            }
            else if (id == "tab-step3") {
                $('.li-step3').find('a').removeClass('active');
                $('.div-step3').removeClass('active');

                $('.li-step2').find('a').addClass('active').removeClass('disabled');
                $('.div-step2').addClass('active');

                $(".btn-next").show();
                $(".btn-finish").hide();
            }
        });

        $(".btn-next").click(function () {
            var ref_this = $("#tabs li").find(".active");
            var id = ref_this.data("id");
            if (id == "tab-step1") {
                step2();
            }
            else if (id == "tab-step2") {
                step3();
            }
        });

        $(".btn-finish").click(function () {
            //var BookCmd = $('#BookCmd').val();
            //var DateCmd = $('#DateCmd').val();
            //var DateEff = $('#DateEff').val();

            var status = $(".form-step").valid();
            if (!status) {
                return false;
            }
            else {
                swal({
                    title: '',
                    text: "ยืนยันการปรับขั้นเงินเดือน",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                    cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                    buttonsStyling: false
                }).then(function () {
                    SalaryIncreaseProcess();
                }).catch(swal.noop)
            }
        });

        function step2() {
            //ยืนยันการปรับขั้นเงินเดือน
            @*swal({
                title: '',
                text: "ตรวจสอบและแก้ไข",
                type: 'question',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                buttonsStyling: false
            }).then(function () {*@
                $('.li-step1').find('a').removeClass('active');
                $('.div-step1').removeClass('active');

                $('.li-step2').find('a').addClass('active').removeClass('disabled');
                $('.div-step2').addClass('active');

                $('.li-step3').find('a').removeClass('active').removeClass('disabled');
                $('.div-step3').removeClass('active');

                $(".btn-previous").show();

                SalaryIncreaseStep2();
            //}).catch(swal.noop)
        }

        function step3() {
            $('.li-step2').find('a').removeClass('active');
            $('.div-step2').removeClass('active');

            $('.li-step3').find('a').addClass('active').removeClass('disabled');
            $('.div-step3').addClass('active');

            $(".btn-next").hide();
            $(".btn-finish").show();
        }

        function SalaryIncreaseStep2() {
            var level = parseFloat($('#UpLevel').val()); //parseInt($("input[name='salarylevel']:checked").val());
            var step = parseFloat($('#UpStep').val()); //parseInt($("input[name='salarystep']:checked").val());
            var year = parseFloat($('#Year').val());
            var url = '@Url.Action("SalaryIncreaseStep2", "Payroll")?level=' + level + '&step=' + step + '&year=' + year;
            $("#div-step2").load(url);
        }

        function SalaryIncreaseProcess() {
            var form = $(".form-step")[0];
            var formData = new FormData(form);
            formData.append(".FileUpload", FileUpload);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalaryIncreaseConfirm", "Payroll")',
                data: formData,
                dataType: 'json',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (res) {
                    swal({
                        title: "",
                        text: "ประมวลผลปรับขั้นเงินเดือนเรียบร้อยแล้ว",
                        type: "success",
                        confirmButtonClass: "btn btn-primary",
                        confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)',
                        buttonsStyling: false,
                    }).then(function () {
                        window.location.href = '@Url.Action("SalaryIncrease", "Payroll")';
                    });
                }
            });
        }

    });

    </script>
}