@model SAT.HR.Models.SalaryIncreaseProcessViewModel

@{
    ViewBag.Title = "SalaryIncrease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_atm</i>
                    </div>
                    <h4 class="card-title"><span> การเลื่อนขั้นเงินเดือน > </span><small>พนักงาน</small></h4>
                </div>
                <div class="card-body">
                    <!-- Wizard container -->
                    <div class="card-header text-center">
                        <h3 class="card-title">
                            <span>ประมวลผลปรับขั้นเงินเดือน</span>
                        </h3>
                    </div>
                    <div class="wizard-navigation" id="tabs">
                        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item li-step1" id="li-step1">
                                <a class="nav-link active show" role="tablist" href="#step1" data-toggle="tab" data-id="tab-step1">
                                    <i class="material-icons">filter_1</i> ประมวลผล
                                </a>
                            </li>
                            <li class="nav-item li-step2" id="li-step2">
                                <a class="nav-link" role="tablist" href="#step2" data-toggle="tab" data-id="tab-step2">
                                    <i class="material-icons">filter_2</i> ตรวจสอบและแก้ไข
                                </a>
                            </li>
                            <li class="nav-item li-step3" id="li-step3">
                                <a class="nav-link disabled" role="tablist" href="#step3" data-toggle="tab" data-id="tab-step3">
                                    <i class="material-icons">filter_3</i> ยืนยันการปรับขั้นเงินเดือน
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content tab-subcategories">
                            <div class="tab-pane active div-step1" id="step1">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"><span> ประมวลผล</span></h4>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-6" style="margin-top:-30px">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-20">ปีบัญชี</label>
                                                <div class="col-sm-3">
                                                    <div class="form-group bmd-form-group">
                                                        @Html.TextBox("year", (int)ViewBag.Year, new { @class = "form-control text-left", type = "number" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label label-checkbox m-t-5">ระดับ</label>
                                                <div class="col-sm-10 checkbox-radios">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarylevel" class="form-check-input" type="radio" value="1" checked> 1 ถึง 8
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarylevel" class="form-check-input" type="radio" value="2"> 9 ถึง 10
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-b-20">
                                                <label class="col-sm-2 col-form-label label-checkbox m-t-5">ขั้นที่ปรับขึ้น</label>
                                                <div class="col-sm-10 checkbox-radios">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarystep" class="form-check-input" type="radio" value="0.5"> 0.5 ขั้น
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input name="salarystep" class="form-check-input" type="radio" value="1.0" checked> 1 ขั้น
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane div-step2" id="step2">
                                <div id="div-step2"></div>
                            </div>
                            <div class="tab-pane div-step3" id="step3">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"><span>ยืนยันการปรับขั้นเงินเดือน</span></h4>
                                        <p class="card-category text-danger">
                                            ระบบจะทำการนำข้อมูลเงินเดือนพนักงานจากขั้นตอนที่ 2 เข้าสู่ฐานข้อมูลพนักงานจริง <br />ก่อนนำข้อมูลเข้ากรุณาตรวจสอบข้อมูลในขั้นตอนที่ 2 (ตรวจสอบจาก Exel) ให้ถูกต้องก่อนทำรายการในขั้นตอนนี้
                                        </p>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-7 m-b-30">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-15">คำสั่ง</label>
                                                <div class="col-sm-10">
                                                    <div class="form-group bmd-form-group">
                                                        @Html.TextBoxFor(m => m.BookCmd, new { @class = "form-control", required = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-15">วันที่ลงคำสั่ง</label>
                                                <div class="col-sm-4">
                                                    <div class="form-group bmd-form-group">
                                                        @Html.TextBoxFor(m => m.DateCmd, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", required = "true" })
                                                    </div>
                                                </div>
                                                <label class="col-sm-2 col-form-label m-t-15">วันที่มีผล</label>
                                                <div class="col-sm-4">
                                                    <div class="form-group bmd-form-group">
                                                        @Html.TextBoxFor(m => m.DateEff, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", required = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label m-t-15">ไฟล์แนบ</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group-prepend file-path">
                                                        @*<a class="m-t-10 file-name" target="_blank" href=@Url.Action("DownloadFileAttach", "Employee", new { id = Model.ProcessID, type = 1 })>@Model.PathFile</a>*@
                                                        <a class="btn btn-link btn-danger btn-just-icon file-delete" file-delete href="#" title="ลบ" style="margin-top:0px"><i class="material-icons">delete_forever</i></a>
                                                    </div>
                                                    <input id="FileUpload" name="FileUpload" type="file" class="form-control file-upload">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mr-auto">
                            <input name="previous" class="btn btn-previous btn-fill btn-default" style="display: none;" type="button" value="ย้อนกลับ">
                        </div>
                        <div class="ml-auto">
                            <input name="next" class="btn btn-next btn-fill btn-primary" type="button" value="ถัดไป">
                            <input name="finish" class="btn btn-finish btn-fill btn-primary" style="display: none;" type="button" value="ยืนยัน">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Classic Modal -->
<div class="modal fade modal-detail" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>ยกเลิกใบลา</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="div-detail"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnClose)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-cancel">@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnSave)</button>
            </div>
        </div>
    </div>
</div>

<style>
    .card .card-body .col-form-label, .card .card-body {
        padding-top: 0px;
    }

        .card .card-body .col-form-label.label-checkbox, .card .card-body .label-on-right.label-checkbox {
            padding-top: 5px;
        }
</style>

@section Scripts {
    <script>

    $(document).ready(function () {

        $(".file-path").hide();
        $(".file-upload").show();

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });


        $("#tabs li").click(function () {
            if (this.id == "li-step1") {
                $(".btn-previous").hide();
                $(".btn-next").show();
                $(".btn-finish").hide();
            }
            else if (this.id == "li-step2") {
                step1();
                if (!$('.li-step2').find('a').hasClass('disabled')) {
                    $(".btn-previous").show();
                    $(".btn-next").show();
                    $(".btn-finish").hide();
                } else {

                }
            }
            else if (this.id == "li-step3") {
                if (!$('.li-step3').find('a').hasClass('disabled')) {
                    $(".btn-previous").show();
                    $(".btn-next").hide();
                    $(".btn-finish").show();
                }
            }
        });


        $(".btn-previous").click(function () {
            var ref_this = $("#tabs li").find(".active");
            var id = ref_this.data("id");
            if (id == "tab-step2") {
                $('.li-step2').find('a').removeClass('active');
                $('.div-step2').removeClass('active');

                $('.li-step1').find('a').removeClass('disabled').addClass('active');
                $('.div-step1').addClass('active');

                $(".btn-previous").hide();
                $(".btn-next").show();
            }
            else if (id == "tab-step3") {
                $('.li-step3').find('a').removeClass('active');
                $('.div-step3').removeClass('active');

                $('.li-step2').find('a').removeClass('disabled').addClass('active');
                $('.div-step2').addClass('active');

                $(".btn-next").show();
                $(".btn-finish").hide();
            }
        });

        $(".btn-next").click(function () {
            var ref_this = $("#tabs li").find(".active");
            var id = ref_this.data("id");
            if (id == "tab-step1") {
                step1();
            }
            else if (id == "tab-step2") {
                $('.li-step2').find('a').removeClass('active');
                $('.div-step2').removeClass('active');

                $('.li-step3').find('a').removeClass('disabled').addClass('active');
                $('.div-step3').addClass('active');

                $(".btn-next").hide();
                $(".btn-finish").show();
            }
        });

        $(".btn-finish").click(function () {
            step3();
        });

        function step1() {
            //ยืนยันการปรับขั้นเงินเดือน
            @*swal({
                title: '',
                text: "ตรวจสอบและแก้ไข",
                type: 'question',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                buttonsStyling: false
            }).then(function () {*@
                $('.li-step1').find('a').removeClass('active');
                $('.div-step1').removeClass('active');

                $('.li-step2').find('a').removeClass('disabled').addClass('active');
                $('.div-step2').addClass('active');

                $('.li-step3').find('a').removeClass('active').removeClass('disabled');

                $(".btn-previous").show();

                GetEmpSalaryIncrease();
            //}).catch(swal.noop)
        }

        function step2() {

        }

        function step3() {
            swal({
                title: '',
                text: "ยืนยันการปรับขั้นเงินเดือน",
                type: 'question',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnYes)',
                cancelButtonText: '@MvcHtmlString.Create(SAT.HR.Resources.ResourceSAT.btnNo)',
                buttonsStyling: false
            }).then(function () {
                SalaryIncreaseProcess();
            }).catch(swal.noop)
        }


        function GetEmpSalaryIncrease() {
            var level = parseInt($("input[name='salarylevel']:checked").val());
            var step = parseInt($("input[name='salarystep']:checked").val());
            var year = parseFloat($('#year').val());
            var url = '@Url.Action("GetEmpSalaryIncrease", "Payroll")?level=' + level + '&step=' + step + '&year=' + year;
            $("#div-step2").load(url);
        }

        function SalaryIncreaseProcess() {
            var level = parseInt($("input[name='salarylevel']:checked").val());
            var step = parseInt($("input[name='salarystep']:checked").val());
            var year = parseFloat($('#year').val());

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalaryIncreaseProcess", "Payroll")',
                data: { year: year, level: level, step: step },
                dataType: 'json',
                success: function (res) {

                }
            });
        }

    });

    </script>
}